@using Microsoft.AspNetCore.Components.Web;
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.WebUtilities;
@using pepeizqs_deals_web.Areas.Identity.Data;
@using System.ComponentModel.DataAnnotations
@using System.Text;

@inject UserManager<Usuario> UserManager
@inject IHttpContextAccessor HttpContextAccessor

<div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); max-width: 600px; padding: 40px; margin: auto;">
    <div class="texto-info">@Herramientas.Idiomas.CogerCadena(idioma, "String1", "ForgotPassword")</div>

    <hr>

    <div class="row">
        <div style="display: flex; flex-direction: column;">
            <label class="texto-info-entrada">@Herramientas.Idiomas.CogerCadena(idioma, "String2", "ForgotPassword")</label>
            <input value="@correo" @onchange="@(e => CambiarCorreo(e))" style="padding: 5px 10px; background-color: var(--fondoEntrada); border: 0px; color: var(--colorTexto); display: block;" />

            <div style="margin-top: 30px;">
                <button @onclick="EnviarCorreo" class="boton" style="font-size: 18px;">
                    @Herramientas.Idiomas.CogerCadena(idioma, "String3", "ForgotPassword")
                </button>
            </div>

            @if (string.IsNullOrEmpty(mensajeExito) == false)
            {
                <div class="alert alert-success alert-dismissible" style="margin-bottom: 0px; margin-top: 30px;" role="alert">
                    @mensajeExito
                </div>
            }
        </div>
    </div>
</div>


@code {

    #nullable disable

    [Parameter]
    public string idioma { get; set; }

    private string correo = string.Empty;

    private string mensajeExito = string.Empty;

    private void CambiarCorreo(ChangeEventArgs texto)
    {
        correo = texto.Value.ToString();
    }

    private async void EnviarCorreo()
    {
        mensajeExito = null;

        EmailAddressAttribute comprobador = new EmailAddressAttribute();

        if (comprobador.IsValid(correo))
        {
            Usuario usuario = await UserManager.FindByEmailAsync(correo);

            if (usuario != null)
            {
                if (usuario.EmailConfirmed == true)
                {
                    string codigo = await UserManager.GeneratePasswordResetTokenAsync(usuario);
                    codigo = WebEncoders.Base64UrlEncode(Encoding.UTF8.GetBytes(codigo));

                    string enlaceFinal = "https://pepeizqdeals.com/account/resetpassword?code=" + codigo;

                    Herramientas.Correos.EnviarContraseñaOlvidada(enlaceFinal, correo);
                    mensajeExito = Herramientas.Idiomas.CogerCadena(idioma, "String4", "ForgotPassword");
                }
            }
        }
    }
}
