@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using pepeizqs_deals_web.Areas.Identity.Data
@using System.Text
@using System.Text.Encodings.Web

@inject UserManager<Usuario> UserManager
@inject IHttpContextAccessor HttpContextAccessor

<style>
    .caja-diseño {
        background: linear-gradient(180deg, var(--fondoOscuro) 0%, var(--fondoMinimo) 211.07%);
        border: 2px solid var(--fondoOscuro);
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.28),0px 0px 2px 0px rgba(0, 0, 0, 0.24);
        border-radius: 5px;
    }
</style>

@if (usuario != null)
{
    <div class="caja-diseño" style="padding: 40px;">
        @if (correoConfirmado == true)
        {
            <div class="input-group" style="margin-bottom: 25px;">
                <label class="texto-info-entrada">@Herramientas.Idiomas.BuscarTexto(idioma, "Mail1", "Account")</label>
                <input value="@correoDefecto" class="entrada-texto" disabled />
            </div>
        }
        else
        {
            <div style="margin-bottom: 25px;">
                <label class="texto-info-entrada">@Herramientas.Idiomas.BuscarTexto(idioma, "Mail1", "Account")</label>
                <input value="@correoDefecto" class="entrada-texto" placeholder="@Herramientas.Idiomas.BuscarTexto(idioma, "Mail2", "Account")" disabled />

                <button @onclick="ClickearConfirmacionCorreo" class="btn btn-link" style="outline: none; border: 0; color: var(--colorTextoOscuro);">
                    @Herramientas.Idiomas.BuscarTexto(idioma, "Mail3", "Account")
                </button>

                @if (correoConfirmadoEnviado == true)
                {
                    <div class="alert alert-success alert-dismissible" style="margin-bottom: 0px; margin-top: 10px;" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        @Herramientas.Idiomas.BuscarTexto(idioma, "Mail6", "Account")
                    </div>
                }
            </div>
        }

        <div style="margin-bottom: 30px;">
            <label class="texto-info-entrada">@Herramientas.Idiomas.BuscarTexto(idioma, "Mail4", "Account")</label>
            <input @onchange="@(e => CambiarNuevoCorreo(e))" value="@correoNuevo" class="entrada-texto" autocomplete="email" aria-required="true" placeholder="@Herramientas.Idiomas.BuscarTexto(idioma, "Mail2", "Account")" />
        </div>

        <div style="display: flex; flex-direction: column; gap: 20px;">
            <button @onclick="ClickearCambioCorreo" class="boton-pequeño" style="font-size: 18px; width: fit-content; padding: 12px 20px;">
                @Herramientas.Idiomas.BuscarTexto(idioma, "Mail5", "Account")
            </button> 

            @if (correoCambioEnviado == true)
            {
                <div class="alert alert-success alert-dismissible" style="margin-bottom: 0px;" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    @Herramientas.Idiomas.BuscarTexto(idioma, "Mail7", "Account")
                </div>
            }
        </div>
    </div>
}

@code {

    #nullable disable

    [Parameter]
    public string idioma { get; set; }

    private Usuario usuario = new Usuario();

    private string correoDefecto = string.Empty;
    private string correoNuevo = string.Empty;

    private bool correoConfirmado = false;
    private bool correoConfirmadoEnviado = false;
    private bool correoCambioEnviado = false;

    protected override async Task OnInitializedAsync()
    {
        usuario = await UserManager.GetUserAsync(HttpContextAccessor.HttpContext.User);

        if (usuario != null)
        {
            correoDefecto = await UserManager.GetEmailAsync(usuario);
            correoConfirmado = await UserManager.IsEmailConfirmedAsync(usuario);
        }
    }

    private async void ClickearConfirmacionCorreo()
    {
        if (usuario != null)
        {
            correoConfirmadoEnviado = false;
            string usuarioId = await UserManager.GetUserIdAsync(usuario);
            string correo = await UserManager.GetEmailAsync(usuario);
            string codigo = await UserManager.GenerateEmailConfirmationTokenAsync(usuario);
            codigo = WebEncoders.Base64UrlEncode(Encoding.UTF8.GetBytes(codigo));

            string enlaceFinal = "https://pepeizqdeals.com/Account/ConfirmEmail?userId=" + usuarioId + "&code=" + codigo;

            Herramientas.Correos.EnviarConfirmacionCorreo(usuario.Language, HtmlEncoder.Default.Encode(enlaceFinal), correo);
            correoConfirmadoEnviado = true;
        }
    }

    private void CambiarNuevoCorreo(ChangeEventArgs texto)
    {
        correoNuevo = texto.Value.ToString();
    }

    private async void ClickearCambioCorreo()
    {
        if (usuario != null)
        {
            if (string.IsNullOrEmpty(correoNuevo) == false)
            {
                correoCambioEnviado = false;

                string usuarioId = await UserManager.GetUserIdAsync(usuario);
                string codigo = await UserManager.GenerateChangeEmailTokenAsync(usuario, correoNuevo);
                codigo = WebEncoders.Base64UrlEncode(Encoding.UTF8.GetBytes(codigo));

                string enlaceFinal = "https://pepeizqdeals.com/Account/ConfirmEmailChange?userId=" + usuarioId + "&email=" + correoNuevo + "&code=" + codigo;

                Herramientas.Correos.EnviarCambioCorreo(usuario.Language, HtmlEncoder.Default.Encode(enlaceFinal), correoNuevo);
                correoCambioEnviado = true;
            }
        }      
    }
}
