@using Microsoft.AspNetCore.Components.Web

<style>
    .boton-pestañas {
    color: var(--colorTexto);
    background-color: var(--fondoOscuro);
    border: 1px solid var(--fondoBotonPequeño);
    width: 100%;
    transition: transform .2s;
    font-size: 17px;
    padding: 15px 20px;
    }

    .boton-pestañas:hover {
    color: var(--colorTextoHover);
    transform: scale(1.01);
    }

    .grid-estructura {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    }

    @@media (max-width: 800px) {
    .grid-estructura {
    display: grid;
    gap: 15px;
    }
    }
</style>

<div style="max-width: 1200px; margin: auto;">
    <label style="font-size: 20px;">@Herramientas.Idiomas.BuscarTexto(idioma, "String1", "Account")</label>
    <hr/>

    <div class="grid-estructura" style="margin-top: 20px; background-color: var(--fondoMinimo); border: 1px solid var(--fondoBotonPequeño); padding: 20px;">
        <button @onclick="@(e => MostrarCorreo(e))" class="boton-pestañas">
            <div style="display: flex; align-items: center; gap: 20px; text-align: left;">
                <i class="fa-solid fa-share" style="font-size: 22px;"></i>

                <div>
                    <div>
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String2", "Account")
                    </div>

                    <div style="margin-top: 5px; font-size: 14px;">
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String17", "Account")
                    </div>
                </div>
            </div>
        </button>

        <button @onclick="@(e => MostrarContraseña(e))" class="boton-pestañas">
            <div style="display: flex; align-items: center; gap: 20px; text-align: left;">
                <i class="fa-solid fa-unlock" style="font-size: 22px;"></i>

                <div>
                    <div>
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String4", "Account")
                    </div>

                    <div style="margin-top: 5px; font-size: 14px;">
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String16", "Account")
                    </div>
                </div>
            </div>
        </button>

        <button @onclick="@(e => MostrarDatosPersonales(e))" class="boton-pestañas">
            <div style="display: flex; align-items: center; gap: 20px; text-align: left;">
                <i class="fa-solid fa-download" style="font-size: 22px;"></i>

                <div>
                    <div>
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String7", "Account")
                    </div>

                    <div style="margin-top: 5px; font-size: 14px;">
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String15", "Account")
                    </div>
                </div>
            </div>
        </button>

        <button @onclick="@(e => MostrarIdioma(e))" class="boton-pestañas">
            <div style="display: flex; align-items: center; gap: 20px; text-align: left;">
                <i class="fa-solid fa-earth-europe" style="font-size: 22px;"></i>

                <div>
                    <div>
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String24", "Account")
                    </div>

                    <div style="margin-top: 5px; font-size: 14px;">
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String25", "Account")
                    </div>
                </div>
            </div>
        </button>

        <button @onclick="@(e => MostrarPatreon(e))" class="boton-pestañas">
            <div style="display: flex; align-items: center; gap: 20px; text-align: left;">
                <i class="fa-brands fa-patreon" style="font-size: 22px;"></i>

                <div>
                    <div>
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String8", "Account")
                    </div>

                    <div style="margin-top: 5px; font-size: 14px;">
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String13", "Account")
                    </div>
                </div>
            </div>
        </button>

        <button @onclick="@(e => MostrarClaves(e))" class="boton-pestañas">
            <div style="display: flex; align-items: center; gap: 20px; text-align: left;">
                <i class="fa-solid fa-key" style="font-size: 22px;"></i>

                <div>
                    <div>
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String6", "Account")
                    </div>

                    <div style="margin-top: 5px; font-size: 14px;">
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String12", "Account")
                    </div>
                </div>
            </div>
        </button>
    </div>

    <label style="font-size: 20px; margin-top: 40px;">@Herramientas.Idiomas.BuscarTexto(idioma, "String23", "Account")</label>
    <hr />

    <div class="grid-estructura" style="margin-top: 20px; background-color: var(--fondoMinimo); border: 1px solid var(--fondoBotonPequeño); padding: 20px;">
        <button @onclick="@(e => MostrarNotificacionesCorreo(e))" class="boton-pestañas">
            <div style="display: flex; align-items: center; gap: 20px; text-align: left;">
                <i class="fa-solid fa-envelope" style="font-size: 22px;"></i>

                <div>
                    <div>
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String3", "Account")
                    </div>

                    <div style="margin-top: 5px; font-size: 14px;">
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String14", "Account")
                    </div>
                </div>
            </div>
        </button>

        <button @onclick="@(e => MostrarNotificacionesPush(e))" class="boton-pestañas">
            <div style="display: flex; align-items: center; gap: 20px; text-align: left;">
                <i class="fa-solid fa-bell" style="font-size: 22px;"></i>

                <div>
                    <div>
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String21", "Account")
                    </div>

                    <div style="margin-top: 5px; font-size: 14px;">
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String22", "Account")
                    </div>
                </div>
            </div>
        </button>
    </div>

    <label style="font-size: 20px; margin-top: 40px;">@Herramientas.Idiomas.BuscarTexto(idioma, "String18", "Account")</label>
    <hr />

    <div class="grid-estructura" style="margin-top: 20px; background-color: var(--fondoMinimo); border: 1px solid var(--fondoBotonPequeño); padding: 20px;">
        <button @onclick="@(e => MostrarSteam(e))" class="boton-pestañas">
            <div style="display: flex; align-items: center; gap: 20px; text-align: left;">
                <img src="@Juegos.JuegoDRM2.SacarImagen(Juegos.JuegoDRM.Steam)" style="max-width: 30px; max-height: 30px;" />

                <div>
                    <div>
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String5", "Account")
                    </div>

                    <div style="margin-top: 5px; font-size: 14px;">
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String11", "Account")
                    </div>
                </div>
            </div>
        </button>

        <button @onclick="@(e => MostrarGog(e))" class="boton-pestañas">
            <div style="display: flex; align-items: center; gap: 20px; text-align: left;">
                <img src="@Juegos.JuegoDRM2.SacarImagen(Juegos.JuegoDRM.GOG)" style="max-width: 30px; max-height: 30px;" />

                <div>
                    <div>
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String9", "Account")
                    </div>

                    <div style="margin-top: 5px; font-size: 14px;">
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String10", "Account")
                    </div>
                </div>
            </div>
        </button>

        <button @onclick="@(e => MostrarIsthereanydeal(e))" class="boton-pestañas">
            <div style="display: flex; align-items: center; gap: 20px; text-align: left;">
                <img src="/imagenes/otros/itad.webp" style="max-width: 30px; max-height: 30px;" />

                <div>
                    <div>
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String19", "Account")
                    </div>

                    <div style="margin-top: 5px; font-size: 14px;">
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String20", "Account")
                    </div>
                </div>
            </div>
        </button>

        <button @onclick="@(e => MostrarAmazon(e))" class="boton-pestañas">
            <div style="display: flex; align-items: center; gap: 20px; text-align: left;">
                <img src="/imagenes/otros/itad.webp" style="max-width: 30px; max-height: 30px;" />

                <div>
                    <div>
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String19", "Account")
                    </div>

                    <div style="margin-top: 5px; font-size: 14px;">
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String20", "Account")
                    </div>
                </div>
            </div>
        </button>
    </div>
</div>

@if (enseñarPestaña == true)
{
    <div class="opciones-panel">
        <div style="display: flex; align-items: start; margin: auto; justify-content: center; max-height: 100vh; min-width: 100vh; max-width: 1000px; background-color: var(--fondoMinimo); border: 1px solid var(--fondoBotonPequeño); padding: 40px; overflow-y: scroll; scrollbar-color: var(--fondoCodigo) var(--fondoOscuro);">
            <button style="color: var(--colorTextoVisitado); background-color: var(--fondoBotonPequeño); border: 0px; padding: 8px 15px;" @onclick="ClickearCerrarPestaña">
                <i class="fa-solid fa-arrow-left" style="font-size: 25px;"></i>
            </button>

            <div style="width: 100%; margin-left: 40px;">
                @if (mostrarCorreo == true)
                {
                    <Correo idioma="@idioma" />
                }

                @if (mostrarContraseña == true)
                {
                    <CambioContrasena idioma="@idioma" />
                }

                @if (mostrarDatosPersonales == true)
                {
                    <DatosPersonales idioma="@idioma" />
                }

                @if (mostrarIdioma == true)
                {
                    <Idioma idioma="@idioma" />
                }

                @if (mostrarPatreon == true)
                {
                    <Patreon idioma="@idioma" />
                }

                @if (mostrarClaves == true)
                {
                    <Claves idioma="@idioma" />
                }

                @if (mostrarNotificacionesCorreo == true)
                {
                    <NotificacionesCorreo idioma="@idioma" />
                }

                @if (mostrarNotificacionesPush == true)
                {
                    <NotificacionesPush idioma="@idioma" userAgent="@userAgent" />
                }

                @if (mostrarSteam == true)
                {
                    <CuentaSteam idioma="@idioma" />
                }

                @if (mostrarGog == true)
                {
                    <CuentaGog idioma="@idioma" />
                }

                @if (mostrarIsthereanydeal == true)
                {
                    <Isthereanydeal idioma="@idioma" />
                }

                @if (mostrarAmazon == true)
                {
                    <Amazon idioma="@idioma" />
                }
            </div> 
        </div>
    </div>
}

@code {

    #nullable disable

    [Parameter]
    public string idioma { get; set; }

    [Parameter]
    public string userAgent { get; set; }

    private bool enseñarPestaña = false;

    private void CerrarPestañas()
    {
        mostrarCorreo = false;
        mostrarContraseña = false;
        mostrarDatosPersonales = false;
        mostrarIdioma = false;
        mostrarPatreon = false;
        mostrarClaves = false;

        mostrarNotificacionesCorreo = false;
        mostrarNotificacionesPush = false;

        mostrarSteam = false;
        mostrarGog = false;
        mostrarIsthereanydeal = false;
        mostrarAmazon = false;
    }

    private void ClickearCerrarPestaña()
    {
        enseñarPestaña = false;
    }

    private bool mostrarCorreo = false;

    private void MostrarCorreo(MouseEventArgs e)
    {
        CerrarPestañas();
        enseñarPestaña = true;
        mostrarCorreo = true;
    }

    private bool mostrarContraseña = false;

    private void MostrarContraseña(MouseEventArgs e)
    {
        CerrarPestañas();
        enseñarPestaña = true;
        mostrarContraseña = true;
    }

    private bool mostrarDatosPersonales = false;

    private void MostrarDatosPersonales(MouseEventArgs e)
    {
        CerrarPestañas();
        enseñarPestaña = true;
        mostrarDatosPersonales = true;
    }

    private bool mostrarIdioma = false;

    private void MostrarIdioma(MouseEventArgs e)
    {
        CerrarPestañas();
        enseñarPestaña = true;
        mostrarIdioma = true;
    }

    private bool mostrarPatreon = false;

    private void MostrarPatreon(MouseEventArgs e)
    {
        CerrarPestañas();
        enseñarPestaña = true;
        mostrarPatreon = true;
    }

    private bool mostrarClaves = false;

    private void MostrarClaves(MouseEventArgs e)
    {
        CerrarPestañas();
        enseñarPestaña = true;
        mostrarClaves = true;
    }

    private bool mostrarNotificacionesCorreo = false;

    private void MostrarNotificacionesCorreo(MouseEventArgs e)
    {
        CerrarPestañas();
        enseñarPestaña = true;
        mostrarNotificacionesCorreo = true;
    }

    private bool mostrarNotificacionesPush = false;

    private void MostrarNotificacionesPush(MouseEventArgs e)
    {
        CerrarPestañas();
        enseñarPestaña = true;
        mostrarNotificacionesPush = true;
    }

    private bool mostrarSteam = false;

    private void MostrarSteam(MouseEventArgs e)
    {
        CerrarPestañas();
        enseñarPestaña = true;
        mostrarSteam = true;
    }

    private bool mostrarGog = false;

    private void MostrarGog(MouseEventArgs e)
    {
        CerrarPestañas();
        enseñarPestaña = true;
        mostrarGog = true;
    }

    private bool mostrarIsthereanydeal = false;

    private void MostrarIsthereanydeal(MouseEventArgs e)
    {
        CerrarPestañas();
        enseñarPestaña = true;
        mostrarIsthereanydeal = true;
    }

    private bool mostrarAmazon = false;

    private void MostrarAmazon(MouseEventArgs e)
    {
        CerrarPestañas();
        enseñarPestaña = true;
        mostrarAmazon = true;
    }
}
