@using APIs.Steam
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Identity
@using pepeizqs_deals_web.Areas.Identity.Data

@inject UserManager<Usuario> UserManager
@inject IHttpContextAccessor HttpContextAccessor

<style>
	.cargando {
		width: 48px;
		height: 48px;
		border: 5px solid var(--colorTexto);
		border-bottom-color: transparent;
		border-radius: 50%;
		display: inline-block;
		box-sizing: border-box;
		animation: rotation 1s linear infinite;
    }

    @@keyframes rotation {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
    } 
</style>

@if (usuario != null)
{
	if (usuario.EmailConfirmed == true)
	{
		<div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 40px;">
			@if (ocupado == false)
			{
				<input class="entrada-texto" placeholder="@Herramientas.Idiomas.BuscarTexto(idioma, "Steam1", "Account")" value="@usuario.SteamAccount" @oninput="TextoCambiaSteamCuenta" />
			}
			else
			{
				<div>@usuario.SteamAccount</div>
			}
			
			<div style="display: flex; align-items: start; margin: 20px 0px;">
				<div style="padding-top: 10px; padding-right: 20px;">
					<i class="fa-solid fa-circle-info" style="font-size: 30px;"></i>
				</div>

				<div style="width: 100%;">
					<label>@Herramientas.Idiomas.BuscarTexto(idioma, "Steam2", "Account")</label>

					<button @onclick="ClickearEnseñarImagen" style="outline: none; border: 0; background-color: transparent; color: var(--colorTextoOscuro); margin-top: 20px; padding: 0px; text-align: left;">
						@Herramientas.Idiomas.BuscarTexto(idioma, "Steam3", "Account")
					</button>
				</div>
			</div>

			@if (errorCuentaUsada == true)
			{
				<div class="alert alert-danger alert-dismissible" style="margin-bottom: 0px; margin-top: 30px; border-radius: 0px;" role="alert">
					@Herramientas.Idiomas.BuscarTexto(idioma, "Steam4", "Account")
				</div>
			}

			@if (Convert.ToDateTime(usuario.SteamAccountLastCheck) + TimeSpan.FromMinutes(10) > DateTime.Now)
			{
				<div class="alert alert-danger alert-dismissible" style="margin-bottom: 0px; margin-top: 30px; border-radius: 0px;" role="alert">
					<div>
						@Herramientas.Idiomas.BuscarTexto(idioma, "Steam12", "Account")
					</div>

					<div style="margin-top: 10px;">
						<label>@Herramientas.Idiomas.BuscarTexto(idioma, "Steam10", "Account"): @Herramientas.Calculadora.DiferenciaTiempo(Convert.ToDateTime(usuario.SteamAccountLastCheck), idioma)</label>
					</div>
				</div>
			}
			else
			{
				if (ocupado == false)
				{
					<button class="boton" style="font-size: 18px; max-width: 250px; margin-top: 20px; cursor: pointer;" @onclick="@(e => ActualizarCuenta(e))">
						@Herramientas.Idiomas.BuscarTexto(idioma, "Steam5", "Account")
					</button>
				}
				else
				{
					<div style="display: flex; align-items: center; gap: 20px; margin-top: 20px;">
						<div class="cargando" />
						<div>
							@mensajeCargando	
						</div>
					</div>					
				}
			}
		</div>

		@if (string.IsNullOrEmpty(usuario.SteamId) == false && string.IsNullOrEmpty(usuario.Nickname) == false)
		{
			<div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 40px; margin-top: 20px; display: flex; align-items: start;">
				@if (string.IsNullOrEmpty(usuario.Avatar) == false)
				{
					<div style="padding-right: 40px">
						<img src="@usuario.Avatar" style="max-width: 70px; max-height: 70px;" />
					</div>
				}

				<div style="width: 100%;">
					@if (string.IsNullOrEmpty(usuario.SteamId) == false)
					{
						<div>
							<label>@Herramientas.Idiomas.BuscarTexto(idioma, "Steam6", "Account") @usuario.SteamId</label>
						</div>
					}

					@if (string.IsNullOrEmpty(usuario.Nickname) == false)
					{
						<div style="margin-top: 5px;">
							<label>@Herramientas.Idiomas.BuscarTexto(idioma, "Steam7", "Account") @usuario.Nickname</label>
						</div>
					}

					@if (string.IsNullOrEmpty(usuario.SteamGames) == false)
					{
						<div style="margin-top: 5px;">
							<label>@Herramientas.Idiomas.BuscarTexto(idioma, "Steam8", "Account") @MensajeCantidad(usuario.SteamGames)</label>
						</div>
					}

					@if (string.IsNullOrEmpty(usuario.SteamWishlist) == false)
					{
						<div style="margin-top: 5px;">
							<label>@Herramientas.Idiomas.BuscarTexto(idioma, "Steam9", "Account") @MensajeCantidad(usuario.SteamWishlist)</label>
						</div>
					}
				</div>
			</div>
		}
	}
	else
	{
		<div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 40px;">
			<div class="alert alert-danger alert-dismissible" style="margin: 0px;" role="alert">
				@Herramientas.Idiomas.BuscarTexto(idioma, "Steam11", "Account")
			</div>
		</div>
	}
}

@if (enseñarImagen == true)
{
	<div class="opciones-panel">
		<div style="display: flex; align-items: start; margin: auto; justify-content: center; max-height: 100vh; max-width: 1000px;">
			<button style="color: var(--colorTextoVisitado); background-color: var(--fondoBotonPequeño); border: 0px; padding: 8px 15px;" @onclick="ClickearEnseñarImagen">
				<i class="fa-solid fa-xmark" style="font-size: 30px;"></i>
			</button>

			<img src="/imagenes/otros/permisos.jpg" style="margin-left: 20px; max-width: 100%; max-height: 100%;" />
		</div>
	</div>	
}

@code {

	#nullable disable

	[Parameter]
	public string idioma { get; set; }

	private Usuario usuario = new Usuario();

	private string enlaceCuenta = string.Empty;

	private bool enseñarImagen = false;

	private bool ocupado = false;
	private string mensajeCargando = string.Empty;
	private bool errorCuentaUsada = false;

	private SteamUsuario datos = new SteamUsuario();

	protected override async Task OnInitializedAsync()
	{
		usuario = await UserManager.GetUserAsync(HttpContextAccessor.HttpContext.User);

		if (usuario != null)
		{
			if (string.IsNullOrEmpty(usuario.SteamAccountLastCheck) == false)
			{
				if (Convert.ToDateTime(usuario.SteamAccountLastCheck) + TimeSpan.FromMinutes(10) < DateTime.Now)
				{
					ocupado = false;

					if (string.IsNullOrEmpty(usuario.SteamAccount) == false)
					{
						enlaceCuenta = usuario.SteamAccount;
					}
				}
				else
				{
					ocupado = true;
				}
			}
		}
	}

	private void TextoCambiaSteamCuenta(ChangeEventArgs texto)
	{
		errorCuentaUsada = false;

		if (texto.Value.ToString().Trim().Length > 1)
		{
			enlaceCuenta = texto.Value.ToString().Trim();
		}
	}

	private string MensajeCantidad(string datos)
	{
		if (datos != null)
		{
			string juegos = datos;

			int i = 0;
			int j = 100000;

			while (i < j)
			{
				i += 1;

				if (juegos.Contains(",") == true)
				{
					int int1 = juegos.IndexOf(",");
					juegos = juegos.Remove(0, int1 + 1);
				}
				else
				{
					break;
				}
			}

			if (i > 0)
			{
				return i.ToString();
			}
		}

		return null;
	}

	private void ClickearEnseñarImagen()
	{
		if (enseñarImagen == true)
		{
			enseñarImagen = false;
		}
		else
		{
			enseñarImagen = true;
		}
	}

	private async Task ActualizarCuenta(MouseEventArgs args)
	{
		ocupado = true;

		if (string.IsNullOrEmpty(enlaceCuenta) == false)
		{
			if (enlaceCuenta.Contains("https://steamcommunity.com/id/") == true || enlaceCuenta.Contains("https://steamcommunity.com/profiles/") == true || enlaceCuenta.Contains("http://steamcommunity.com/id/") == true || enlaceCuenta.Contains("http://steamcommunity.com/profiles/") == true)
			{
				mensajeCargando = Herramientas.Idiomas.BuscarTexto(idioma, "Steam13", "Account");

				SteamCuentaID64 id64 = await APIs.Steam.Cuenta.CargarID64(enlaceCuenta);

				if (id64 != null)
				{
					bool cuentaUsada = BaseDatos.Usuarios.Buscar.CuentaSteamUsada(id64.ID64, usuario.Id);

					if (cuentaUsada == false)
					{
						mensajeCargando = Herramientas.Idiomas.BuscarTexto(idioma, "Steam14", "Account");

						datos = await APIs.Steam.Cuenta.CargarDatos(enlaceCuenta);

						if (datos != null)
						{
							usuario.SteamAccount = enlaceCuenta;
							usuario.SteamGames = datos.Juegos;
							usuario.SteamWishlist = datos.Deseados;
							usuario.Avatar = datos.Avatar;
							usuario.Nickname = datos.Nombre;
							usuario.SteamAccountLastCheck = DateTime.Now.ToString();
							usuario.OfficialGroup = datos.GrupoPremium;
							usuario.OfficialGroup2 = datos.GrupoNormal;
							usuario.SteamId = datos.SteamId;

							try
							{
								await UserManager.UpdateAsync(usuario);
							}
							catch
							{
								BaseDatos.Errores.Insertar.Mensaje("Cuenta Usuario Steam", usuario.Id + Environment.NewLine + enlaceCuenta);
							}
						}
					}
					else
					{
						errorCuentaUsada = true;

						usuario.SteamAccount = null;

						try
						{
							await UserManager.UpdateAsync(usuario);
						}
						catch
						{							
						}
					}					
				}
			}
		}

		if (Convert.ToDateTime(usuario.SteamAccountLastCheck) + TimeSpan.FromMinutes(10) > DateTime.Now)
		{
			ocupado = true;
		}
		else
		{
			ocupado = false;
		}		
	}
}
