@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Identity
@using global::Juegos
@using pepeizqs_deals_web.Areas.Identity.Data

@inject UserManager<Usuario> UserManager
@inject IHttpContextAccessor HttpContextAccessor

<style>
    .boton-pestañas {
        color: var(--colorTexto);
        background-color: var(--fondoOscuro);
        border: 1px solid var(--fondoBotonPequeño);
        width: 100%;
        transition: transform .2s;
        font-size: 17px;
        padding: 15px 20px;
    }

    .boton-pestañas:hover {
        color: var(--colorTextoHover);
        transform: scale(1.01);
    }

    .grid-estructura {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    }

    @@media (max-width: 800px) {
    .grid-estructura {
    display: grid;
    gap: 15px;
    }
    }
</style>

<div style="max-width: 1200px; margin: auto;">
    <label style="font-size: 20px;">@Herramientas.Idiomas.BuscarTexto(idioma, "String1", "Account")</label>
    <hr/>

    <div class="grid-estructura" style="margin-top: 20px; background-color: var(--fondoMinimo); border: 1px solid var(--fondoBotonPequeño); padding: 20px;">
        <button @onclick="@(e => MostrarCorreo(e))" class="boton-pestañas">
            <div style="display: flex; align-items: center; gap: 20px; text-align: left;">
                <div style="max-width: 22px;">
                    <svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M307 34.8c-11.5 5.1-19 16.6-19 29.2l0 64-112 0C78.8 128 0 206.8 0 304C0 417.3 81.5 467.9 100.2 478.1c2.5 1.4 5.3 1.9 8.1 1.9c10.9 0 19.7-8.9 19.7-19.7c0-7.5-4.3-14.4-9.8-19.5C108.8 431.9 96 414.4 96 384c0-53 43-96 96-96l96 0 0 64c0 12.6 7.4 24.1 19 29.2s25 3 34.4-5.4l160-144c6.7-6.1 10.6-14.7 10.6-23.8s-3.8-17.7-10.6-23.8l-160-144c-9.4-8.5-22.9-10.6-34.4-5.4z" />
                    </svg>
                </div>

                <div>
                    <div>
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String2", "Account")
                    </div>

                    <div style="margin-top: 5px; font-size: 14px;">
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String17", "Account")
                    </div>
                </div>
            </div>
        </button>

        <button @onclick="@(e => MostrarContraseña(e))" class="boton-pestañas">
            <div style="display: flex; align-items: center; gap: 20px; text-align: left;">
                <div style="max-width: 22px;">
                    <svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path d="M144 144c0-44.2 35.8-80 80-80c31.9 0 59.4 18.6 72.3 45.7c7.6 16 26.7 22.8 42.6 15.2s22.8-26.7 15.2-42.6C331 33.7 281.5 0 224 0C144.5 0 80 64.5 80 144l0 48-16 0c-35.3 0-64 28.7-64 64L0 448c0 35.3 28.7 64 64 64l320 0c35.3 0 64-28.7 64-64l0-192c0-35.3-28.7-64-64-64l-240 0 0-48z" />
                    </svg>
                </div>

                <div>
                    <div>
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String4", "Account")
                    </div>

                    <div style="margin-top: 5px; font-size: 14px;">
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String16", "Account")
                    </div>
                </div>
            </div>
        </button>

        <button @onclick="@(e => MostrarDatosPersonales(e))" class="boton-pestañas">
            <div style="display: flex; align-items: center; gap: 20px; text-align: left;">
                <div style="max-width: 22px;">
                    <svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 242.7-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7 288 32zM64 352c-35.3 0-64 28.7-64 64l0 32c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-32c0-35.3-28.7-64-64-64l-101.5 0-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352 64 352zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z" />
                    </svg>
                </div>

                <div>
                    <div>
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String7", "Account")
                    </div>

                    <div style="margin-top: 5px; font-size: 14px;">
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String15", "Account")
                    </div>
                </div>
            </div>
        </button>

        <button @onclick="@(e => MostrarIdioma(e))" class="boton-pestañas">
            <div style="display: flex; align-items: center; gap: 20px; text-align: left;">
                <div style="max-width: 22px;">
                    <svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M266.3 48.3L232.5 73.6c-5.4 4-8.5 10.4-8.5 17.1l0 9.1c0 6.8 5.5 12.3 12.3 12.3c2.4 0 4.8-.7 6.8-2.1l41.8-27.9c2-1.3 4.4-2.1 6.8-2.1l1 0c6.2 0 11.3 5.1 11.3 11.3c0 3-1.2 5.9-3.3 8l-19.9 19.9c-5.8 5.8-12.9 10.2-20.7 12.8l-26.5 8.8c-5.8 1.9-9.6 7.3-9.6 13.4c0 3.7-1.5 7.3-4.1 10l-17.9 17.9c-6.4 6.4-9.9 15-9.9 24l0 4.3c0 16.4 13.6 29.7 29.9 29.7c11 0 21.2-6.2 26.1-16l4-8.1c2.4-4.8 7.4-7.9 12.8-7.9c4.5 0 8.7 2.1 11.4 5.7l16.3 21.7c2.1 2.9 5.5 4.5 9.1 4.5c8.4 0 13.9-8.9 10.1-16.4l-1.1-2.3c-3.5-7 0-15.5 7.5-18l21.2-7.1c7.6-2.5 12.7-9.6 12.7-17.6c0-10.3 8.3-18.6 18.6-18.6l29.4 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-20.7 0c-7.2 0-14.2 2.9-19.3 8l-4.7 4.7c-2.1 2.1-3.3 5-3.3 8c0 6.2 5.1 11.3 11.3 11.3l11.3 0c6 0 11.8 2.4 16 6.6l6.5 6.5c1.8 1.8 2.8 4.3 2.8 6.8s-1 5-2.8 6.8l-7.5 7.5C386 262 384 266.9 384 272s2 10 5.7 13.7L408 304c10.2 10.2 24.1 16 38.6 16l7.3 0c6.5-20.2 10-41.7 10-64c0-111.4-87.6-202.4-197.7-207.7zm172 307.9c-3.7-2.6-8.2-4.1-13-4.1c-6 0-11.8-2.4-16-6.6L396 332c-7.7-7.7-18-12-28.9-12c-9.7 0-19.2-3.5-26.6-9.8L314 287.4c-11.6-9.9-26.4-15.4-41.7-15.4l-20.9 0c-12.6 0-25 3.7-35.5 10.7L188.5 301c-17.8 11.9-28.5 31.9-28.5 53.3l0 3.2c0 17 6.7 33.3 18.7 45.3l16 16c8.5 8.5 20 13.3 32 13.3l21.3 0c13.3 0 24 10.7 24 24c0 2.5 .4 5 1.1 7.3c71.3-5.8 132.5-47.6 165.2-107.2zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM187.3 100.7c-6.2-6.2-16.4-6.2-22.6 0l-32 32c-6.2 6.2-6.2 16.4 0 22.6s16.4 6.2 22.6 0l32-32c6.2-6.2 6.2-16.4 0-22.6z" />
                    </svg>
                </div>

                <div>
                    <div>
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String24", "Account")
                    </div>

                    <div style="margin-top: 5px; font-size: 14px;">
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String25", "Account")
                    </div>
                </div>
            </div>
        </button>

        <button @onclick="@(e => MostrarPatreon(e))" class="boton-pestañas">
            <div style="display: flex; align-items: center; gap: 20px; text-align: left;">
                <div style="max-width: 22px;">
                    <svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M489.7 153.8c-.1-65.4-51-119-110.7-138.3C304.8-8.5 207-5 136.1 28.4C50.3 68.9 23.3 157.7 22.3 246.2C21.5 319 28.7 510.6 136.9 512c80.3 1 92.3-102.5 129.5-152.3c26.4-35.5 60.5-45.5 102.4-55.9c72-17.8 121.1-74.7 121-150z" />
                    </svg>
                </div>

                <div>
                    <div>
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String8", "Account")
                    </div>

                    <div style="margin-top: 5px; font-size: 14px;">
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String13", "Account")
                    </div>
                </div>
            </div>
        </button>

        <button @onclick="@(e => MostrarClaves(e))" class="boton-pestañas">
            <div style="display: flex; align-items: center; gap: 20px; text-align: left;">
                <div style="max-width: 22px;">
                    <svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M336 352c97.2 0 176-78.8 176-176S433.2 0 336 0S160 78.8 160 176c0 18.7 2.9 36.8 8.3 53.7L7 391c-4.5 4.5-7 10.6-7 17l0 80c0 13.3 10.7 24 24 24l80 0c13.3 0 24-10.7 24-24l0-40 40 0c13.3 0 24-10.7 24-24l0-40 40 0c6.4 0 12.5-2.5 17-7l33.3-33.3c16.9 5.4 35 8.3 53.7 8.3zM376 96a40 40 0 1 1 0 80 40 40 0 1 1 0-80z" />
                    </svg>
                </div>

                <div>
                    <div>
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String6", "Account")
                    </div>

                    <div style="margin-top: 5px; font-size: 14px;">
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String12", "Account")
                    </div>
                </div>
            </div>
        </button>

        <button @onclick="@(e => MostrarForo(e))" class="boton-pestañas">
            <div style="display: flex; align-items: center; gap: 20px; text-align: left;">
                <div style="max-width: 22px;">
                    <svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                        <path d="M72 88a56 56 0 1 1 112 0A56 56 0 1 1 72 88zM64 245.7C54 256.9 48 271.8 48 288s6 31.1 16 42.3l0-84.7zm144.4-49.3C178.7 222.7 160 261.2 160 304c0 34.3 12 65.8 32 90.5l0 21.5c0 17.7-14.3 32-32 32l-64 0c-17.7 0-32-14.3-32-32l0-26.8C26.2 371.2 0 332.7 0 288c0-61.9 50.1-112 112-112l32 0c24 0 46.2 7.5 64.4 20.3zM448 416l0-21.5c20-24.7 32-56.2 32-90.5c0-42.8-18.7-81.3-48.4-107.7C449.8 183.5 472 176 496 176l32 0c61.9 0 112 50.1 112 112c0 44.7-26.2 83.2-64 101.2l0 26.8c0 17.7-14.3 32-32 32l-64 0c-17.7 0-32-14.3-32-32zm8-328a56 56 0 1 1 112 0A56 56 0 1 1 456 88zM576 245.7l0 84.7c10-11.3 16-26.1 16-42.3s-6-31.1-16-42.3zM320 32a64 64 0 1 1 0 128 64 64 0 1 1 0-128zM240 304c0 16.2 6 31 16 42.3l0-84.7c-10 11.3-16 26.1-16 42.3zm144-42.3l0 84.7c10-11.3 16-26.1 16-42.3s-6-31.1-16-42.3zM448 304c0 44.7-26.2 83.2-64 101.2l0 42.8c0 17.7-14.3 32-32 32l-64 0c-17.7 0-32-14.3-32-32l0-42.8c-37.8-18-64-56.5-64-101.2c0-61.9 50.1-112 112-112l32 0c61.9 0 112 50.1 112 112z" />
                    </svg>
                </div>

                <div>
                    <div>
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String26", "Account")
                    </div>

                    <div style="margin-top: 5px; font-size: 14px;">
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String27", "Account")
                    </div>
                </div>
            </div>
        </button>
    </div>

    @if (usuario.EmailConfirmed == true)
    {
        <label style="font-size: 20px; margin-top: 40px;">@Herramientas.Idiomas.BuscarTexto(idioma, "String23", "Account")</label>
        <hr />

        <div class="grid-estructura" style="margin-top: 20px; background-color: var(--fondoMinimo); border: 1px solid var(--fondoBotonPequeño); padding: 20px;">
            <button @onclick="@(e => MostrarNotificacionesCorreo(e))" class="boton-pestañas">
                <div style="display: flex; align-items: center; gap: 20px; text-align: left;">
                    <div style="max-width: 22px;">
                        <svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48L48 64zM0 176L0 384c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-208L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
                        </svg>
                    </div>

                    <div>
                        <div>
                            @Herramientas.Idiomas.BuscarTexto(idioma, "String3", "Account")
                        </div>

                        <div style="margin-top: 5px; font-size: 14px;">
                            @Herramientas.Idiomas.BuscarTexto(idioma, "String14", "Account")
                        </div>
                    </div>
                </div>
            </button>

            <button @onclick="@(e => MostrarNotificacionesPush(e))" class="boton-pestañas">
                <div style="display: flex; align-items: center; gap: 20px; text-align: left;">
                    <div style="max-width: 22px;">
                        <svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path d="M224 0c-17.7 0-32 14.3-32 32l0 19.2C119 66 64 130.6 64 208l0 18.8c0 47-17.3 92.4-48.5 127.6l-7.4 8.3c-8.4 9.4-10.4 22.9-5.3 34.4S19.4 416 32 416l384 0c12.6 0 24-7.4 29.2-18.9s3.1-25-5.3-34.4l-7.4-8.3C401.3 319.2 384 273.9 384 226.8l0-18.8c0-77.4-55-142-128-156.8L256 32c0-17.7-14.3-32-32-32zm45.3 493.3c12-12 18.7-28.3 18.7-45.3l-64 0-64 0c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7z" />
                        </svg>
                    </div>

                    <div>
                        <div>
                            @Herramientas.Idiomas.BuscarTexto(idioma, "String21", "Account")
                        </div>

                        <div style="margin-top: 5px; font-size: 14px;">
                            @Herramientas.Idiomas.BuscarTexto(idioma, "String22", "Account")
                        </div>
                    </div>
                </div>
            </button>
        </div>

        <label style="font-size: 20px; margin-top: 40px;">@Herramientas.Idiomas.BuscarTexto(idioma, "String18", "Account")</label>
        <hr />

        @*     <div class="grid-estructura" style="margin-top: 20px; background-color: var(--fondoMinimo); border: 1px solid var(--fondoBotonPequeño); padding: 20px;">
        <button @onclick="@(e => MostrarIsthereanydeal(e))" class="boton-pestañas">
            <div style="display: flex; align-items: center; gap: 20px; text-align: left;">
                <img src="/imagenes/otros/itad.webp" style="max-width: 30px; max-height: 30px;" />

                <div>
                    <div>
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String19", "Account")
                    </div>

                    <div style="margin-top: 5px; font-size: 14px;">
                        @Herramientas.Idiomas.BuscarTexto(idioma, "String20", "Account")
                    </div>
                </div>
            </div>
        </button>
    </div> *@

        <div class="grid-estructura" style="margin-top: 20px; background-color: var(--fondoMinimo); border: 1px solid var(--fondoBotonPequeño); padding: 20px;">
            <button @onclick="@(e => MostrarSteam(e))" class="boton-pestañas">
                <div style="display: flex; align-items: center; gap: 20px; text-align: left;">
                    <img src="@JuegoDRM2.SacarImagen(JuegoDRM.Steam)" style="max-width: 30px; max-height: 30px;" />

                    <div style="display: flex; flex-direction: column; gap: 5px;">
                        <div>
                            @JuegoDRM2.DevolverDRM(JuegoDRM.Steam)
                        </div>

                        @if (string.IsNullOrEmpty(usuario.SteamAccountLastCheck) == false)
                        {
                            <div style="font-size: 14px;">
                                @Herramientas.Idiomas.BuscarTexto(idioma, "String10", "Account") @Herramientas.Calculadora.DiferenciaTiempo(Convert.ToDateTime(usuario.SteamAccountLastCheck), idioma)
                            </div>
                        }
                    </div>
                </div>
            </button>

            <button @onclick="@(e => MostrarGog(e))" class="boton-pestañas">
                <div style="display: flex; align-items: center; gap: 20px; text-align: left;">
                    <img src="@JuegoDRM2.SacarImagen(JuegoDRM.GOG)" style="max-width: 30px; max-height: 30px;" />

                    <div style="display: flex; flex-direction: column; gap: 5px;">
                        <div>
                            @JuegoDRM2.DevolverDRM(JuegoDRM.GOG)
                        </div>

                        @if (usuario.GogAccountLastCheck != null)
                        {
                            <div style="font-size: 14px;">
                                @Herramientas.Idiomas.BuscarTexto(idioma, "String10", "Account") @Herramientas.Calculadora.DiferenciaTiempo(usuario.GogAccountLastCheck, idioma)
                            </div>
                        }
                    </div>
                </div>
            </button>

            <button @onclick="@(e => MostrarAmazon(e))" class="boton-pestañas">
                <div style="display: flex; align-items: center; gap: 20px; text-align: left;">
                    <img src="@JuegoDRM2.SacarImagen(JuegoDRM.Amazon)" style="max-width: 30px; max-height: 30px;" />

                    <div style="display: flex; flex-direction: column; gap: 5px;">
                        <div>
                            @JuegoDRM2.DevolverDRM(JuegoDRM.Amazon)
                        </div>

                        @if (usuario.AmazonLastImport != null)
                        {
                            <div style="font-size: 14px;">
                                @Herramientas.Idiomas.BuscarTexto(idioma, "String9", "Account") @Herramientas.Calculadora.DiferenciaTiempo(usuario.AmazonLastImport, idioma)
                            </div>
                        }
                    </div>
                </div>
            </button>

            <button @onclick="@(e => MostrarEpicGames(e))" class="boton-pestañas">
                <div style="display: flex; align-items: center; gap: 20px; text-align: left;">
                    <img src="@JuegoDRM2.SacarImagen(JuegoDRM.Epic)" style="max-width: 30px; max-height: 30px;" />

                    <div style="display: flex; flex-direction: column; gap: 5px;">
                        <div>
                            @JuegoDRM2.DevolverDRM(JuegoDRM.Epic)
                        </div>

                        @if (usuario.EpicGamesLastImport != null)
                        {
                            <div style="font-size: 14px;">
                                @Herramientas.Idiomas.BuscarTexto(idioma, "String9", "Account") @Herramientas.Calculadora.DiferenciaTiempo(usuario.EpicGamesLastImport, idioma)
                            </div>
                        }
                    </div>
                </div>
            </button>

            <button @onclick="@(e => MostrarUbisoft(e))" class="boton-pestañas">
                <div style="display: flex; align-items: center; gap: 20px; text-align: left;">
                    <img src="@JuegoDRM2.SacarImagen(JuegoDRM.Ubisoft)" style="max-width: 30px; max-height: 30px;" />

                    <div style="display: flex; flex-direction: column; gap: 5px;">
                        <div>
                            @JuegoDRM2.DevolverDRM(JuegoDRM.Ubisoft)
                        </div>

                        @if (usuario.UbisoftLastImport != null)
                        {
                            <div style="font-size: 14px;">
                                @Herramientas.Idiomas.BuscarTexto(idioma, "String9", "Account") @Herramientas.Calculadora.DiferenciaTiempo(usuario.UbisoftLastImport, idioma)
                            </div>
                        }
                    </div>
                </div>
            </button>

            <button @onclick="@(e => MostrarEa(e))" class="boton-pestañas">
                <div style="display: flex; align-items: center; gap: 20px; text-align: left;">
                    <img src="@JuegoDRM2.SacarImagen(JuegoDRM.EA)" style="max-width: 30px; max-height: 30px;" />

                    <div style="display: flex; flex-direction: column; gap: 5px;">
                        <div>
                            @JuegoDRM2.DevolverDRM(JuegoDRM.EA)
                        </div>

                        @if (usuario.EaLastImport != null)
                        {
                            <div style="font-size: 14px;">
                                @Herramientas.Idiomas.BuscarTexto(idioma, "String9", "Account") @Herramientas.Calculadora.DiferenciaTiempo(usuario.EaLastImport, idioma)
                            </div>
                        }
                    </div>
                </div>
            </button>
        </div>
    }
    else
    {
        <div style="margin-top: 40px;">
            @Herramientas.Idiomas.BuscarTexto(idioma, "String11", "Account")
        </div>
    }
</div>

@if (enseñarPestaña == true)
{
    <div class="opciones-panel">
        <div style="display: flex; align-items: start; gap: 40px; margin: auto; justify-content: center; max-height: 100vh; min-width: 100vh; max-width: 1000px; background-color: var(--fondoMinimo); border: 1px solid var(--fondoBotonPequeño); padding: 40px; overflow-y: scroll; scrollbar-color: var(--fondoCodigo) var(--fondoOscuro);">
            <button style="color: var(--colorTextoVisitado); background-color: var(--fondoBotonPequeño); border: 0px; width: fit-content; padding: 10px 15px;" @onclick="ClickearCerrarPestaña">
                <div style="max-width: 24px; max-height: 24px;">
                    <svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
                    </svg>
                </div>
            </button>

            <div style="width: 100%;">
                @if (mostrarCorreo == true)
                {
                    <Correo idioma="@idioma" />
                }

                @if (mostrarContraseña == true)
                {
                    <CambioContrasena idioma="@idioma" />
                }

                @if (mostrarDatosPersonales == true)
                {
                    <DatosPersonales idioma="@idioma" />
                }

                @if (mostrarIdioma == true)
                {
                    <Idioma idioma="@idioma" />
                }

                @if (mostrarPatreon == true)
                {
                    <Patreon idioma="@idioma" />
                }

                @if (mostrarClaves == true)
                {
                    <Claves idioma="@idioma" />
                }

                @if (mostrarForo == true)
                {
                    <Foro idioma="@idioma" />
                }

                @if (mostrarNotificacionesCorreo == true)
                {
                    <NotificacionesCorreo idioma="@idioma" />
                }

                @if (mostrarNotificacionesPush == true)
                {
                    <NotificacionesPush idioma="@idioma" userAgent="@userAgent" />
                }

                @if (mostrarSteam == true)
                {
                    <pepeizqs_deals_web.Pages.Componentes.Cuenta.Juegos.Steam idioma="@idioma" />
                }

                @if (mostrarGog == true)
                {
                    <pepeizqs_deals_web.Pages.Componentes.Cuenta.Juegos.Gog idioma="@idioma" />
                }

                @if (mostrarAmazon == true)
                {
                    <pepeizqs_deals_web.Pages.Componentes.Cuenta.Juegos.Amazon idioma="@idioma" />
                }

                @if (mostrarEpicGames == true)
                {
                    <pepeizqs_deals_web.Pages.Componentes.Cuenta.Juegos.EpicGames idioma="@idioma" />
                }

                @if (mostrarUbisoft == true)
                {
                    <pepeizqs_deals_web.Pages.Componentes.Cuenta.Juegos.Ubisoft idioma="@idioma" />
                }

                @if (mostrarEa == true)
                {
                    <pepeizqs_deals_web.Pages.Componentes.Cuenta.Juegos.Ea idioma="@idioma" />
                }

                @if (mostrarIsthereanydeal == true)
                {
                    <Isthereanydeal idioma="@idioma" />
                }
            </div> 
        </div>
    </div>
}

@code {

    #nullable disable

    [Parameter]
    public string idioma { get; set; }

    [Parameter]
    public string userAgent { get; set; }

    [Parameter]
    public bool adminLogeado { get; set; }

    private Usuario usuario = new Usuario();

    private bool enseñarPestaña = false;

    protected override async Task OnInitializedAsync()
    {
        usuario = await UserManager.GetUserAsync(HttpContextAccessor.HttpContext.User);
    }

    private void CerrarPestañas()
    {
        mostrarCorreo = false;
        mostrarContraseña = false;
        mostrarDatosPersonales = false;
        mostrarIdioma = false;
        mostrarPatreon = false;
        mostrarClaves = false;
        mostrarForo = false;

        mostrarNotificacionesCorreo = false;
        mostrarNotificacionesPush = false;

        mostrarSteam = false;
        mostrarGog = false;
        mostrarAmazon = false;
        mostrarEpicGames = false;
        mostrarUbisoft = false;
        mostrarEa = false;

        mostrarIsthereanydeal = false;
    }

    private void ClickearCerrarPestaña()
    {
        enseñarPestaña = false;
    }

    private bool mostrarCorreo = false;

    private void MostrarCorreo(MouseEventArgs e)
    {
        CerrarPestañas();
        enseñarPestaña = true;
        mostrarCorreo = true;
    }

    private bool mostrarContraseña = false;

    private void MostrarContraseña(MouseEventArgs e)
    {
        CerrarPestañas();
        enseñarPestaña = true;
        mostrarContraseña = true;
    }

    private bool mostrarDatosPersonales = false;

    private void MostrarDatosPersonales(MouseEventArgs e)
    {
        CerrarPestañas();
        enseñarPestaña = true;
        mostrarDatosPersonales = true;
    }

    private bool mostrarIdioma = false;

    private void MostrarIdioma(MouseEventArgs e)
    {
        CerrarPestañas();
        enseñarPestaña = true;
        mostrarIdioma = true;
    }

    private bool mostrarPatreon = false;

    private void MostrarPatreon(MouseEventArgs e)
    {
        CerrarPestañas();
        enseñarPestaña = true;
        mostrarPatreon = true;
    }

    private bool mostrarClaves = false;

    private void MostrarClaves(MouseEventArgs e)
    {
        CerrarPestañas();
        enseñarPestaña = true;
        mostrarClaves = true;
    }

    private bool mostrarForo = false;

    private void MostrarForo(MouseEventArgs e)
    {
        CerrarPestañas();
        enseñarPestaña = true;
        mostrarForo = true;
    }

    private bool mostrarNotificacionesCorreo = false;

    private void MostrarNotificacionesCorreo(MouseEventArgs e)
    {
        CerrarPestañas();
        enseñarPestaña = true;
        mostrarNotificacionesCorreo = true;
    }

    private bool mostrarNotificacionesPush = false;

    private void MostrarNotificacionesPush(MouseEventArgs e)
    {
        CerrarPestañas();
        enseñarPestaña = true;
        mostrarNotificacionesPush = true;
    }

    private bool mostrarSteam = false;

    private void MostrarSteam(MouseEventArgs e)
    {
        CerrarPestañas();
        enseñarPestaña = true;
        mostrarSteam = true;
    }

    private bool mostrarGog = false;

    private void MostrarGog(MouseEventArgs e)
    {
        CerrarPestañas();
        enseñarPestaña = true;
        mostrarGog = true;
    }

    private bool mostrarAmazon = false;

    private void MostrarAmazon(MouseEventArgs e)
    {
        CerrarPestañas();
        enseñarPestaña = true;
        mostrarAmazon = true;
    }

    private bool mostrarEpicGames = false;

    private void MostrarEpicGames(MouseEventArgs e)
    {
        CerrarPestañas();
        enseñarPestaña = true;
        mostrarEpicGames = true;
    }

    private bool mostrarUbisoft = false;

    private void MostrarUbisoft(MouseEventArgs e)
    {
        CerrarPestañas();
        enseñarPestaña = true;
        mostrarUbisoft = true;
    }

    private bool mostrarEa = false;

    private void MostrarEa(MouseEventArgs e)
    {
        CerrarPestañas();
        enseñarPestaña = true;
        mostrarEa = true;
    }

    private bool mostrarIsthereanydeal = false;

    private void MostrarIsthereanydeal(MouseEventArgs e)
    {
        CerrarPestañas();
        enseñarPestaña = true;
        mostrarIsthereanydeal = true;
    }
}
