@page

@using Microsoft.AspNetCore.Identity
@using pepeizqs_deals_web.Areas.Identity.Data

@model RegisterModel

@inject SignInManager<Usuario> SignInManager

@{
    ViewData["Title"] = Herramientas.Idiomas.CogerCadena(Model.idioma, "Title", "Register");
    Layout = "/Pages/Shared/_Layout.cshtml";

    bool usuarioLogeado = SignInManager.IsSignedIn(User);
}

@if (usuarioLogeado == false)
{
    <div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); max-width: 600px; padding: 40px; margin: auto;">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="texto-info">@Herramientas.Idiomas.CogerCadena(Model.idioma, "String1", "Register")</div>

            <hr />

            <div asp-validation-summary="ModelOnly" class="texto-peligro-entrada" role="alert"></div>

            <div style="margin-bottom: 20px;">
                <label asp-for="Input.Email" class="texto-info-entrada">
                    @Herramientas.Idiomas.CogerCadena(Model.idioma, "String2", "Register")
                </label>
                <input asp-for="Input.Email" class="entrada-texto" autocomplete="username" aria-required="true" placeholder="@Herramientas.Idiomas.CogerCadena(Model.idioma, "String3", "Register")" />
                <span asp-validation-for="Input.Email" class="texto-peligro-entrada"></span>
            </div>

            <div style="margin-bottom: 20px;">
                <label asp-for="Input.Password" class="texto-info-entrada">
                    @Herramientas.Idiomas.CogerCadena(Model.idioma, "String4", "Register")
                </label>
                <input asp-for="Input.Password" class="entrada-texto" autocomplete="new-password" aria-required="true" placeholder="@Herramientas.Idiomas.CogerCadena(Model.idioma, "String5", "Register")" />
                <span asp-validation-for="Input.Password" class="texto-peligro-entrada"></span>
            </div>

            <div style="margin-bottom: 30px;">
                <label asp-for="Input.ConfirmPassword" class="texto-info-entrada">
                    @Herramientas.Idiomas.CogerCadena(Model.idioma, "String6", "Register")
                </label>
                <input asp-for="Input.ConfirmPassword" class="entrada-texto" autocomplete="new-password" aria-required="true" placeholder="@Herramientas.Idiomas.CogerCadena(Model.idioma, "String5", "Register")" />
                <span asp-validation-for="Input.ConfirmPassword" class="texto-peligro-entrada"></span>
            </div>

            <button id="registerSubmit" type="submit" class="boton">
                @Herramientas.Idiomas.CogerCadena(Model.idioma, "String7", "Register")
            </button>

            @addTagHelper *, Owl.reCAPTCHA

            <div style="display: none;">
                <form method="POST">
                    <input id="token" name="token" type="text" />
                    <input id="submit" type="submit" value="submit" />
                </form>
            </div>

            <recaptcha-script-v3 />

            <script>
                function callback(token) {
                    document.getElementById("token").value = token;
                }
            </script>

            <recaptcha-script-v3-js action="login" callback="callback" />
        </form>

        @if (Model.errorMensaje.Length > 0)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>@Model.errorMensaje</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    </div>

    @(await Html.RenderComponentAsync<Componentes.Cuenta.Accesos>(RenderMode.ServerPrerendered, new
    {
        idioma = Model.idioma,
        mostrarRegistro = false
    }))
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
