@using Microsoft.AspNetCore.Components.Web

<style>
	.boton-pestañas {
		color: var(--colorTexto);
		background: transparent;
		text-align: center;
		border: 0;
		width: 100%;
		transition: transform .2s;
		font-size: 17px;
		padding: 10px;
	}

		.boton-pestañas:hover {
			color: var(--colorTextoHover);
			transform: scale(1.01);
		}
</style>

<div style="max-width: 1200px; margin: auto;">
	<h1 style="font-size: 23px;">@Herramientas.Idiomas.CogerCadena(idioma, "Title", "Api")</h1>
	<hr />

	<div style="display: flex; align-items: start; gap: 50px; margin-top: 20px;">
		<div style="width: 33%;">
			<div style="display: flex; align-items: center; flex-direction: column; gap: 10px;">
				<button @onclick="(e => MostrarJuegos1(e))" class="boton-pestañas" style="@estiloJuegos1;">
					@Herramientas.Idiomas.CogerCadena(idioma, "String1", "Api")
				</button>

				<button @onclick="(e => MostrarBundles1(e))" class="boton-pestañas" style="@estiloBundles1;">
					@Herramientas.Idiomas.CogerCadena(idioma, "String10", "Api")
				</button>

				<button @onclick="(e => MostrarBundles2(e))" class="boton-pestañas" style="@estiloBundles2;">
					@Herramientas.Idiomas.CogerCadena(idioma, "String17", "Api")
				</button>

				<button @onclick="(e => MostrarGratis1(e))" class="boton-pestañas" style="@estiloGratis1;">
					@Herramientas.Idiomas.CogerCadena(idioma, "String23", "Api")
				</button>

				<button @onclick="(e => MostrarSuscripciones1(e))" class="boton-pestañas" style="@estiloSuscripciones1;">
					@Herramientas.Idiomas.CogerCadena(idioma, "String26", "Api")
				</button>

				<button @onclick="(e => MostrarNoticias1(e))" class="boton-pestañas" style="@estiloNoticias1;">
					@Herramientas.Idiomas.CogerCadena(idioma, "String14", "Api")
				</button>

				<button @onclick="(e => MostrarNoticias2(e))" class="boton-pestañas" style="@fondoNoticias2;">
					@Herramientas.Idiomas.CogerCadena(idioma, "String20", "Api")
				</button>				
			</div>
		</div>


		<div style="width: 100%;">
			@if (mostrarJuegos1 == true)
			{
				<div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 40px;">
					@Herramientas.Idiomas.CogerCadena(idioma, "String2", "Api")

					<div style="padding: 10px 15px; background-color: var(--fondoCodigo); margin-top: 20px; margin-bottom: 20px;">
						<label style="text-decoration: none;">https://pepeizqdeals.com/game/<label style="text-decoration: underline;">6391</label>/Cyberpunk_2077/</label>
					</div>

					@Herramientas.Idiomas.CogerCadena(idioma, "String3", "Api")

					<div style="padding: 10px 15px; background-color: var(--fondoCodigo); margin-top: 20px;">
						<label style="text-decoration: none;">https://pepeizqdeals.com/api/game/6391</label>
					</div>
				</div>

				<div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 40px; margin-top: 20px;">
					<div style="margin-bottom: 20px;">
						@Herramientas.Idiomas.CogerCadena(idioma, "String4", "Api")
					</div>

					<div>
						@Herramientas.Idiomas.CogerCadena(idioma, "String5", "Api")
					</div>
					
					<div style="padding: 10px 15px; background-color: var(--fondoCodigo); margin-top: 20px;">
						<label style="text-decoration: none;">https://pepeizqdeals.com/steam/<label style="text-decoration: underline;">1091500</label></label>
					</div>

					<div style="padding: 10px 15px; background-color: var(--fondoCodigo); margin-top: 5px; margin-bottom: 20px;">
						<label style="text-decoration: none;">https://store.steampowered.com/app/<label style="text-decoration: underline;">1091500</label>/Cyberpunk_2077/</label>
					</div>

					@Herramientas.Idiomas.CogerCadena(idioma, "String6", "Api")

					<div style="padding: 10px 15px; background-color: var(--fondoCodigo); margin-top: 20px;">
						<label style="text-decoration: none;">https://pepeizqdeals.com/api/steam/1091500</label>
					</div>
				</div>

				<div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 40px; margin-top: 20px;">
					<div style="margin-bottom: 20px;">
						@Herramientas.Idiomas.CogerCadena(idioma, "String7", "Api")
					</div>

					<div>
						@Herramientas.Idiomas.CogerCadena(idioma, "String8", "Api")
					</div>

					<div style="padding: 10px 15px; background-color: var(--fondoCodigo); margin-top: 20px;">
						<label style="text-decoration: none;">https://pepeizqdeals.com/gog/<label style="text-decoration: underline;">cyberpunk_2077</label></label>
					</div>

					<div style="padding: 10px 15px; background-color: var(--fondoCodigo); margin-top: 5px; margin-bottom: 20px;">
						<label style="text-decoration: none;">https://www.gog.com/game/<label style="text-decoration: underline;">cyberpunk_2077</label></label>
					</div>

					@Herramientas.Idiomas.CogerCadena(idioma, "String9", "Api")

					<div style="padding: 10px 15px; background-color: var(--fondoCodigo); margin-top: 20px;">
						<label style="text-decoration: none;">https://pepeizqdeals.com/api/gog/cyberpunk_2077</label>
					</div>
				</div>
			}

			@if (mostrarBundles1 == true)
			{
				<div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 40px;">
					@Herramientas.Idiomas.CogerCadena(idioma, "String11", "Api")

					<div style="padding: 10px 15px; background-color: var(--fondoCodigo); margin-top: 20px; margin-bottom: 20px;">
						<label style="text-decoration: none;">https://pepeizqdeals.com/bundle/<label style="text-decoration: underline;">199</label>/Brutal_Beat_Em_Ups/</label>
					</div>

					@Herramientas.Idiomas.CogerCadena(idioma, "String12", "Api")

					<div style="padding: 10px 15px; background-color: var(--fondoCodigo); margin-top: 20px; margin-bottom: 20px;">
						<label style="text-decoration: none;">https://pepeizqdeals.com/api/bundle/199/</label>
					</div>

					@Herramientas.Idiomas.CogerCadena(idioma, "String13", "Api")

					<div style="padding: 10px 15px; background-color: var(--fondoCodigo); margin-top: 20px;">
						<label style="text-decoration: none;">https://pepeizqdeals.com/api/bundle/199/games/</label>
					</div>
				</div>
			}

			@if (mostrarBundles2 == true)
			{
				<div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 40px;">
					@Herramientas.Idiomas.CogerCadena(idioma, "String18", "Api")

					<div style="padding: 10px 15px; background-color: var(--fondoCodigo); margin-top: 20px; margin-bottom: 20px;">
						<label style="text-decoration: none;">https://pepeizqdeals.com/api/last-bundles/</label>
					</div>

					@Herramientas.Idiomas.CogerCadena(idioma, "String19", "Api")

					<div style="padding: 10px 15px; background-color: var(--fondoCodigo); margin-top: 20px;">
						<label style="text-decoration: none;">https://pepeizqdeals.com/api/last-bundles/<label style="text-decoration: underline;">25</label>/</label>
					</div>
				</div>
			}

			@if (mostrarGratis1 == true)
			{
				<div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 40px;">
					@Herramientas.Idiomas.CogerCadena(idioma, "String24", "Api")

					<div style="padding: 10px 15px; background-color: var(--fondoCodigo); margin-top: 20px; margin-bottom: 20px;">
						<label style="text-decoration: none;">https://pepeizqdeals.com/api/last-free/</label>
					</div>

					@Herramientas.Idiomas.CogerCadena(idioma, "String25", "Api")

					<div style="padding: 10px 15px; background-color: var(--fondoCodigo); margin-top: 20px;">
						<label style="text-decoration: none;">https://pepeizqdeals.com/api/last-free/<label style="text-decoration: underline;">25</label>/</label>
					</div>
				</div>
			}

			@if (mostrarSuscripciones1 == true)
			{
				<div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 40px;">
					@Herramientas.Idiomas.CogerCadena(idioma, "String27", "Api")

					<div style="padding: 10px 15px; background-color: var(--fondoCodigo); margin-top: 20px; margin-bottom: 20px;">
						<label style="text-decoration: none;">https://pepeizqdeals.com/api/last-subscriptions/</label>
					</div>

					@Herramientas.Idiomas.CogerCadena(idioma, "String28", "Api")

					<div style="padding: 10px 15px; background-color: var(--fondoCodigo); margin-top: 20px;">
						<label style="text-decoration: none;">https://pepeizqdeals.com/api/last-subscriptions/<label style="text-decoration: underline;">25</label>/</label>
					</div>
				</div>
			}

			@if (mostrarNoticias1 == true)
			{
				<div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 40px;">
					@Herramientas.Idiomas.CogerCadena(idioma, "String15", "Api")

					<div style="padding: 10px 15px; background-color: var(--fondoCodigo); margin-top: 20px; margin-bottom: 20px;">
						<label style="text-decoration: none;">https://pepeizqdeals.com/news/<label style="text-decoration: underline;">293</label></label>
					</div>

					@Herramientas.Idiomas.CogerCadena(idioma, "String16", "Api")

					<div style="padding: 10px 15px; background-color: var(--fondoCodigo); margin-top: 20px;">
						<label style="text-decoration: none;">https://pepeizqdeals.com/api/news/293/</label>
					</div>
				</div>
			}

			@if (estiloNoticias2 == true)
			{
				<div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 40px;">
					@Herramientas.Idiomas.CogerCadena(idioma, "String21", "Api")

					<div style="padding: 10px 15px; background-color: var(--fondoCodigo); margin-top: 20px; margin-bottom: 20px;">
						<label style="text-decoration: none;">https://pepeizqdeals.com/api/last-news/</label>
					</div>

					@Herramientas.Idiomas.CogerCadena(idioma, "String22", "Api")

					<div style="padding: 10px 15px; background-color: var(--fondoCodigo); margin-top: 20px;">
						<label style="text-decoration: none;">https://pepeizqdeals.com/api/last-news/<label style="text-decoration: underline;">25</label>/</label>
					</div>
				</div>
			}
		</div>
	</div>
</div>

@code {

	#nullable disable

	[Parameter]
	public string idioma { get; set; }

	protected override void OnInitialized()
	{
		estiloJuegos1 = fondo;
		mostrarJuegos1 = true;
	}

	private string fondo = "background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño)";

	private void CerrarPestañas()
	{
		mostrarJuegos1 = false;
		mostrarBundles1 = false;
		mostrarBundles2 = false;
		mostrarGratis1 = false;
		mostrarSuscripciones1 = false;
		mostrarNoticias1 = false;
		estiloNoticias2 = false;

		estiloJuegos1 = null;
		estiloBundles1 = null;
		estiloBundles2 = null;
		estiloGratis1 = null;
		estiloSuscripciones1 = null;
		estiloNoticias1 = null;
		fondoNoticias2 = null;
	}

	private bool mostrarJuegos1 = false;
	private string estiloJuegos1 = null;

	private void MostrarJuegos1(MouseEventArgs e)
	{
		CerrarPestañas();
		mostrarJuegos1 = true;
		estiloJuegos1 = fondo;		
	}

	private bool mostrarBundles1 = false;
	private string estiloBundles1 = null;

	private void MostrarBundles1(MouseEventArgs e)
	{
		CerrarPestañas();
		mostrarBundles1 = true;
		estiloBundles1 = fondo;		
	}

	private bool mostrarBundles2 = false;
	private string estiloBundles2 = null;

	private void MostrarBundles2(MouseEventArgs e)
	{
		CerrarPestañas();
		mostrarBundles2 = true;
		estiloBundles2 = fondo;		
	}

	private bool mostrarGratis1 = false;
	private string estiloGratis1 = null;

	private void MostrarGratis1(MouseEventArgs e)
	{
		CerrarPestañas();
		mostrarGratis1 = true;
		estiloGratis1 = fondo;		
	}

	private bool mostrarSuscripciones1 = false;
	private string estiloSuscripciones1 = null;

	private void MostrarSuscripciones1(MouseEventArgs e)
	{
		CerrarPestañas();
		mostrarSuscripciones1 = true;
		estiloSuscripciones1 = fondo;		
	}

	private bool mostrarNoticias1 = false;
	private string estiloNoticias1 = null;

	private void MostrarNoticias1(MouseEventArgs e)
	{
		CerrarPestañas();
		mostrarNoticias1 = true;
		estiloNoticias1 = fondo;		
	}

	private bool estiloNoticias2 = false;
	private string fondoNoticias2 = null;

	private void MostrarNoticias2(MouseEventArgs e)
	{
		CerrarPestañas();
		estiloNoticias2 = true;
		fondoNoticias2 = fondo;		
	}
}
