@using Microsoft.AspNetCore.Components.Web

@{
	string titulo = Herramientas.Idiomas.BuscarTexto(idioma, "Title", "Contact") + " • pepeizq's deals";
	string descripcion = Herramientas.Idiomas.BuscarTexto(idioma, "Subtitle", "Contact");
	string enlace = "https://pepeizqdeals.com/contact/";
	string imagen = "https://pepeizqdeals.com/logo/logoentrada.webp";

	<HeadContent>
		<meta name="og:title" Content="@titulo" />
		<meta name="description" content="@descripcion" />
		<meta name="og:description" content="@descripcion" />
		<meta name="og:url" content="@enlace" />
		<meta name="og:image" content="@imagen" />
		<meta name="og:site_name" content="pepeizq's deals" />
		<meta name="og:type" content="website" />
		<meta name="robots" content="index, follow" />
		<meta name="keywords" content="deals, games, free, offers, bundles" />

		<link rel="canonical" href="@enlace" />
	</HeadContent>
}

<div style="max-width: 1000px; margin: auto;">
	<h1 style="font-size: 23px;">@Herramientas.Idiomas.BuscarTexto(idioma, "Title", "Contact")</h1>
	<hr />

	<div style="display: flex; flex-direction: column; gap: 40px;">
		<div style="display: flex; align-items: center; gap: 20px; background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 20px;">
			<div style="max-width: 26px;">
				<svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
					<path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336l24 0 0-64-24 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l48 0c13.3 0 24 10.7 24 24l0 88 8 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-80 0c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" />
				</svg>
			</div>
			<div>
				@Herramientas.Idiomas.BuscarTexto(idioma, "String1", "Contact") @string.Format(Herramientas.Idiomas.BuscarTexto(idioma, "String2", "Contact"), "admin@pepeizqdeals.com")
			</div>
		</div>

		<div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 20px;">
			<div style="margin-left: 8px; margin-bottom: 8px;">
				@Herramientas.Idiomas.BuscarTexto(idioma, "String3", "Contact")
			</div>
			<input class="entrada-texto" value="@formularioCorreo" @oninput="TextoCambiaCorreo" />

			<div style="margin-left: 8px; margin-bottom: 8px; margin-top: 20px;">
				@Herramientas.Idiomas.BuscarTexto(idioma, "String4", "Contact")
			</div>
			<input class="entrada-texto" value="@formularioTitulo" @oninput="TextoCambiaTitulo" />

			<div style="margin-left: 8px; margin-bottom: 8px; margin-top: 20px;">
				@Herramientas.Idiomas.BuscarTexto(idioma, "String5", "Contact")
			</div>
			<textarea class="entrada-texto" value="@formularioContenido" @oninput="TextoCambiaContenido" rows="10" />

			@if (correoValido == true && tituloValido == true && contenidoValido == true)
			{
				<button class="boton" @onclick="EnviarmeCorreo" style="margin-top: 20px;">
					@Herramientas.Idiomas.BuscarTexto(idioma, "String6", "Contact")
				</button>
			}
			else
			{
				<div class="boton" style="opacity: 0.5; margin-top: 20px;">
					@Herramientas.Idiomas.BuscarTexto(idioma, "String6", "Contact")
				</div>
			}

			@if (formularioEnviado == true)
			{
				<div style="background-color: var(--fondoBien); padding: 10px 15px; margin-top: 30px;">
					@Herramientas.Idiomas.BuscarTexto(idioma, "String7", "Contact")
				</div>
			}
		</div>
	</div>
</div>

@code {

	#nullable disable

	[Parameter]
	public string idioma { get; set; }

	private string formularioCorreo = string.Empty;
	private bool correoValido = false;
	private string formularioTitulo = string.Empty;
	private bool tituloValido = false;
	private string formularioContenido = string.Empty;
	private bool contenidoValido = false;

	private bool formularioEnviado = false;

	private void TextoCambiaCorreo(ChangeEventArgs texto)
	{
		formularioCorreo = texto.Value.ToString();

		correoValido = false;

		if (string.IsNullOrEmpty(formularioCorreo) == false)
		{
			if (formularioCorreo.Contains("@") == true && formularioCorreo.Contains(".") == true)
			{
				correoValido = true;
			}
		}
	}

	private void TextoCambiaTitulo(ChangeEventArgs texto)
	{
		formularioTitulo = texto.Value.ToString();

		tituloValido = false;

		if (string.IsNullOrEmpty(formularioTitulo) == false)
		{
			if (formularioTitulo.Length > 10)
			{
				tituloValido = true;
			}
		}
	}

	private void TextoCambiaContenido(ChangeEventArgs texto)
	{
		formularioContenido = texto.Value.ToString();

		contenidoValido = false;

		if (string.IsNullOrEmpty(formularioContenido) == false)
		{
			if (formularioContenido.Length > 50)
			{
				contenidoValido = true;
			}
		}
	}

	private void EnviarmeCorreo()
	{
		formularioEnviado = Herramientas.Correos.EnviarCorreo(formularioContenido, formularioTitulo, formularioCorreo, "admin@pepeizqdeals.com");

		if (formularioEnviado == true)
		{
			formularioContenido = null;
			formularioTitulo = null;
			formularioCorreo = null;

			correoValido = false;
			tituloValido = false;
			contenidoValido = false;
		}
	}
}
