@using APIs.Steam
@using Juegos
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using Microsoft.AspNetCore.Identity
@using Microsoft.JSInterop
@using pepeizqs_deals_web.Areas.Identity.Data
@using System.Text.Json
@using System.Text
@using Tiendas2

@inject UserManager<Usuario> UserManager
@inject SignInManager<Usuario> SignInManager
@inject IHttpContextAccessor HttpContextAccessor
@inject IJSRuntime JavaScript
@inject NavigationManager NavManager

<script>
	window.downloadFileFromStream = async (fileName, contentStreamReference) => {
	const arrayBuffer = await contentStreamReference.arrayBuffer();
	const blob = new Blob([arrayBuffer]);
	const url = URL.createObjectURL(blob);
	const anchorElement = document.createElement('a');
	anchorElement.href = url;
	anchorElement.download = fileName ?? '';
	anchorElement.click();
	anchorElement.remove();
	URL.revokeObjectURL(url);
	}
</script>

<style>
	.deseado-imagen {
	width: 26%;
	}

	@@media (max-width: 800px) {
	.deseado-imagen {
	display: none;
	}
	}
</style>

<style>
	.cargando {
	width: 48px;
	height: 48px;
	border: 5px solid var(--colorTexto);
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
	}

	@@keyframes rotation {
	0% {
	transform: rotate(0deg);
	}

	100% {
	transform: rotate(360deg);
	}
	}
</style>

@if (usuario != null)
{
	if (cargado == false)
	{
		<div style="text-align: center; width: 100%;">
			<div class="cargando" />
		</div>		
	}
	else
	{
		if (deseadosGestor.Count == 0)
		{
			<div style="max-width: 800px; margin: auto;">
				<div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 40px;">
					@Herramientas.Idiomas.BuscarTexto(idioma, "String21", "Wishlist")
				</div>
			</div>
		}

		if (deseadosGestor.Count > 0)
		{
			<div style="max-width: 1000px; margin: auto;">
				<div style="background-color: var(--fondoCuerpo);">
					<div style="display: flex; align-items: center; width: 100%;">
						<div style="width: 100%; font-size: 23px; text-align: left;">
							@Herramientas.Idiomas.BuscarTexto(idioma, "String1", "Wishlist")

							@if (string.IsNullOrEmpty(otroUsuario) == false)
							{
								<label style="font-size: 14px; margin-left: 10px;">(@otroUsuario)</label>
							}
						</div>

						<div style="display: flex; align-items: center; justify-content: right; width: 100%;">
							<div style="font-size: 14px;">
								@string.Format(Herramientas.Idiomas.BuscarTexto(idioma, "String8", "Wishlist"), deseadosGestor.Count.ToString()) • @string.Format(Herramientas.Idiomas.BuscarTexto(idioma, "String11", "Wishlist"), cantidadMinimos.ToString())
							</div>
						</div>
					</div>

					<div style="display: flex; align-items: center; gap: 30px; width: 100%; margin: 15px 0px 25px 0px; background-color: var(--fondoMinimo); border: 1px solid var(--fondoBotonPequeño); padding: 20px;">
						<input type="text" @onchange="(e => TextoCambiaBusqueda(e))" class="entrada-texto" style="flex: 1; min-width: 150px;" placeholder="@Herramientas.Idiomas.BuscarTexto(idioma, "String7", "Wishlist")" />

						@if (string.IsNullOrEmpty(otroUsuario) == true)
						{
							<button class="boton-pequeño" @onclick="EnseñarOpciones" style="width: auto; padding: 10px 15px; border: 0px; color: var(--colorTextoVisitado);">
								@Herramientas.Idiomas.BuscarTexto(idioma, "String12", "Wishlist")
							</button>
						}

						<div class="menu-dropdown" style="width: auto;">
							<button class="boton-pequeño" style="display: flex; align-items: center; width: 100%; padding: 10px 15px; margin: 0; border: 0px; color: var(--colorTextoVisitado);">
								<div style="padding-right: 5px;">
									@Herramientas.Idiomas.BuscarTexto(idioma, "String2", "Wishlist"):
								</div>

								<div style="color: var(--colorEnlace); padding-right: 15px;">
									@ordenamientoElegido
								</div>

								<div>
									<i class="fa-solid fa-caret-down"></i>
								</div>
							</button>

							<div class="menu-dropdown-contenido" style="right: 0; width: 100%; background-color: var(--fondoBotonPequeño);">
								<button class="texto-cabecera menu-dropdown-item" style="text-align: left; width: 100%; border: 0px;" @onclick="OrdenarReseñasPorcentaje">
									@Herramientas.Idiomas.BuscarTexto(idioma, "String3", "Wishlist")
								</button>
								<button class="texto-cabecera menu-dropdown-item" style="text-align: left; width: 100%; border: 0px;" @onclick="OrdenarReseñasCantidad">
									@Herramientas.Idiomas.BuscarTexto(idioma, "String9", "Wishlist")
								</button>
								<hr />
								<button class="texto-cabecera menu-dropdown-item" style="text-align: left; width: 100%; border: 0px;" @onclick="OrdenarNombreAZ">
									@Herramientas.Idiomas.BuscarTexto(idioma, "String10", "Wishlist")
								</button>
								<button class="texto-cabecera menu-dropdown-item" style="text-align: left; width: 100%; border: 0px;" @onclick="OrdenarNombreZA">
									@Herramientas.Idiomas.BuscarTexto(idioma, "String14", "Wishlist")
								</button>
								<button class="texto-cabecera menu-dropdown-item" style="text-align: left; width: 100%; border: 0px;" @onclick="OrdenarPrecio">
									@Herramientas.Idiomas.BuscarTexto(idioma, "String4", "Wishlist")
								</button>
								<button class="texto-cabecera menu-dropdown-item" style="text-align: left; width: 100%; border: 0px;" @onclick="OrdenarDescuento">
									@Herramientas.Idiomas.BuscarTexto(idioma, "String5", "Wishlist")
								</button>
							</div>
						</div>
					</div>
				</div>

				@if (deseadosMostrar.Count > 0)
				{
					<Virtualize Context="juego" Items="deseadosMostrar" ItemSize="alturaFila">
						<ItemContent>
							<div style="margin: 20px 0px;">
								<a class="boton-pequeño" style="padding: 2px;" href="@Herramientas.EnlaceAcortador.Generar(juego.Precio.Enlace, juego.Precio.Tienda, usuarioPatreon)" target="_blank">
									<div style="display: flex; align-items: stretch; justify-content: center; flex-direction: row;">
										<div class="deseado-imagen">
											@{
												string imagen = juego.Imagen;

												if (imagen.Contains(APIs.GOG.Juego.dominioImagenes) == true)
												{
													imagen = imagen.Replace("_glx_logo", null);
													imagen = imagen.Replace(".png", ".webp");
												}
											}

											<img src="@imagen" style="height: 100%; width: 100%;" />
										</div>

										<div style="width: 100%; padding: 5px 20px;">
											<div style="margin-top: 5px;">@juego.Nombre</div>

											<div style="display: flex; align-items: center; margin-top: 5px;">
												<div style="width: 20px; height: 20px;">
													<img src="@Juegos.JuegoDRM2.SacarImagen(juego.DRM)" style="width: 100%; height: 100%;" />
												</div>

												@{
													if (juego.Precio.Precio > 0)
													{
														List<Tiendas2.Tienda> tiendas = TiendasCargar.GenerarListado();

														foreach (var tienda in tiendas)
														{
															if (tienda.Id == juego.Precio.Tienda)
															{
																<div style="width: 20px; height: 20px; margin-left: 10px;">
																	<img src="@tienda.ImagenIcono" style="width: 100%; height: 100%;" />
																</div>

																break;
															}
														}
													}
												}
											</div>
										</div>

										<div>
											<div style="display: flex; align-items: center;">
												<div style="text-align: center; padding: 10px 15px; margin: 0px; min-width: 65px;" class="juego-descuento">
													@juego.Precio.Descuento.ToString()%
												</div>

												<div style="padding: 5px 15px; min-width: 110px; text-align: center; font-size: 18px;">
													@MensajeMinimo(juego.Precio, false)
												</div>
											</div>

											@if (juego.Historico == true)
											{
												<div style="text-align: center; font-size: 14px; padding: 5px 15px; background-color: var(--fondoAlerta);">
													@Herramientas.Idiomas.BuscarTexto(idioma, "String6", "Wishlist")
												</div>
											}
											else
											{
												<div style="text-align: center; font-size: 14px; padding: 5px; background-color: var(--fondoOscuro);">
													@juego.HistoricoPrecio
												</div>
											}
										</div>
									</div>
								</a>

								@if (usuario.WishlistOption2 == true)
								{
									<div style="background-color: var(--fondoMinimo); border-left: 1px solid var(--fondoBotonPequeño); border-right: 1px solid var(--fondoBotonPequeño); border-bottom: 1px solid var(--fondoBotonPequeño); padding: 5px 10px; display: flex; align-items: center; gap: 10px;">
										@if (juego.Importado == false)
										{
											<button @onclick="@(e => QuitarJuego(e, juego.Id, juego.DRM))" class="boton-pequeño" style="width: fit-content; font-size: 14px;">
												@Herramientas.Idiomas.BuscarTexto(idioma, "String22", "Wishlist")
											</button>
										}

										<a class="boton-pequeño" href="/game/@juego.Id.ToString()/@Herramientas.EnlaceAdaptador.Nombre(juego.Nombre)/" style="width: fit-content; font-size: 14px;">
											@Herramientas.Idiomas.BuscarTexto(idioma, "String23", "Wishlist")
										</a>

										<div style="width: 100%; font-size: 14px; text-align: right">@Herramientas.Idiomas.BuscarTexto(idioma, "String15", "Wishlist"): @juego.CantidadBundles.ToString() • @Herramientas.Idiomas.BuscarTexto(idioma, "String16", "Wishlist"): @juego.CantidadGratis • @Herramientas.Idiomas.BuscarTexto(idioma, "String17", "Wishlist"): @juego.CantidadSuscripciones</div>
									</div>
								}
							</div>
						</ItemContent>
					</Virtualize>
				}
			</div>

			if (mostrarOpciones == true)
			{
				<div class="opciones-panel">
					<div style="background-color: var(--fondoMinimo); border: 1px solid var(--fondoBotonPequeño); max-width: 1200px; padding: 40px; display: flex; flex-direction: column; gap: 30px; overflow-y: scroll; scrollbar-color: var(--fondoCodigo) var(--fondoOscuro);">
						<div style="display: flex; align-items: center;">
							<button class="boton-pequeño" @onclick="OcultarOpciones" style="width: auto; padding: 5px 15px; margin-right: 20px; border: 0px; color: var(--colorTextoVisitado); font-size: 22px;">
								<i class="fa-solid fa-arrow-left"></i>
							</button>

							<div style="font-size: 20px;">
								@Herramientas.Idiomas.BuscarTexto(idioma, "String12", "Wishlist")
							</div>
						</div>

						<div>
							<div style="font-size: 18px;">
								@Herramientas.Idiomas.BuscarTexto(idioma, "String27", "Wishlist")
							</div>

							<hr/>

							<div style="display: flex; flex-direction: column; gap: 20px;">
								<div style="padding: 30px; background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); display: flex; align-items: center; gap: 20px;">
									<div class="checkbox-caja">
										<input type="checkbox" class="checkbox-interior" checked="@estadoEnseñarSoloMinimos" @onchange="EnseñarSoloMinimos">
									</div>

									<div style="display: flex; flex-direction: column; gap: 10px;">
										<div>
											@Herramientas.Idiomas.BuscarTexto(idioma, "String13", "Wishlist")
										</div>

										<div style="font-size: 14px;">
											@Herramientas.Idiomas.BuscarTexto(idioma, "String28", "Wishlist")
										</div>
									</div>
								</div>

								<div style="padding: 30px; background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); display: flex; align-items: center; gap: 20px;">
									<div class="checkbox-caja">
										<input type="checkbox" class="checkbox-interior" checked="@estadoEnseñarHistorial" @onchange="EnseñarHistorial">
									</div>

									<div style="display: flex; flex-direction: column; gap: 10px;">
										<div>
											@Herramientas.Idiomas.BuscarTexto(idioma, "String18", "Wishlist")
										</div>

										<div style="font-size: 14px;">
											@Herramientas.Idiomas.BuscarTexto(idioma, "String29", "Wishlist")
										</div>
									</div>
								</div>

								<div style="padding: 30px; background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); display: flex; flex-direction: column; gap: 15px;">
									<div style="display: flex; flex-direction: column; gap: 10px;">
										<div>
											@Herramientas.Idiomas.BuscarTexto(idioma, "String19", "Wishlist")
										</div>

										<div style="font-size: 14px;">
											@Herramientas.Idiomas.BuscarTexto(idioma, "String30", "Wishlist")
										</div>
									</div>

									<div style="display: flex; align-items: center; gap: 30px;">
										<input type="range" min="1" max="91" value="@minimoDescuento" step="5" @onchange="@(e => CambiarMinimoDescuento(e))" class="deslizador">

										<label style="min-width: 65px; text-align: center;">@minimoDescuento%</label>
									</div>
								</div>

								<div style="padding: 30px; background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); display: flex; flex-direction: column; gap: 15px;">
									<div style="display: flex; flex-direction: column; gap: 10px;">
										<div>
											@Herramientas.Idiomas.BuscarTexto(idioma, "String20", "Wishlist")
										</div>

										<div style="font-size: 14px;">
											@Herramientas.Idiomas.BuscarTexto(idioma, "String31", "Wishlist")
										</div>
									</div>

									<div style="display: flex; align-items: center; gap: 30px;">
										<input type="range" min="5" max="90" value="@maximoPrecio" step="1" @onchange="@(e => CambiarMaximoPrecio(e))" class="deslizador">

										<label style="min-width: 65px; text-align: center;">@maximoPrecio€</label>
									</div>
								</div>
							</div>
						</div>

						<div style="margin-top: 20px;">
							<div style="font-size: 18px;">
								@Herramientas.Idiomas.BuscarTexto(idioma, "String32", "Wishlist")
							</div>

							<hr />

							<div style="padding: 30px; background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); display: flex; align-items: center; gap: 30px;">
								<div class="checkbox-caja">
									<input type="checkbox" class="checkbox-interior" checked="@estadoCompartir" @onchange="CompartirDeseados">
								</div>

								<div style="display: flex; flex-direction: column; gap: 10px; width: 100%;">
									<div>
										@Herramientas.Idiomas.BuscarTexto(idioma, "String33", "Wishlist")
									</div>

									@if (estadoCompartir == true)
									{
										<div>
											@Herramientas.Idiomas.BuscarTexto(idioma, "String34", "Wishlist")
										</div>

										<input type="text" value="@compartirNombre" @onchange="(e => TextoCambiaDeseados(e))" class="entrada-texto" style="flex: 1; min-width: 150px;" placeholder="@Herramientas.Idiomas.BuscarTexto(idioma, "String35", "Wishlist")" />

										@if (string.IsNullOrEmpty(compartirEnlace) == false)
										{
											<a href="@compartirEnlace" target="_blank">@compartirEnlace</a>
										}
									}		
								</div>
							</div>
						</div>

						<div style="margin-top: 20px;">
							<div style="font-size: 18px;">
								@Herramientas.Idiomas.BuscarTexto(idioma, "String24", "Wishlist")
							</div>

							<hr />

							<div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 30px; display: flex; flex-direction: column; gap: 20px;">
								<div>
									<div style="margin-bottom: 15px;">
										@Herramientas.Idiomas.BuscarTexto(idioma, "String26", "Wishlist")
									</div>

									<button @onclick="@(e => DescargarJson())" class="boton-pequeño" style="width: fit-content; padding: 10px 15px;">
										@Herramientas.Idiomas.BuscarTexto(idioma, "String25", "Wishlist")
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			}
		}
	}
}

@code {

	#nullable disable

	[Parameter]
	public string idioma { get; set; }

	[Parameter]
	public string usuarioId { get; set; }

	[Parameter]
	public string otroUsuario { get; set; }

	private Usuario usuario = new Usuario();
	private bool usuarioPatreon = false;

	private List<JuegoDeseadoMostrar> deseadosGestor = new List<JuegoDeseadoMostrar>();
	private List<JuegoDeseadoMostrar> deseadosMostrar = new List<JuegoDeseadoMostrar>();
	private List<string> deseadosSteam = new List<string>();
	private List<JuegoDeseado> deseadosWeb = new List<JuegoDeseado>();
	private List<string> deseadosGog = new List<string>();

	private int cantidadMinimos = 0;
	private string ordenamientoElegido = string.Empty;

	private int alturaFila = 88;

	private string textoBuscador { get; set; }

	private bool cargado = false;

	protected override async Task OnInitializedAsync()
	{
		if (string.IsNullOrEmpty(otroUsuario) == true)
		{
			usuario = await UserManager.FindByIdAsync(usuarioId);
		}
		else
		{
			usuario = await UserManager.FindByIdAsync(BaseDatos.Usuarios.Buscar.UsuarioDeseadosNickname(otroUsuario));
		}

		if (usuario != null)
		{
			deseadosGestor = new List<JuegoDeseadoMostrar>();

			if (string.IsNullOrEmpty(otroUsuario) == true)
			{
				usuarioPatreon = Herramientas.Patreon.VerificarComprobacion(usuario.PatreonLastCheck);

				estadoCompartir = usuario.WishlistPublic;
				compartirNombre = usuario.WishlistNickname;
				compartirEnlace = "https://pepeizqdeals.com/wishlist/" + compartirNombre + "/";
			}

			#region Filtrado

			if (usuario.WishlistOption1 == true)
			{
				estadoEnseñarSoloMinimos = "checked";
			}
			else
			{
				estadoEnseñarSoloMinimos = null;
			}

			if (usuario.WishlistOption2 == true)
			{
				estadoEnseñarHistorial = "checked";
				alturaFila = 108;
			}
			else
			{
				estadoEnseñarHistorial = null;
				alturaFila = 78;
			}

			if (usuario.WishlistOption3 == null)
			{
				minimoDescuento = 1;
			}
			else
			{
				if (usuario.WishlistOption3 == 0 || usuario.WishlistOption3 == null)
				{
					minimoDescuento = 1;
				}
				else if (usuario.WishlistOption3 > 0)
				{
					minimoDescuento = usuario.WishlistOption3;
				}
			}

			if (usuario.WishlistOption4 == null)
			{
				maximoPrecio = 90;
			}
			else
			{
				if (usuario.WishlistOption4 == 0 || usuario.WishlistOption4 == null)
				{
					maximoPrecio = 90;
				}
				else if (usuario.WishlistOption4 > 0)
				{
					maximoPrecio = usuario.WishlistOption4;
				}
			}

			#endregion

			#region Deseados Steam

			if (string.IsNullOrEmpty(usuario.SteamWishlist) == false)
			{
				deseadosSteam = Herramientas.Listados.Generar(usuario.SteamWishlist);
			}

			if (deseadosSteam.Count > 0)
			{
				List<Juegos.Juego> juegos = BaseDatos.Juegos.Buscar.MultiplesJuegosSteam(deseadosSteam);

				if (juegos != null)
				{
					int i = 0;

					foreach (var juego in juegos)
					{
						i += 1;

						if (juego != null)
						{
							AñadirJuegoMostrar(juego, JuegoDRM.Steam, true);
						}
					}
				}
			}

			#endregion

			#region Deseados Web

			if (string.IsNullOrEmpty(usuario.Wishlist) == false)
			{
				deseadosWeb = JsonSerializer.Deserialize<List<JuegoDeseado>>(usuario.Wishlist);
			}

			if (deseadosWeb != null)
			{
				if (deseadosWeb.Count > 0)
				{
					int i = 0;

					foreach (var deseadoWeb in deseadosWeb)
					{
						i += 1;

						Juegos.Juego juego = BaseDatos.Juegos.Buscar.UnJuego(deseadoWeb.IdBaseDatos);

						if (juego != null)
						{
							AñadirJuegoMostrar(juego, deseadoWeb.DRM, false);
						}
					}
				}
			}

			#endregion

			#region Deseados GOG

			if (string.IsNullOrEmpty(usuario.GogWishlist) == false)
			{
				deseadosGog = Herramientas.Listados.Generar(usuario.GogWishlist);
			}

			if (deseadosGog.Count > 0)
			{
				List<Juegos.Juego> juegos = BaseDatos.Juegos.Buscar.MultiplesJuegosGOG(deseadosGog);

				if (juegos != null)
				{
					int i = 0;

					foreach (var juego in juegos)
					{
						i += 1;

						if (juego != null)
						{
							AñadirJuegoMostrar(juego, JuegoDRM.GOG, true);
						}
					}
				}
			}

			#endregion

			if (deseadosGestor != null)
			{
				if (deseadosGestor.Count > 0)
				{
					if (usuario != null)
					{
						if (usuario.WishlistSort == null)
						{
							usuario.WishlistSort = 3;
						}

						ElegirOrdenamiento();
					}
				}
			}

			cargado = true;
		}
		else
		{
			NavManager.NavigateTo("/", true);
		}

		deseadosSteam.Clear();
		deseadosWeb.Clear();
	}

	private void AñadirJuegoMostrar(Juegos.Juego juego, JuegoDRM drm, bool importado)
	{
		bool yaEsta = false;

		if (deseadosGestor.Count > 0)
		{
			foreach (var deseado in deseadosGestor)
			{
				if (deseado.Id == juego.Id && deseado.DRM == drm)
				{
					yaEsta = true;
					break;
				}
			}
		}

		if (yaEsta == false)
		{
			bool añadido = false;

			if (juego.PrecioMinimosHistoricos != null)
			{
				if (juego.PrecioMinimosHistoricos.Count > 0)
				{
					foreach (var historico in juego.PrecioMinimosHistoricos)
					{
						if (historico.DRM == drm)
						{
							TimeSpan actualizado = DateTime.Now.Subtract(historico.FechaActualizacion);

							if (actualizado.Days == 0)
							{
								JuegoDeseadoMostrar nuevoDeseado = new JuegoDeseadoMostrar();
								nuevoDeseado.Id = juego.Id;
								nuevoDeseado.IdSteam = juego.IdSteam;
								nuevoDeseado.IdGog = juego.IdGog;
								nuevoDeseado.SlugEpic = juego.SlugEpic;
								nuevoDeseado.Nombre = juego.Nombre;
								nuevoDeseado.Imagen = juego.Imagenes.Header_460x215;
								nuevoDeseado.DRM = drm;
								nuevoDeseado.Precio = historico;
								nuevoDeseado.Historico = true;
								nuevoDeseado.Importado = importado;

								if (juego.Analisis != null)
								{
									nuevoDeseado.ReseñasPorcentaje = juego.Analisis.Porcentaje.Replace("%", null);
									nuevoDeseado.ReseñasCantidad = juego.Analisis.Cantidad.Replace(",", null);
								}
								else
								{
									nuevoDeseado.ReseñasPorcentaje = "0";
									nuevoDeseado.ReseñasCantidad = "0";
								}

								if (juego.Bundles != null)
								{
									nuevoDeseado.CantidadBundles = juego.Bundles.Count;
								}

								if (juego.Gratis != null)
								{
									nuevoDeseado.CantidadGratis = juego.Gratis.Count;
								}

								if (juego.Suscripciones != null)
								{
									nuevoDeseado.CantidadSuscripciones = juego.Suscripciones.Count;
								}

								deseadosGestor.Add(nuevoDeseado);
								cantidadMinimos = cantidadMinimos + 1;
								añadido = true;
							}

							break;
						}
					}
				}
			}

			if (añadido == false)
			{
				if (juego.PrecioActualesTiendas != null)
				{
					if (juego.PrecioActualesTiendas.Count > 0)
					{
						JuegoPrecio precioFinal = null;
						decimal precioReferencia = 1000000;

						foreach (var actual in juego.PrecioActualesTiendas)
						{
							if (actual.DRM == drm)
							{
								TimeSpan actualizado = DateTime.Now.Subtract(actual.FechaActualizacion);

								if (actualizado.Days == 0)
								{
									decimal tempPrecio = actual.Precio;

									if (actual.Moneda != Herramientas.JuegoMoneda.Euro)
									{
										tempPrecio = Herramientas.Divisas.Cambio(tempPrecio, actual.Moneda);
									}

									if (precioReferencia > tempPrecio)
									{
										precioReferencia = tempPrecio;
										precioFinal = actual;
										precioFinal.Precio = precioReferencia;
										break;
									}
								}
							}
						}

						if (precioFinal != null)
						{
							JuegoDeseadoMostrar nuevoDeseado = new JuegoDeseadoMostrar();
							nuevoDeseado.Id = juego.Id;
							nuevoDeseado.IdSteam = juego.IdSteam;
							nuevoDeseado.IdGog = juego.IdGog;
							nuevoDeseado.SlugEpic = juego.SlugEpic;
							nuevoDeseado.Nombre = juego.Nombre;
							nuevoDeseado.Imagen = juego.Imagenes.Header_460x215;
							nuevoDeseado.DRM = drm;
							nuevoDeseado.Precio = precioFinal;
							nuevoDeseado.Historico = false;
							nuevoDeseado.HistoricoPrecio = MensajeMinimo(SacarMinimo(juego, drm), false);
							nuevoDeseado.Importado = importado;

							if (juego.Analisis != null)
							{
								nuevoDeseado.ReseñasPorcentaje = juego.Analisis.Porcentaje.Replace("%", null);
								nuevoDeseado.ReseñasCantidad = juego.Analisis.Cantidad.Replace(",", null);
							}
							else
							{
								nuevoDeseado.ReseñasPorcentaje = "0";
								nuevoDeseado.ReseñasCantidad = "0";
							}

							if (juego.Bundles != null)
							{
								nuevoDeseado.CantidadBundles = juego.Bundles.Count;
							}

							if (juego.Gratis != null)
							{
								nuevoDeseado.CantidadGratis = juego.Gratis.Count;
							}

							if (juego.Suscripciones != null)
							{
								nuevoDeseado.CantidadSuscripciones = juego.Suscripciones.Count;
							}

							deseadosGestor.Add(nuevoDeseado);
						}
					}
				}
			}
		}
	}

	private JuegoPrecio SacarMinimo(Juegos.Juego juego, Juegos.JuegoDRM drm)
	{
		foreach (var minimo in juego.PrecioMinimosHistoricos)
		{
			if (drm == minimo.DRM)
			{
				return minimo;
			}
		}

		return null;
	}

	private void QuitarJuego(MouseEventArgs e, int juegoId, Juegos.JuegoDRM drm)
	{
		Juegos.Juego juego = BaseDatos.Juegos.Buscar.UnJuego(juegoId);

		if (juego != null)
		{
			Herramientas.Deseados.CambiarEstado(UserManager, usuario, juego, false, drm);
		}
	}

	private string MensajeMinimo(JuegoPrecio precio, bool moneda)
	{
		if (precio.Precio >= 0)
		{
			decimal tempPrecio = precio.Precio;

			if (moneda == true)
			{
				if (precio.Moneda != Herramientas.JuegoMoneda.Euro)
				{
					tempPrecio = Herramientas.Divisas.Cambio(tempPrecio, precio.Moneda);
				}
			}

			string precioTexto = tempPrecio.ToString();

			if (precioTexto.Contains(".") == true)
			{
				precioTexto = precioTexto.Replace(".", ",");
			}

			if (precioTexto.Contains(",") == true)
			{
				int int1 = precioTexto.IndexOf(",");

				if (int1 == precioTexto.Length - 2)
				{
					precioTexto = precioTexto + "0";
				}

				if (precioTexto.Length > int1 + 3)
				{
					precioTexto = precioTexto.Remove(int1 + 3, precioTexto.Length - int1 - 3);
				}
			}
			else
			{
				precioTexto = precioTexto + ",00";
			}

			precioTexto = precioTexto + "€";

			return precioTexto;
		}

		return null;
	}

	#region Ordenar

	private async void OrdenarReseñasPorcentaje()
	{
		if (deseadosGestor != null)
		{
			ordenamientoElegido = Herramientas.Idiomas.BuscarTexto(idioma, "String3", "Wishlist");

			if (deseadosGestor.Count > 0)
			{
				deseadosMostrar.Clear();
				deseadosMostrar = Filtros();
				deseadosMostrar = deseadosMostrar.AsParallel().OrderByDescending(x => int.Parse(x.ReseñasPorcentaje)).ThenBy(x => x.Nombre).ToList();
			}

			if (usuario != null)
			{
				usuario.WishlistSort = 0;

				if (string.IsNullOrEmpty(otroUsuario) == true)
				{
					try
					{
						await UserManager.UpdateAsync(usuario);
					}
					catch { }
				}
			}
		}
	}

	private async void OrdenarReseñasCantidad()
	{
		if (deseadosGestor != null)
		{
			ordenamientoElegido = Herramientas.Idiomas.BuscarTexto(idioma, "String9", "Wishlist");

			if (deseadosGestor.Count > 0)
			{
				deseadosMostrar.Clear();
				deseadosMostrar = Filtros();
				deseadosMostrar = deseadosMostrar.AsParallel().OrderByDescending(x => int.Parse(x.ReseñasCantidad)).ThenBy(x => x.Nombre).ToList();
			}

			if (usuario != null)
			{
				usuario.WishlistSort = 1;

				if (string.IsNullOrEmpty(otroUsuario) == true)
				{
					try
					{
						await UserManager.UpdateAsync(usuario);
					}
					catch { }
				}
			}
		}
	}

	private async void OrdenarNombreAZ()
	{
		if (deseadosGestor != null)
		{
			ordenamientoElegido = Herramientas.Idiomas.BuscarTexto(idioma, "String10", "Wishlist");

			if (deseadosGestor.Count > 0)
			{
				deseadosMostrar.Clear();
				deseadosMostrar = Filtros();
				deseadosMostrar = deseadosMostrar.AsParallel().OrderBy(x => x.Nombre).ToList();
			}

			if (usuario != null)
			{
				usuario.WishlistSort = 2;

				if (string.IsNullOrEmpty(otroUsuario) == true)
				{
					try
					{
						await UserManager.UpdateAsync(usuario);
					}
					catch { }
				}
			}
		}
	}

	private async void OrdenarNombreZA()
	{
		if (deseadosGestor != null)
		{
			ordenamientoElegido = Herramientas.Idiomas.BuscarTexto(idioma, "String14", "Wishlist");

			if (deseadosGestor.Count > 0)
			{
				deseadosMostrar.Clear();
				deseadosMostrar = Filtros();
				deseadosMostrar = deseadosMostrar.AsParallel().OrderByDescending(x => x.Nombre).ToList();
			}

			if (usuario != null)
			{
				usuario.WishlistSort = 5;

				if (string.IsNullOrEmpty(otroUsuario) == true)
				{
					try
					{
						await UserManager.UpdateAsync(usuario);
					}
					catch { }
				}
			}
		}
	}

	private async void OrdenarPrecio()
	{
		if (deseadosGestor != null)
		{
			ordenamientoElegido = Herramientas.Idiomas.BuscarTexto(idioma, "String4", "Wishlist");

			if (deseadosGestor.Count > 0)
			{
				deseadosMostrar.Clear();
				deseadosMostrar = Filtros();
				deseadosMostrar = deseadosMostrar.AsParallel().OrderBy(x => x.Precio.Precio).ThenBy(x => x.Nombre).ToList();
			}

			if (usuario != null)
			{
				usuario.WishlistSort = 3;

				if (string.IsNullOrEmpty(otroUsuario) == true)
				{
					try
					{
						await UserManager.UpdateAsync(usuario);
					}
					catch { }
				}
			}
		}
	}

	private async void OrdenarDescuento()
	{
		if (deseadosMostrar != null)
		{
			ordenamientoElegido = Herramientas.Idiomas.BuscarTexto(idioma, "String5", "Wishlist");

			if (deseadosGestor.Count > 0)
			{
				deseadosMostrar.Clear();
				deseadosMostrar = Filtros();
				deseadosMostrar = deseadosMostrar.AsParallel().OrderByDescending(x => x.Precio.Descuento).ThenBy(x => x.Nombre).ToList();
			}

			if (usuario != null)
			{
				usuario.WishlistSort = 4;

				if (string.IsNullOrEmpty(otroUsuario) == true)
				{
					try
					{
						await UserManager.UpdateAsync(usuario);
					}
					catch { }
				}
			}
		}
	}

	#endregion

	#region Opciones

	private List<JuegoDeseadoMostrar> Filtros()
	{
		List<JuegoDeseadoMostrar> juegosFiltrados = new List<JuegoDeseadoMostrar>();

		foreach (var juego in deseadosGestor)
		{
			bool buscador = false;

			if (string.IsNullOrEmpty(textoBuscador) == false)
			{
				if (Herramientas.Buscador.LimpiarNombre(juego.Nombre, true).Contains(Herramientas.Buscador.LimpiarNombre(textoBuscador, true)))
				{
					buscador = true;
				}
				else
				{
					buscador = false;
				}
			}
			else
			{
				buscador = true;
			}

			bool soloMinimos = false;

			if (usuario != null)
			{
				if (usuario.WishlistOption1 == true)
				{
					if (juego.Historico == true)
					{
						soloMinimos = true;
					}
					else
					{
						soloMinimos = false;
					}
				}
				else
				{
					soloMinimos = true;
				}
			}
			else
			{
				soloMinimos = true;
			}

			bool minimoDescuento2 = false;

			if (juego.Precio.Descuento >= minimoDescuento)
			{
				minimoDescuento2 = true;
			}

			bool maximoPrecio2 = false;

			if (juego.Precio.Precio <= maximoPrecio)
			{
				maximoPrecio2 = true;
			}

			if (buscador == true && soloMinimos == true && minimoDescuento2 == true && maximoPrecio2 == true)
			{
				juegosFiltrados.Add(juego);
			}
		}

		return juegosFiltrados;
	}

	private void ElegirOrdenamiento()
	{
		if (usuario.WishlistSort == 0)
		{
			OrdenarReseñasPorcentaje();
		}
		else if (usuario.WishlistSort == 1)
		{
			OrdenarReseñasCantidad();
		}
		else if (usuario.WishlistSort == 2)
		{
			OrdenarNombreAZ();
		}
		else if (usuario.WishlistSort == 5)
		{
			OrdenarNombreZA();
		}
		else if (usuario.WishlistSort == 3)
		{
			OrdenarPrecio();
		}
		else if (usuario.WishlistSort == 4)
		{
			OrdenarDescuento();
		}
	}

	private void TextoCambiaBusqueda(ChangeEventArgs texto)
	{
		if (string.IsNullOrEmpty(texto.Value.ToString().Trim()) == false)
		{
			textoBuscador = texto.Value.ToString().Trim();
		}
		else
		{
			textoBuscador = null;
		}

		ElegirOrdenamiento();
	}

	private bool mostrarOpciones = false;

	private void EnseñarOpciones()
	{
		mostrarOpciones = true;
	}

	private void OcultarOpciones()
	{
		mostrarOpciones = false;
	}

	private string estadoEnseñarSoloMinimos = null;

	private async void EnseñarSoloMinimos()
	{
		if (usuario != null)
		{
			if (usuario.WishlistOption1 == true)
			{
				usuario.WishlistOption1 = false;
				estadoEnseñarSoloMinimos = null;
			}
			else
			{
				usuario.WishlistOption1 = true;
				estadoEnseñarSoloMinimos = "checked";
			}

			try
			{
				await UserManager.UpdateAsync(usuario);
			}
			catch { }

			ElegirOrdenamiento();
		}
	}

	private string estadoEnseñarHistorial = null;

	private async void EnseñarHistorial()
	{
		if (usuario != null)
		{
			if (usuario.WishlistOption2 == true)
			{
				usuario.WishlistOption2 = false;
				estadoEnseñarHistorial = null;
				alturaFila = 88;
			}
			else
			{
				usuario.WishlistOption2 = true;
				estadoEnseñarHistorial = "checked";
				alturaFila = 114;
			}

			try
			{
				await UserManager.UpdateAsync(usuario);
			}
			catch { }

			ElegirOrdenamiento();
		}
	}

	private int? minimoDescuento = 1;

	private async void CambiarMinimoDescuento(ChangeEventArgs e)
	{
		minimoDescuento = int.Parse(e.Value.ToString());

		if (minimoDescuento != 1)
		{
			minimoDescuento = minimoDescuento - 1;
		}

		usuario.WishlistOption3 = minimoDescuento;

		try
		{
			await UserManager.UpdateAsync(usuario);
		}
		catch { }

		ElegirOrdenamiento();
	}

	private decimal? maximoPrecio = 90;

	private async void CambiarMaximoPrecio(ChangeEventArgs e)
	{
		maximoPrecio = decimal.Parse(e.Value.ToString());

		usuario.WishlistOption4 = maximoPrecio;

		try
		{
			await UserManager.UpdateAsync(usuario);
		}
		catch { }

		ElegirOrdenamiento();
	}

	private bool? estadoCompartir = false;

	private async void CompartirDeseados()
	{
		if (estadoCompartir == false)
		{
			estadoCompartir = true;
		}
		else
		{
			estadoCompartir = false;
		}

		if (usuario != null)
		{
			usuario.WishlistPublic = estadoCompartir;

			try
			{
				await UserManager.UpdateAsync(usuario);
			}
			catch { }
		}
	}

	private string compartirNombre = string.Empty;
	private string compartirEnlace = string.Empty;

	private async void TextoCambiaDeseados(ChangeEventArgs texto)
	{
		if (string.IsNullOrEmpty(texto.Value.ToString().Trim()) == false)
		{
			compartirNombre = texto.Value.ToString().Trim();
		}

		if (string.IsNullOrEmpty(compartirNombre) == false)
		{
			string existe = BaseDatos.Usuarios.Buscar.UsuarioDeseadosNickname(Herramientas.Buscador.LimpiarNombre(compartirNombre, true));

			if (string.IsNullOrEmpty(existe) == true)
			{
				compartirEnlace = "https://pepeizqdeals.com/wishlist/" + Herramientas.Buscador.LimpiarNombre(compartirNombre, true) + "/";

				usuario.WishlistNickname = Herramientas.Buscador.LimpiarNombre(compartirNombre, true);

				try
				{
					await UserManager.UpdateAsync(usuario);
				}
				catch { }
			}
		}
	}

	private async Task DescargarJson()
	{
		if (deseadosGestor != null)
		{
			if (deseadosGestor.Count > 0)
			{
				List<JuegoDeseadoExportar> deseadosExportar = new List<JuegoDeseadoExportar>();

				foreach (var deseadoGestor in deseadosGestor)
				{
					JuegoDeseadoExportar nuevoDeseadoExportar = new JuegoDeseadoExportar();
					nuevoDeseadoExportar.Nombre = deseadoGestor.Nombre;
					nuevoDeseadoExportar.Id = deseadoGestor.Id;
					nuevoDeseadoExportar.IdSteam = deseadoGestor.IdSteam;
					nuevoDeseadoExportar.IdGog = deseadoGestor.IdGog;
					nuevoDeseadoExportar.SlugEpic = deseadoGestor.SlugEpic;
					nuevoDeseadoExportar.DRM = deseadoGestor.DRM;

					deseadosExportar.Add(nuevoDeseadoExportar);
				}

				string contenido = JsonSerializer.Serialize(deseadosExportar);

				MemoryStream ficheroStream = new MemoryStream(Encoding.UTF8.GetBytes(contenido));

				string ficheroNombre = "wishlist.json";

				using var streamRef = new DotNetStreamReference(stream: ficheroStream);

				await JavaScript.InvokeVoidAsync("downloadFileFromStream", ficheroNombre, streamRef);
			}
		}
	}

	#endregion
}
