@using APIs.Steam
@using Microsoft.AspNetCore.Components.Web;
@using Microsoft.AspNetCore.Identity;
@using pepeizqs_deals_web.Areas.Identity.Data;
@using Toolbelt.Blazor.HeadElement

@inject UserManager<Usuario> UserManager
@inject SignInManager<Usuario> SignInManager
@inject IHttpContextAccessor HttpContextAccessor

<script>
    function moverScroll(id) {
        const yOffset = -30;
        const element = document.getElementById(id);
        const y = element.getBoundingClientRect().top + window.pageYOffset + yOffset;

        window.scrollTo({ top: y, behavior: 'smooth' });
    }
</script>

@if (juegosActuales.Count > 0)
{
	<h1 style="font-size: 23px;">
		@Herramientas.Idiomas.CogerCadena(idioma, "String1", "Free")
	</h1>

    <hr>

    <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 40px; justify-items: center;">
        @foreach (var juego in juegosActuales)
        {
            bool usuarioTieneJuego = Herramientas.Tooltip.ComprobarUsuarioTieneJuego(usuario, juegosUsuario, juego.Juego, juego.DRM);
            bool usuarioTieneDeseado = false;

            string fondoColor = string.Empty;

            if (usuarioTieneJuego == true)
            {
                fondoColor = "background-color: var(--fondoBien);";
            }
            else
            {
                usuarioTieneDeseado = Herramientas.Deseados.ComprobarSiEsta(usuario, juego.Juego, juego.DRM);

                if (usuarioTieneDeseado == true)
                {
                    fondoColor = "background-color: var(--fondoAlerta);";
                }
            }

            bool usuarioConectado = false;

            if (usuario != null)
            {
                usuarioConectado = true;
            }

            Herramientas.ToolTipDatos tooltipDatos = Herramientas.Tooltip.Generar(idioma, juego.Juego, juego.DRM, usuarioConectado, usuarioTieneJuego, usuarioTieneDeseado);

            <div class="tooltip-juego" onmousemove="hoverTooltip(event, 'tooltip-@juego.JuegoId.ToString()-@juego.Tipo.ToString()')">
                <div id="tooltip-@juego.JuegoId.ToString()-@juego.Tipo.ToString()" class="tooltip-relleno" style="max-width: 460px;">
                    @if (string.IsNullOrEmpty(tooltipDatos.Video) == false)
                    {
                        <video src="@tooltipDatos.Video" autoplay="autoplay" loop muted style="object-fit: cover; width: 100%;" />
                    }

                    <div style="padding: 15px;">
                        <div style="text-align: left;">
                            @tooltipDatos.Nombre
                        </div>

                        @if (string.IsNullOrEmpty(tooltipDatos.ReviewsIcono) == false && string.IsNullOrEmpty(tooltipDatos.ReviewsCantidad) == false)
                        {
                            <hr />

                            <div style="display: flex; align-items: center; gap: 15px;">
                                <img src="@tooltipDatos.ReviewsIcono" style="width: 20px; height: 20px;" alt="Reviews" />
                                <label style="font-size: 14px;">@tooltipDatos.ReviewsCantidad</label>
                            </div>
                        }

                        @if (string.IsNullOrEmpty(tooltipDatos.UsuarioMensaje) == false)
                        {
                            <hr />

                            <div style="text-align: left;">
                                @tooltipDatos.UsuarioMensaje
                            </div>
                        }


                        @{
                            int gratisEstado = 0;

                            if (juego.Juego.Gratis != null)
                            {
                                gratisEstado = juego.Juego.Gratis.Count;

                                if (gratisEstado > 0)
                                {
                                    gratisEstado -= 1;
                                }
                            }

                            if (gratisEstado > 0)
                            {
                                <hr />

                                <div style="text-align: left;">
                                    @Herramientas.Idiomas.CogerCadena(idioma, "String12", "Free")
                                </div>
                            }
                        }
                    </div>
                </div>

                <a href="@Herramientas.EnlaceAcortador.Generar(juego.Enlace, juego.Tipo)" class="boton-pequeño" style="padding: 0px; text-align: center; margin-bottom: 20px; position: relative; @fondoColor" target="_blank">
                    <div style="width: 100%; text-align: center; padding: 5px;">
                        <img src="@juego.Imagen" style="max-width: 100%; height: 100%;" alt="@juego.Nombre" />

                        <div style="margin-top: 10px; margin-bottom: 5px; text-align: center; padding: 5px;">
                            @{
                                Gratis2.Gratis gratis = Gratis2.GratisCargar.DevolverGratis(juego.Tipo);
                            }

                            <div style="display: flex; align-items: center; justify-content: center; gap: 20px;">
                                <img src="@gratis.ImagenLogo" style="max-width: 140px; max-width: 140px;" alt="Store" />

                                @if (gratis.DRMEnseñar == true)
                                {
                                    <img src="@Juegos.JuegoDRM2.SacarImagen(juego.DRM)" style="width: 28px; height: 28px;" alt="DRM" />
                                }
                            </div>                            
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
}

<div style="font-size: 23px; margin-top: 60px;">
    @Herramientas.Idiomas.CogerCadena(idioma, "String2", "Free")
</div>

<div style="display: flex; align-items: start; margin-top: 10px;">
    @foreach (var año in años)
    {
        <div style="margin-right: 15px;">
            <button @onclick="@(e => CambiarAño(e, año))" class="boton-pequeño" style=" padding: 6px 10px; width: auto;">
                @año
            </button>

            @if (añoSeleccionado == año)
            {
                <div style="margin-top: 10px; background: var(--colorTexto); padding: 1px;">
                </div>

                <div style="position: absolute; margin-top: 15px; display: flex; align-items: center;">
                    @foreach (var gratisPasado in gratisPasados)
                    {
                        List<Juegos.JuegoGratis> gratisAño = new List<Juegos.JuegoGratis>();

                        foreach (var juego in gratisPasado.Juegos)
                        {
                            if (juego.FechaEmpieza.Year.ToString() == añoSeleccionado)
                            {
                                gratisAño.Add(juego);
                            }
                        }

                        if (gratisAño.Count > 0)
                        {
                            <div style="margin-right: 15px; font-size: 14px;">
                                <a onclick="moverScroll('pasado-@gratisPasado.Tipo.Nombre')" style="color: var(--colorTexto); text-decoration: none; cursor: pointer;">
                                    <img src="@gratisPasado.Tipo.ImagenIcono" style="width: 22px; height: 22px;" alt="Store"/> (@gratisAño.Count.ToString())
                                </a>
                            </div>                           
                        }
                    }
                </div>
            }
        </div>
    }
</div>

<div style="margin-top: 55px;">
    @foreach (var gratisPasado in gratisPasados)
    {
        List<Juegos.JuegoGratis> gratisAño = new List<Juegos.JuegoGratis>();

        foreach (var juego in gratisPasado.Juegos)
        {
            if (juego.FechaEmpieza.Year.ToString() == añoSeleccionado)
            {
                gratisAño.Add(juego);
            }
        }

        if (gratisAño.Count > 0)
        {
            <hr>

            <div id="pasado-@gratisPasado.Tipo.Nombre" style="display: flex; align-items: start;">
                <div class="perfil" style="width: 20%;">
                    <img src="@gratisPasado.Tipo.ImagenLogo" alt="Store"/>
                </div>

                <div class="perfil" style="width: 80%;">
                    @{
                        int i = 1;
                        while (i < 13)
                        {
                            List<Juegos.JuegoGratis> gratisMensual = new List<Juegos.JuegoGratis>();

                            foreach (var juego in gratisAño)
                            {
                                if (juego.FechaEmpieza.Month == i)
                                {
                                    gratisMensual.Add(juego);
                                }
                            }

                            if (gratisMensual.Count > 0)
                            {
                                <label>@Herramientas.Idiomas.CogerCadena(idioma, "Month." + i.ToString())</label>

                                <ul>
                                    @foreach (var juegoMensual in gratisMensual)
                                    {
                                        <li>
                                            <a href="/game/@juegoMensual.JuegoId/@Herramientas.EnlaceAdaptador.Nombre(juegoMensual.Nombre)/">
                                                <label style="cursor: pointer;">@juegoMensual.Nombre</label> 

                                                @if (gratisPasado.Tipo.DRMEnseñar == true)
                                                {
                                                    <label style="cursor: pointer; margin-left: 5px;">(@Juegos.JuegoDRM2.DevolverDRM(juegoMensual.DRM))</label>
                                                }
                                            </a>
                                        </li>
                                    }
                                </ul>
                            }

                            i += 1;
                        }
                    }
                </div>
            </div>
        }
    }
</div>

@code {

    #nullable disable

    [Parameter]
    public string idioma { get; set; }

    private List<Juegos.JuegoGratis> juegosActuales = new List<Juegos.JuegoGratis>();
    private List<Gratis2.GratisComponente> gratisPasados = new List<Gratis2.GratisComponente>();

    private Usuario usuario = new Usuario();
    private List<string> juegosUsuario = new List<string>();

    private List<string> años = new List<string>();
    private string añoSeleccionado = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        usuario = await Herramientas.UsuarioDatos.Actualizar(HttpContextAccessor.HttpContext.User, usuario, UserManager);

        if (usuario != null)
        {
            if (string.IsNullOrEmpty(usuario.SteamGames) == false)
            {
                juegosUsuario = Herramientas.Listados.Generar(usuario.SteamGames);
            }
        }

        //--------------------------------------------------------------------

        DateTime arranque = new DateTime(2011, 1, 1);

        int i = 0;
        while (i < 100)
        {
            if (arranque.Year != DateTime.Now.Year)
            {
                años.Add(arranque.Year.ToString());
                arranque = arranque.AddYears(1);
            }
            i += 1;
        }

        años.Add(DateTime.Now.Year.ToString());
        años.Reverse();

        añoSeleccionado = DateTime.Now.Year.ToString();

        //--------------------------------------------------------------------

        List<Juegos.JuegoGratis> juegosTodos = BaseDatos.Gratis.Buscar.Todos();

        if (juegosTodos.Count > 0)
        {           
            List<Juegos.JuegoGratis> juegosPasados = new List<Juegos.JuegoGratis>();

            foreach (var juego in juegosTodos)
            {
                if (DateTime.Now >= juego.FechaEmpieza && DateTime.Now <= juego.FechaTermina)
                {
                    Juegos.Juego juego2 = BaseDatos.Juegos.Buscar.UnJuego(juego.JuegoId.ToString());
                    juego.Imagen = juego2.Imagenes.Header_460x215;
                    juego.Juego = juego2;

                    juegosActuales.Add(juego);
                }
                else
                {
                    juegosPasados.Add(juego);
                }
            }

            if (juegosActuales.Count > 0)
            {
                juegosActuales = juegosActuales.OrderBy(x => x.Nombre).ToList();
            }

            if (juegosPasados.Count > 0)
            {
                juegosPasados = juegosPasados.OrderBy(x => x.Nombre).ToList();

                foreach (var gratis in Gratis2.GratisCargar.GenerarListado())
                {
                    List<Juegos.JuegoGratis> juegos2 = new List<Juegos.JuegoGratis>();

                    foreach (var juego in juegosPasados)
                    {
                        if (juego.Tipo == gratis.Tipo)
                        {
                            juegos2.Add(juego);
                        }
                    }

                    if (juegos2.Count > 0)
                    {
                        Gratis2.GratisComponente componente = new Gratis2.GratisComponente();
                        componente.Juegos = juegos2;
                        componente.Tipo = gratis;

                        gratisPasados.Add(componente);
                    }
                }
            }
        }
    }

    private void CambiarAño(MouseEventArgs e, string nuevoAño)
    {
        añoSeleccionado = nuevoAño;
    }
}
