@using BaseDatos.Juegos;
@using Juegos;
@using Microsoft.AspNetCore.Components.Web;
@using Microsoft.AspNetCore.Identity
@using Microsoft.Data.SqlClient;
@using Microsoft.Extensions.Caching.Distributed;
@using Microsoft.VisualBasic;
@using Noticias;
@using pepeizqs_deals_web.Areas.Identity.Data
@using pepeizqs_deals_web.Pages.Componentes.Admin

@inject UserManager<Usuario> UserManager
@inject IHttpContextAccessor HttpContextAccessor

<style>
	.destacados-espacio {
		gap: 15px;
	}

	.destacados-botonizq {
		font-size: 20px;
		margin-right: 20px;
	}

	.destacados-botonder {
		font-size: 20px;
		margin-left: 20px;
	}

	.destacado-juego {
		min-width: 150px;
		max-width: 200px;
	}

	.destacado-fuente {
		font-size: 18px;
	}

	.noticia-fuente {
		font-size: 18px;
	}

	.noticia-fecha {
		font-size: 15px;
	}

	.minimo-fuente {
		font-size: 17px;
	}

	.minimo-fuentefecha {
		font-size: 14px;
	}

	.minimo-espacio1 {
		width: 100px;
		padding: 20px;
	}

	.minimo-espacio2 {
		padding: 10px 15px;
		margin-right: 15px;
	}

	.minimo-espacio3 {
		margin-left: 30px;
		margin-right: 30px;
	}

	@@media (max-width: 800px) {
		.destacados-espacio {
			gap: 5px;
		}

		.destacados-botonizq {
			font-size: 14px;
			margin-right: 5px;
		}

		.destacados-botonder {
			font-size: 14px;
			margin-left: 5px;
		}

		.destacado-juego {
			min-width: 100px;
			max-width: 150px;
		}

		.destacado-fuente {
			font-size: 11px;
		}

		.noticia-fuente {
			font-size: 13px;
		}

		.noticia-fecha {
			font-size: 11px;
		}

		.minimo-fuente {
			font-size: 12px;
		}

		.minimo-fuentefecha {
			font-size: 10px;
		}

		.minimo-espacio1 {
			width: 60px;
			padding: 5px;
		}

		.minimo-espacio2 {
			padding: 5px 10px;
			margin-right: 0px;
		}

		.minimo-espacio3 {
			margin-left: 0px;
			margin-right: 0px;
		}
	}
</style>

<style>
	.tooltip4 {
		text-decoration: none;
		position: relative;
	}

		.tooltip4 .tooltip-relleno {
			display: none;
		}

		.tooltip4:hover .tooltip-relleno {
			display: block;
			position: fixed;
			overflow: hidden;
			z-index: 1;
		}

	.tooltip-relleno {
		background-color: var(--fondoBotonPequeño);
		color: var(--colorTexto);
		text-align: center;
		border: 1px solid var(--fondoBoton);
		border-radius: 2px;
		z-index: 1;
	}
</style>

@if (noticiaEvento.Count == 1)
{
	<div style="margin-bottom: 50px;">
		<a href="@CargarEnlaceNoticia(noticiaEvento[0])" class="boton-pequeño" style="text-decoration: none; padding: 1px;">
			<div style="overflow: hidden; position: relative; height: 150px; display: flex; align-items: center;">
				<img style="opacity: 0.2; position: absolute; left: 0; top: 0; width: 100%; height: auto;" src="@CargarFondoNoticia(noticiaEvento[0])">
				<div style="position: relative; left: 50%; transform: translateX(-50%);">
					<div style="font-size: 24px;">
						@Herramientas.Idiomas.MirarTexto(idioma, @noticiaEvento[0].TituloEn, @noticiaEvento[0].TituloEs)
					</div>
				</div>
			</div>
		</a>
	</div>
}

@if (juegosDestacadosMostrar.Count > 0)
{
	<div style="display: flex; font-size: 20px; padding-bottom: 20px; align-items: center; justify-content: center;">
		<a href="/HistoricalLow" style="text-decoration: none;">@Herramientas.Idiomas.CogerCadena(idioma, "Index.HighDeals")</a>
		
		<div class="tooltip2" style="margin-left: 20px;">
			<i class="fa-solid fa-circle-info" style="font-size: 15px;"></i>
			<div class="tooltip-abrir tooltip-derecha" style="padding: 20px; min-width: 400px; max-width: 600px;">
				@Herramientas.Idiomas.CogerCadena(idioma, "Index.HighDealsInfo")
			</div>
		</div>
	</div>

	<div style="display: flex; align-items: center; margin-bottom: 60px;">
		<button @onclick="ClickearAtras" class="boton-pequeño destacados-botonizq" style="width: 50px; height: 50px; text-align: center;"><i class="fa-solid fa-chevron-left"></i></button>

		<div class="destacados-espacio tooltip4" style="display: grid; grid-auto-flow: column; width: 100%;">
			@foreach (var destacado in juegosDestacadosMostrar)
			{
				if (destacado != null)
				{
					<div class="destacado-juego" @onmouseover="@(e => CargarTooltip(e, destacado))">
						<a href="game/@destacado.IdMaestra" class="boton-pequeño destacado-fuente" style="padding: 2px;">
							<div>
								<img src="@destacado.Imagenes.Library_600x900" style="max-width: 100%; max-height: 100%;" />
							</div>
							<div style="display: flex; align-content: center; align-items: center; justify-content: right;">
								<div style="background-color: darkgreen; margin: 0px; padding: 8px 10px;">
									@CargarDescuento(destacado)
								</div>
								<div style="padding: 8px 10px;">
									@CargarPrecio(destacado)
								</div>
							</div>
						</a>
					</div>
				}
			}

			<div id="tooltip-destacados" class="tooltip-relleno">
				@if (string.IsNullOrEmpty(tooltipVideo) == false)
				{
					<video src="@tooltipVideo" autoplay="autoplay" loop muted style="width: 460px; height: 215px; object-fit: cover;" />
				}

				<div style="padding: 15px;">
					<label>@tooltipNombre</label>
					<div style="display: flex; align-items: center; margin-top: 10px; padding: 5px; text-align: center; justify-content: center;">
						<div style="margin-right: 20px;">
							<img src="@tooltipDRM" style="max-width: 20px; max-height: 20px;" />
						</div>
						<div style="margin-right: 20px;">
							<img src="@tooltipTienda" style="width: 20px; height: 20px;" />
						</div>
						
						@if (string.IsNullOrEmpty(tooltipReviews) == false)
						{
							<div style="margin-right: 20px;">
								<img src="@tooltipReviews" style="width: 20px; height: 20px;" />
							</div>
						}

						<div>
							@tooltipTiempo
						</div>
					</div>
				</div>
			</div>
		</div>

		<button @onclick="ClickearAdelante" class="boton-pequeño destacados-botonder" style="width: 50px; height: 50px; text-align: center;"><i class="fa-solid fa-chevron-right"></i></button>
	</div>
}

@if (noticiasMostrar.Count > 0)
{
	<div style="display: flex; font-size: 20px; align-items: center; justify-content: center;">
		<a href="/LastNews" style="text-decoration: none;">@Herramientas.Idiomas.CogerCadena(idioma, "Index.LastNews")</a>

		<a href="@Herramientas.Idiomas.CogerRSS(idioma)" target="_blank" style="margin-left: 20px;"><i class="fa-solid fa-rss"></i></a>		
	</div>

	<div style="margin-bottom: 25px;">
		@foreach (var noticia in noticiasMostrar)
		{
			<div class="perfil-flexible-centrado" style="margin-top: 20px;">
				<a class="boton-pequeño" style="padding: 1px;" href="@noticia.Enlace" target="@SacarNoticiaNuevaPestaña(noticia)">
					<div class="perfil-flexible-centrado">
						<div style="width: 25%;">
							<img src="@noticia.Imagen" style="width: 100%; height: 100%; object-fit: contain;" />
						</div>

						<div style="width: 75%; padding: 20px 30px;">
							<div style="margin-bottom: 20px; display: flex; align-items: center;">
								<div class="noticia-fecha" style="margin-right: 20px;">
									@noticia.FechaEmpieza.Day.ToString()/@noticia.FechaEmpieza.Month.ToString()/@noticia.FechaEmpieza.Year.ToString()
								</div>

								@if (string.IsNullOrEmpty(CargarIconoNoticia(noticia)) == false)
								{
									<img src="@CargarIconoNoticia(noticia)" style="width: 16px; height: 16px; margin-right: 20px;" />
								}	

								<label style="font-size: 15px;">@NoticiasCargar.Traduccion(noticia.Tipo, idioma)</label>
							</div>

							<div class="noticia-fuente">
								@Herramientas.Idiomas.MirarTexto(idioma, @noticia.TituloEn, @noticia.TituloEs)
							</div>
						</div>
					</div>
				</a>
			</div>
		}
	</div>

	<div style="margin-bottom: 60px; margin-left: auto; margin-right: auto; width: 400px;">
		<a class="boton-pequeño" style="width: 100%; padding: 15px 20px; font-size: 17px; text-align: center;" href="/LastNews">
			@Herramientas.Idiomas.CogerCadena(idioma, "Index.LastNewsMore")
		</a>
	</div>
}
else
{
	<div style="margin-bottom: 60px; margin-left: auto; margin-right: auto; width: 700px;">
		<a class="boton-pequeño" style="width: 100%; padding: 15px 20px; font-size: 17px; text-align: center;" href="/LastNews">
			@Herramientas.Idiomas.CogerCadena(idioma, "Index.LastNewsNo")
		</a>
	</div>
}

@if (sorteosActivos.Count > 0)
{
	<div style="margin-bottom: 50px; height: 200px;">
		<a href="/Giveaways" class="boton-pequeño" style="text-decoration: none; padding: 1px;">
			<div style="overflow: hidden; position: relative; height: 150px; display: flex; align-items: center;">
				<div style="position: absolute; right: 0; top: 0;">
					@{
						int i = 0;
						while (i < 3)
						{
							Juegos.Juego sorteoJuego = BaseDatos.Juegos.Buscar.UnJuego(sorteosActivos[i].JuegoId.ToString());

							if (sorteoJuego != null)
							{
								<img src="@sorteoJuego.Imagenes.Library_600x900" style="opacity: 0.3; width: 200px; height: 300px; margin-left: 20px; margin-top: 20px; margin-right: 20px;">
							}

							i += 1;
						}
					}
				</div>

				<div style="position: relative; left: 15%; transform: translateX(-50%);">
					<div style="font-size: 24px;">
						@Herramientas.Idiomas.CogerCadena(idioma, "Index.Giveaways")
					</div>
				</div>
			</div>
		</a>
	</div>
}

@if (juegosMinimosMostrar.Count > 0)
{
	<div style="display: flex; font-size: 20px; align-items: center; justify-content: center;">
		<a href="/HistoricalLow" style="text-decoration: none;">@Herramientas.Idiomas.CogerCadena(idioma, "Index.LastLows")</a>

		<div class="tooltip2" style="margin-left: 20px;">
			<i class="fa-solid fa-circle-info" style="font-size: 15px;"></i>
			<div class="tooltip-abrir tooltip-derecha" style="padding: 20px; min-width: 400px; max-width: 600px;">
				@Herramientas.Idiomas.CogerCadena(idioma, "Index.LastLowsInfo")
			</div>
		</div>
	</div>

	<div class="tooltip4" style="margin-bottom: 25px;">
		@foreach (global::Juegos.Juego juego in juegosMinimosMostrar)
		{
			<div class="perfil-flexible-centrado minimo-espacio3" style="margin-top: 20px;" @onmouseover="@(e => CargarTooltip(e, juego))">
				<a class="boton-pequeño" style="padding: 2px;" href="/game/@juego.IdMaestra">
					<div class="perfil-flexible-centrado">
						<div style="width: 20%;">
							<img src="@juego.Imagenes.Capsule_231x87" style="height: 100%; width: 100%;" />
						</div>

						<div style="width: 73%; display: flex; flex-flow: column wrap; padding: 15px 20px;">
							<div class="minimo-fuente">@juego.Nombre</div>
							<div style="margin-top: 10px; display: flex; align-items: center;">
								<img src="@CargarDRM(juego)" style="width: 16px; height: 16px; margin-right: 10px;" />
								<img src="@CargarIconoTienda(juego)" style="width: 16px; height: 16px; margin-right: 10px;" />
								<div class="minimo-fuentefecha">@CargarFechaDetectado(juego)</div>
							</div>
						</div>

						<div style="width: 17%; display: flex; align-items: center; justify-content: center; text-align: center;">
							<div class="minimo-fuente minimo-espacio2" style="background-color: darkgreen;">
								@CargarDescuento(juego)
							</div>

							<div class="minimo-fuente minimo-espacio1" style="text-align: center;">
								@CargarPrecio(juego)
							</div>
						</div>
					</div>
				</a>
			</div>
		}

		<div id="tooltip-minimos" class="tooltip-relleno">
			@if (string.IsNullOrEmpty(tooltipVideo) == false)
			{
				<video src="@tooltipVideo" autoplay="autoplay" loop muted style="width: 460px; height: 215px; object-fit: cover;" />
			}

			<div style="padding: 15px;">
				<label>@tooltipNombre</label>
				<div style="display: flex; align-items: center; margin-top: 10px; padding: 5px; text-align: center; justify-content: center;">
					<div style="margin-right: 20px;">
						<img src="@tooltipDRM" style="max-width: 20px; max-height: 20px;" />
					</div>
					<div style="margin-right: 20px;">
						<img src="@tooltipTienda" style="width: 20px; height: 20px;" />
					</div>

					@if (string.IsNullOrEmpty(tooltipReviews) == false)
					{
						<div style="margin-right: 20px;">
							<img src="@tooltipReviews" style="width: 20px; height: 20px;" />
						</div>
					}

					<div>
						@tooltipTiempo
					</div>
				</div>

				@if (string.IsNullOrEmpty(tooltipBundles) == false || string.IsNullOrEmpty(tooltipGratis) == false || string.IsNullOrEmpty(tooltipSuscripciones) == false)
				{
					<div style="font-size: 13px; margin-top: 10px; padding: 5px;">
						@tooltipBundles
						@tooltipGratis
						@tooltipSuscripciones
						@* test *@
					</div>
				}
			</div>
		</div>
	</div>

	<div style="margin-bottom: 20px; margin-left: auto; margin-right: auto; width: 400px;">
		<a class="boton-pequeño" style="width: 100%; padding: 15px 20px; font-size: 17px; text-align: center;" href="/HistoricalLow?mode=last">
			@Herramientas.Idiomas.CogerCadena(idioma, "Index.LastLowsMore")
		</a>
	</div>
}

<script>
	window.onmousemove = function (e) {
		var x = e.clientX,
			y = e.clientY;

		var tooltipSpan = document.getElementById('tooltip-destacados');

		if (screen.width / 2 > x) {
			tooltipSpan.style.top = (y + 10) + 'px';
			tooltipSpan.style.left = (x + 20) + 'px';
		}
		else {
			tooltipSpan.style.top = (y - 10) + 'px';
			tooltipSpan.style.left = (x - 20 - tooltipSpan.getBoundingClientRect().width) + 'px';
		};

		var tooltipSpan = document.getElementById('tooltip-minimos');

		if (screen.width / 2 > x) {
			tooltipSpan.style.top = (y + 10) + 'px';
			tooltipSpan.style.left = (x + 20) + 'px';
		}
		else {
			tooltipSpan.style.top = (y - 10) + 'px';
			tooltipSpan.style.left = (x - 20 - tooltipSpan.getBoundingClientRect().width) + 'px';
		};
	};
</script>

@code {

	#nullable disable

	[Parameter]
	public string idioma { get; set; }

	[Parameter]
	public string dominio { get; set; }

	private Usuario usuario = new Usuario();

	List<Juegos.Juego> juegosDestacadosMostrar = new List<Juegos.Juego>();
	List<Juegos.Juego> juegosDestacadosGestor = new List<Juegos.Juego>();
	public int cantidadDestacadosMostrar = 6;
	public int posicionDestacadosMostrar = 0;
	public int topeAtras = 0;
	public int topeAdelante = 0;

	List<Juegos.Juego> juegosMinimosMostrar = new List<Juegos.Juego>();

	List<Noticia> noticiasMostrar = new List<Noticia>();
	List<Noticia> noticiasGestor = new List<Noticia>();
	List<Noticia> noticiaEvento = new List<Noticia>();

	List<Sorteos2.Sorteo> sorteosActivos = new List<Sorteos2.Sorteo>();

	protected override async Task OnInitializedAsync()
	{
		usuario = UserManager.GetUserAsync(HttpContextAccessor.HttpContext.User).Result;

		//------------------------------------------------

		SqlConnection conexion = Herramientas.BaseDatos.Conectar();

		using (conexion)
		{
			#region Destacados

			try
			{
				juegosDestacadosGestor = BaseDatos.Juegos.Buscar.Todos(conexion, "portadaJuegosDestacados");
			}
			catch { }

			if (juegosDestacadosGestor != null)
			{
				if (juegosDestacadosGestor.Count > 0)
				{
					juegosDestacadosGestor.Sort(delegate (global::Juegos.Juego j1, global::Juegos.Juego j2)
					{
						global::Juegos.JuegoPrecio p1 = null;

						if (j1.PrecioMinimosHistoricos != null)
						{
							if (j1.PrecioMinimosHistoricos.Count > 0)
							{
								p1 = j1.PrecioMinimosHistoricos[0];
							}
						}

						global::Juegos.JuegoPrecio p2 = null;

						if (j2.PrecioMinimosHistoricos != null)
						{
							if (j2.PrecioMinimosHistoricos.Count > 0)
							{
								p2 = j2.PrecioMinimosHistoricos[0];
							}
						}

						if (p1 != null && p2 != null)
						{
							return p2.FechaUltimoMinimo.CompareTo(p1.FechaUltimoMinimo);
						}
						else
						{
							if (p1 != null)
							{
								return 0;
							}

							if (p2 != null)
							{
								return 1;
							}

							return 0;
						}
					});

					foreach (var juego in juegosDestacadosGestor)
					{
						try
						{
							juego.Imagenes.Library_600x900 = await Herramientas.Imagenes.DescargarYGuardar(juego.Imagenes.Library_600x900, "juegos", juego.IdMaestra.ToString(), "library_600x900", dominio);
						}
						catch { }
					}

					for (int i = posicionDestacadosMostrar; i < cantidadDestacadosMostrar; i += 1)
					{
						if (i < juegosDestacadosGestor.Count)
						{
							if (juegosDestacadosGestor[i] != null)
							{
								juegosDestacadosMostrar.Add(juegosDestacadosGestor[i]);
							}
						}		
						else
						{
							break;
						}
					}
				}
			}

			#endregion

			#region Minimos

			try
			{
				juegosMinimosMostrar = BaseDatos.Juegos.Buscar.Todos(conexion, "portadaJuegosMinimos");
			}
			catch { }

			if (juegosMinimosMostrar != null)
			{
				if (juegosMinimosMostrar.Count > 0)
				{
					juegosMinimosMostrar.Sort(delegate (global::Juegos.Juego j1, global::Juegos.Juego j2)
					{
						global::Juegos.JuegoPrecio p1 = null;

						if (j1.PrecioMinimosHistoricos != null)
						{
							if (j1.PrecioMinimosHistoricos.Count > 0)
							{
								p1 = j1.PrecioMinimosHistoricos[0];
							}
						}

						global::Juegos.JuegoPrecio p2 = null;

						if (j2.PrecioMinimosHistoricos != null)
						{
							if (j2.PrecioMinimosHistoricos.Count > 0)
							{
								p2 = j2.PrecioMinimosHistoricos[0];
							}
						}

						if (p1 != null && p2 != null)
						{
							return p2.FechaUltimoMinimo.CompareTo(p1.FechaUltimoMinimo);
						}
						else
						{
							if (p1 != null)
							{
								return 0;
							}

							if (p2 != null)
							{
								return 1;
							}

							return 0;
						}
					});

					foreach (global::Juegos.Juego juego in juegosMinimosMostrar)
					{
						try
						{
							juego.Imagenes.Capsule_231x87 = await Herramientas.Imagenes.DescargarYGuardar(juego.Imagenes.Capsule_231x87, "juegos", juego.IdMaestra.ToString(), "capsule_231x87", dominio);
						}
						catch { }
					}
				}
			}			

			#endregion

			#region Noticias

			try
			{
				noticiasGestor = BaseDatos.Noticias.Buscar.Todas(conexion, "portadaNoticias");
			}
			catch { }

			if (noticiasGestor != null)
			{
				if (noticiasGestor.Count > 0)
				{
					noticiasGestor = noticiasGestor.OrderBy(x => x.FechaEmpieza).Reverse().ToList();

					foreach (Noticia noticia in noticiasGestor)
					{
						if (noticia.Imagen != null)
						{
							try
							{
								noticia.Imagen = await Herramientas.Imagenes.DescargarYGuardar(noticia.Imagen, "noticias", noticia.IdMaestra.ToString(), "header", dominio);
							}
							catch { }
						}

						if (noticia.Enlace == null)
						{
							noticia.Enlace = "/news/" + noticia.IdMaestra.ToString();
						}

						DateTime fechaTemporal = noticia.FechaEmpieza;
						fechaTemporal = fechaTemporal.AddDays(3);

						if (fechaTemporal > DateTime.Now)
						{
							noticiasMostrar.Add(noticia);
						}
					}
				}
			}

			noticiaEvento = BaseDatos.Noticias.Buscar.Todas(conexion, "portadaNoticiasEvento");

			#endregion

			#region Sorteos

			sorteosActivos = BaseDatos.Sorteos.Buscar.Activos(conexion);

			#endregion
		}
	}

	private string SacarNoticiaNuevaPestaña(Noticia noticia)
	{
		if (noticia.Enlace != null)
		{
			if (noticia.Enlace.Contains("/link/") == true)
			{
				return "_blank";
			}
		}

		return "_self";
	}

	private void ClickearAdelante()
	{
		juegosDestacadosMostrar.Clear();

		posicionDestacadosMostrar += cantidadDestacadosMostrar;
		topeAdelante = posicionDestacadosMostrar + cantidadDestacadosMostrar;

		if (topeAdelante > juegosDestacadosGestor.Count)
		{
			posicionDestacadosMostrar = 0;
			topeAdelante = cantidadDestacadosMostrar;
		}

		for (int i = posicionDestacadosMostrar; i < topeAdelante; i += 1)
		{
			juegosDestacadosMostrar.Add(juegosDestacadosGestor[i]);
		}
	}

	private void ClickearAtras()
	{
		juegosDestacadosMostrar.Clear();

		topeAtras = posicionDestacadosMostrar;
		posicionDestacadosMostrar -= cantidadDestacadosMostrar;

		if (posicionDestacadosMostrar < 0)
		{
			posicionDestacadosMostrar = juegosDestacadosGestor.Count - cantidadDestacadosMostrar;
			topeAtras = juegosDestacadosGestor.Count;
		}

		for (int i = posicionDestacadosMostrar; i < topeAtras; i += 1)
		{
			juegosDestacadosMostrar.Add(juegosDestacadosGestor[i]);
		}
	}

	private string tooltipNombre = string.Empty;
	private string tooltipDRM = string.Empty;
	private string tooltipTienda = string.Empty;
	private string tooltipTiempo = string.Empty;
	private string tooltipVideo = string.Empty;
	private string tooltipReviews = string.Empty;
	private string tooltipBundles = string.Empty;
	private string tooltipGratis = string.Empty;
	private string tooltipSuscripciones = string.Empty;

	private void CargarTooltip(MouseEventArgs args, global::Juegos.Juego juego)
	{
		tooltipNombre = juego.Nombre;
		tooltipDRM = CargarDRM(juego);
		tooltipTienda = CargarIconoTienda(juego);
		tooltipTiempo = CargarFechaDetectado(juego);
		tooltipVideo = null;
		tooltipReviews = null;
		tooltipBundles = null;
		tooltipGratis = null;
		tooltipSuscripciones = null;

		if (juego.Media != null)
		{
			if (string.IsNullOrEmpty(juego.Media.Video) == false)
			{
				int int1 = juego.Media.Video.LastIndexOf("/");
				string temp1 = juego.Media.Video.Remove(int1, juego.Media.Video.Length - int1);

				tooltipVideo = temp1 + "/microtrailer.webm";

				tooltipVideo = tooltipVideo.Replace("cdn.akamai.steamstatic.com/", "cdn.cloudflare.steamstatic.com/");
				tooltipVideo = tooltipVideo.Replace("http://", "https://");
			}
		}

		if (juego.Analisis != null)
		{
			if (int.Parse(juego.Analisis.Porcentaje) > 74)
			{
				tooltipReviews = "/imagenes/analisis/positive.webp";
			}
			else if (int.Parse(juego.Analisis.Porcentaje) > 49 && int.Parse(juego.Analisis.Porcentaje) < 75)
			{
				tooltipReviews = "/imagenes/analisis/mixed.webp";
			}
			else if (int.Parse(juego.Analisis.Porcentaje) < 50)
			{
				tooltipReviews = "/imagenes/analisis/negative.webp";
			}
		}

		if (juego.Bundles != null)
		{
			if (juego.Bundles.Count == 1)
			{
				tooltipBundles = Herramientas.Idiomas.CogerCadena(idioma, "Index.Tooltip2");
			}
			else if (juego.Bundles.Count > 1)
			{
				tooltipBundles = string.Format(Herramientas.Idiomas.CogerCadena(idioma, "Index.Tooltip3"), juego.Bundles.Count.ToString());
			}			
		}

		if (juego.Gratis != null)
		{
			tooltipGratis = juego.Gratis.Count.ToString();
		}

		if (juego.Suscripciones != null)
		{
			tooltipSuscripciones = juego.Suscripciones.Count.ToString();
		}
	}

	private string CargarDRM(global::Juegos.Juego juego)
	{
		string imagen = null;

		JuegoPrecio oferta = juego.PrecioMinimosHistoricos[0];
		List<Juegos.DRM> drms = Juegos.JuegoDRM2.GenerarListado();

		foreach (var drm in drms)
		{
			if (drm.Id == oferta.DRM)
			{
				imagen = drm.Imagen;
			}
		}

		if (imagen != null)
		{
			return imagen;
		}
		else
		{
			return null;
		}
	}

	private string CargarIconoTienda(global::Juegos.Juego juego)
	{
		string imagen = null;

		JuegoPrecio oferta = juego.PrecioMinimosHistoricos[0];
		List<Tiendas2.Tienda> tiendas = Tiendas2.TiendasCargar.GenerarListado();

		foreach (var tienda in tiendas)
		{
			if (tienda.Id == oferta.Tienda)
			{
				imagen = tienda.ImagenIcono;
			}
		}

		if (imagen != null)
		{
			return imagen;
		}
		else
		{
			return null;
		}
	}

	private string CargarDescuento(global::Juegos.Juego juego)
	{
		string descuentoMensaje = null;

		descuentoMensaje = juego.PrecioMinimosHistoricos[0].Descuento.ToString();
		descuentoMensaje = descuentoMensaje + "%";

		if (descuentoMensaje != null)
		{
			return descuentoMensaje;
		}
		else
		{
			return null;
		}
	}

	private string CargarPrecio(global::Juegos.Juego juego)
	{
		string precioMensaje = null;

		precioMensaje = juego.PrecioMinimosHistoricos[0].Precio.ToString();
		precioMensaje = precioMensaje.Replace(".", ",");

		int int1 = precioMensaje.IndexOf(",");

		if (int1 == precioMensaje.Length - 2)
		{
			precioMensaje = precioMensaje + "0";
		}

		if (precioMensaje.Length > int1 + 3)
		{
			precioMensaje = precioMensaje.Remove(int1 + 3, precioMensaje.Length - int1 - 3);
		}

		precioMensaje = precioMensaje + "€";

		if (precioMensaje != null)
		{
			return precioMensaje;
		}
		else
		{
			return null;
		}
	}

	private string CargarFechaDetectado(global::Juegos.Juego juego)
	{
		string mensaje = null;

		if (juego.PrecioMinimosHistoricos[0].FechaDetectado.Year > 2023)
		{
			mensaje = Herramientas.Calculadora.DiferenciaTiempo(juego.PrecioMinimosHistoricos[0].FechaDetectado, idioma);
		}
		
		return mensaje;
	}

	private string CargarEnlaceNoticia(Noticia noticia)
	{
		string enlace = string.Empty;

		if (noticia.Enlace != null)
		{
			enlace = noticia.Enlace;
		}
		else
		{
			enlace = "/news/" + noticia.IdMaestra.ToString();
		}

		return enlace;
	}

	private string CargarIconoNoticia(Noticia noticia)
	{
		string icono = string.Empty;

		if (noticia.Tipo == NoticiaTipo.Bundles)
		{
			icono = Bundles2.BundlesCargar.DevolverBundle(noticia.BundleTipo).ImagenIcono;
		}
		else if (noticia.Tipo == NoticiaTipo.Gratis)
		{
			icono = Gratis2.GratisCargar.DevolverGratis(noticia.GratisTipo).ImagenIcono;
		}
		else if (noticia.Tipo == NoticiaTipo.Suscripciones)
		{
			icono = Suscripciones2.SuscripcionesCargar.DevolverSuscripcion(noticia.SuscripcionTipo).ImagenIcono;
		}

		return icono;
	}

	private string CargarFondoNoticia(Noticia noticia)
	{
		string imagen = null;

		if (noticia != null)
		{
			if (noticia.Imagen != null)
			{
				imagen = noticia.Imagen;
			}

			if (imagen == null)
			{
				if (noticia.Juegos != null)
				{
					List<string> juegos = Herramientas.Listados.Generar(noticia.Juegos);

					if (juegos != null)
					{
						global::Juegos.Juego juego = BaseDatos.Juegos.Buscar.UnJuego(juegos[0]);

						if (juego != null)
						{
							imagen = juego.Imagenes.Library_1920x620;
						}
					}
				}
			}

			if (imagen == null)
			{
				if (noticia.ContenidoEn != null)
				{
					if (noticia.ContenidoEn.Contains(".png") == true || noticia.ContenidoEn.Contains(".webp") == true || noticia.ContenidoEn.Contains(".jpg") == true)
					{
						int contador = 4;
						int int1 = noticia.ContenidoEn.IndexOf(".png");

						if (int1 == -1)
						{
							contador = 5;
							int1 = noticia.ContenidoEn.IndexOf(".webp");
						}

						if (int1 == -1)
						{
							contador = 4;
							int1 = noticia.ContenidoEn.IndexOf(".jpg");
						}

						if (int1 > - 1)
						{
							string temp1 = noticia.ContenidoEn.Remove(int1 + contador, noticia.ContenidoEn.Length - int1 - contador);

							int int2 = temp1.LastIndexOf("https://");
							string temp2 = temp1.Remove(0, int2);

							temp2 = temp2.Replace(Strings.ChrW(34).ToString(), null);

							imagen = temp2.Trim();
						}
					}
				}
			}
		}

		return imagen;
	}
}
