<style>
	.caja-diseño {
		background: linear-gradient(180deg, var(--fondoOscuro) 0%, var(--fondoMinimo) 211.07%);
		border: 2px solid var(--fondoOscuro);
		box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.28),0px 0px 2px 0px rgba(0, 0, 0, 0.24);
		border-radius: 5px;
	}
</style>

<h1 style="font-size: 20px; text-align: left; margin: 0px;">
	@Herramientas.Idiomas.BuscarTexto(idioma, "String1", "Privacy")
</h1>

<hr />

<div class="caja-diseño" style="padding: 40px; margin-bottom: 40px;">


	<div>
		@Herramientas.Idiomas.BuscarTexto(idioma, "String2", "Privacy")

		<ul>
			<li>
				@Herramientas.Idiomas.BuscarTexto(idioma, "String3", "Privacy")
			</li>
			<li>
				@Herramientas.Idiomas.BuscarTexto(idioma, "String4", "Privacy")
			</li>
		</ul>

		@Herramientas.Idiomas.BuscarTexto(idioma, "String5", "Privacy")
	</div>
</div>

<div style="font-size: 20px;">
	@Herramientas.Idiomas.BuscarTexto(idioma, "String6", "Privacy")
</div>

<hr />
<div class="caja-diseño" style="padding: 40px;">
	<div style="margin-bottom: 20px;">
		@Herramientas.Idiomas.BuscarTexto(idioma, "String7", "Privacy")
	</div>

	<div>
		@Herramientas.Idiomas.BuscarTexto(idioma, "String8", "Privacy")
	</div>
</div>

@code {

	#nullable disable

	[Parameter]
	public string idioma { get; set; }

}
