<div style="max-width: 1200px; margin: auto;">
	<h1 style="font-size: 23px;">@Herramientas.Idiomas.CogerCadena(idioma, "Title", "RSS")</h1>
	<hr />

	<div style="display: flex; flex-direction: column; gap: 40px;">
		<div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 40px; display: flex; flex-direction: column; gap: 20px;">
			<div style="font-size: 18px;">
				@Herramientas.Idiomas.CogerCadena(idioma, "String1", "RSS")
			</div>

			<div>
				@Herramientas.Idiomas.CogerCadena(idioma, "String2", "RSS")
			</div>

			<div style="display: flex; flex-direction: column; gap: 5px;">
				@Herramientas.Idiomas.CogerCadena(idioma, "String3", "RSS")

				<div style="padding: 10px 15px; background-color: var(--fondoCodigo);">
					<label style="text-decoration: none;">https://pepeizqdeals.com/rss-en.xml</label>
				</div>
			</div>

			<div style="display: flex; flex-direction: column; gap: 5px;">
				@Herramientas.Idiomas.CogerCadena(idioma, "String4", "RSS")

				<div style="padding: 10px 15px; background-color: var(--fondoCodigo);">
					<label style="text-decoration: none;">https://pepeizqdeals.com/rss-es.xml</label>
				</div>
			</div>
		</div>

		<div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 40px; display: flex; flex-direction: column; gap: 20px;">
			<div style="font-size: 18px;">
				@Herramientas.Idiomas.CogerCadena(idioma, "String5", "RSS")
			</div>

			<div>
				@Herramientas.Idiomas.CogerCadena(idioma, "String6", "RSS")
			</div>

			<div style="padding: 10px 15px; background-color: var(--fondoCodigo);">
				<label style="text-decoration: none;">https://pepeizqdeals.com/rss/steam/1000</label>
			</div>

			<div>
				@Herramientas.Idiomas.CogerCadena(idioma, "String7", "RSS")
			</div>

			<div style="padding: 10px 15px; background-color: var(--fondoCodigo);">
				<label style="text-decoration: none;">https://pepeizqdeals.com/rss/steam,gog/1000</label>
			</div>

			<div>
				@Herramientas.Idiomas.CogerCadena(idioma, "String8", "RSS")
			</div>

			<div>
				@Herramientas.Idiomas.CogerCadena(idioma, "String9", "RSS")
			</div>
		</div>
	</div>	
</div>

@code {

	#nullable disable

	[Parameter]
	public string idioma { get; set; }

}
