@using APIs.Steam
@using Microsoft.AspNetCore.Components.Web;
@using Microsoft.AspNetCore.Identity;
@using Microsoft.Data.SqlClient
@using pepeizqs_deals_web.Areas.Identity.Data;

@inject UserManager<Usuario> UserManager
@inject SignInManager<Usuario> SignInManager
@inject IHttpContextAccessor HttpContextAccessor

<div style="background-color: var(--fondoCuerpo); position: sticky; position: -webkit-sticky; top: 70px; z-index: 1; margin: -10px; padding: 10px;">
    <div style="display: flex; align-items: center; width: 100%;">
        <div style="width: 70%; font-size: 23px; text-align: left;">
            @Herramientas.Idiomas.CogerCadena(idioma, "Giveaways.String2")
        </div>

        <div style="display: flex; align-items: center; width: 30%; justify-content: right;">
            

        </div>
    </div>
</div>




@if (sorteosGrupoPremium != null)
{
    
}

@if (sorteosGrupoNormal != null)
{
    <div style="font-size: 23px; display: flex; align-items: center;">
        <label>@Herramientas.Idiomas.CogerCadena(idioma, "Giveaways.String2")</label>

        @if (usuario != null)
        {
            bool apto = false;

            if (string.IsNullOrEmpty(usuario.OfficialGroup2) == false)
            {
                if (usuario.OfficialGroup2.ToLower() == "true")
                {
                    apto = true;
                }
            }

            if (string.IsNullOrEmpty(usuario.SteamGames) == false)
            {
                List<string> juegosUsuario = Herramientas.Listados.Generar(usuario.SteamGames);

                if (juegosUsuario.Count < 50)
                {
                    apto = false;
                }
            }

            if (apto == true)
            {
                <a onclick="moverScroll('normas2')" style="color: var(--colorTextoOscuro); text-decoration: underline; font-size: 15px; margin-left: 15px; cursor: pointer;">@Herramientas.Idiomas.CogerCadena(idioma, "Giveaways.String5")</a>
            }
            else
            {
                <a onclick="moverScroll('normas2')" style="color: var(--colorTextoOscuro); text-decoration: underline; font-size: 15px; margin-left: 15px; cursor: pointer;">@Herramientas.Idiomas.CogerCadena(idioma, "Giveaways.String6")</a>
            }
        }
    </div>

    <hr />

    if (sorteosGrupoNormal.Count > 0)
    {      
        <div class="perfil" style="padding-top: 25px; padding-bottom: 30px;">
            <div style="padding-bottom: 10px;">
                @if (sorteosGrupoNormal.Count == 1)
                {
                    @string.Format("{0} {1}{2}", Herramientas.Idiomas.CogerCadena(idioma, "Giveaways.String15"), Herramientas.Calculadora.DiferenciaTiempo(Convert.ToDateTime(sorteosGrupoNormal[0].Sorteo.FechaTermina), idioma, 1), ":")
                }
                else
                {
                    @string.Format("{0} {1}{2}", Herramientas.Idiomas.CogerCadena(idioma, "Giveaways.String14"), Herramientas.Calculadora.DiferenciaTiempo(Convert.ToDateTime(sorteosGrupoNormal[0].Sorteo.FechaTermina), idioma, 2), ":")
                }
                
            </div>

            @foreach (var sorteo in sorteosGrupoNormal)
            {
                if (sorteo.Sorteo.FechaTermina >= DateTime.Now)
                {
                    if (sorteo.PuedeParticipar == true)
                    {
                        <button class="boton-pequeño" style="padding: 0px; margin-top: 15px; margin-bottom: 15px;" @onclick="@(e => Entrar(e, sorteo))">
                            <div class="perfil-flexible-centrado">
                                <div style="width: 20%;">
                                    <img src="@sorteo.Juego.Imagenes.Capsule_231x87" style="max-height: 100%; max-width: 100%;" />
                                </div>

                                <div style="width: 80%; padding-left: 10px; padding-right: 10px;">
                                    <div style="margin-bottom: 10px;">@sorteo.Juego.Nombre</div>

                                    <div>@CalcularParticipantes(sorteo.Sorteo)</div>
                                </div>
                            </div>
                        </button>
                    }
                    else
                    {
                        <button class="boton-pequeño" style="padding: 0px; cursor: not-allowed; pointer-events: none; margin-top: 15px; margin-bottom: 15px;">
                            <div class="perfil-flexible-centrado">
                                <div style="width: 20%;">
                                    <img src="@sorteo.Juego.Imagenes.Capsule_231x87" style="max-height: 100%; max-width: 100%;" />
                                </div>

                                <div style="width: 60%; padding-left: 10px; padding-right: 10px;">
                                    <div style="margin-bottom: 10px;">@sorteo.Juego.Nombre</div>

                                    <div>@CalcularParticipantes(sorteo.Sorteo)</div>                            
                                </div>

                                @if (sorteo.TieneJuego == true)
                                {
                                    <div style="width: 20%; padding-right: 40px; text-align: right;">@Herramientas.Idiomas.CogerCadena(idioma, "Giveaways.String7")</div>
                                }
                            </div>
                        </button>
                    }                    
                }
            }
        </div>
    }
    else
    {
        <div>
            @Herramientas.Idiomas.CogerCadena(idioma, "Giveaways.String8")
        </div>
    }

    <div style="font-size: 23px; display: flex; align-items: center; margin-top: 50px;">
        <label>@Herramientas.Idiomas.CogerCadena(idioma, "Giveaways.String9")</label>
    </div>

    <hr />

    <div id="normas2" class="perfil" style="padding: 20px;">
        <ul>
            <li><a href="https://pepeizqdeals.com/Identity/Account/Register" target="_blank" style="text-decoration: none;">@Herramientas.Idiomas.CogerCadena(idioma, "Giveaways.String13")</a></li>
            <li>@Herramientas.Idiomas.CogerCadena(idioma, "Giveaways.String10")</li>
            <li><a href="https://steamcommunity.com/groups/pepeizqdeals/" target="_blank" style="text-decoration: none;">@Herramientas.Idiomas.CogerCadena(idioma, "Giveaways.String11")</a></li>
            <li>@Herramientas.Idiomas.CogerCadena(idioma, "Giveaways.String12")</li>
        </ul>
    </div>
}

<script>
    function moverScroll(id) {
        const yOffset = -175;
        const element = document.getElementById(id);
        const y = element.getBoundingClientRect().top + window.pageYOffset + yOffset;

        window.scrollTo({ top: y, behavior: 'smooth' });
    }
</script>

@code {

    #nullable disable

    [Parameter]
    public string idioma { get; set; }

    [Parameter]
    public string dominio { get; set; }

    List<JuegoSorteo> sorteosGrupoPremium = new List<JuegoSorteo>();
    List<JuegoSorteo> sorteosGrupoNormal = new List<JuegoSorteo>();
    private string mensajeTerminaNormal = string.Empty;

    private Usuario usuario = new Usuario();
    private List<string> juegosUsuario = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        usuario = await UserManager.GetUserAsync(HttpContextAccessor.HttpContext.User);

        if (usuario != null)
        {
            if (string.IsNullOrEmpty(usuario.SteamGames) == false && string.IsNullOrEmpty(usuario.SteamAccount) == false)
            {
                bool tiempo = true;

                if (string.IsNullOrEmpty(usuario.SteamAccountLastCheck) == false)
                {
                    if (Convert.ToDateTime(usuario.SteamAccountLastCheck) + TimeSpan.FromDays(7) > DateTime.Now)
                    {
                        tiempo = false;
                    }
                }

                if (tiempo == true)
                {
                    SteamUsuario datos = await Cuenta.CargarDatos(usuario.SteamAccount);

                    usuario.SteamGames = datos.Juegos;
                    usuario.SteamWishlist = datos.Deseados;
                    usuario.Avatar = datos.Avatar;
                    usuario.Nickname = datos.Nombre;
                    usuario.SteamAccountLastCheck = DateTime.Now.ToString();
                    usuario.OfficialGroup = datos.GrupoPremium;
                    usuario.OfficialGroup2 = datos.GrupoNormal;

                    await UserManager.UpdateAsync(usuario);
                }
            }

            juegosUsuario = Herramientas.Listados.Generar(usuario.SteamGames);
        }

        //--------------------------------------------------------------------

        List<Sorteos2.Sorteo> listaSorteos = BaseDatos.Sorteos.Buscar.Todos();

        if (listaSorteos != null)
        {
            if (listaSorteos.Count > 0)
            {
                foreach (var sorteo in listaSorteos)
                {
                    if (sorteo.FechaTermina >= DateTime.Now)
                    {
                        if (string.IsNullOrEmpty(sorteo.JuegoId.ToString()) == false)
                        {
                            Juegos.Juego juego = BaseDatos.Juegos.Buscar.UnJuego(sorteo.JuegoId.ToString());

                            if (juego != null)
                            {                               
                                bool puedeParticipar = true;
                                bool tieneJuego = false;

                                if (usuario != null)
                                {
                                    if (string.IsNullOrEmpty(usuario.SteamGames) == false)
                                    {
                                        List<string> juegosUsuario = Herramientas.Listados.Generar(usuario.SteamGames);

                                        foreach (var juegoUsuario in juegosUsuario)
                                        {
                                            if (juegoUsuario == juego.IdSteam.ToString())
                                            {
                                                puedeParticipar = false;
                                                tieneJuego = true;
                                            }
                                        }
                                    }
                                }

                                JuegoSorteo nuevoSorteo = new JuegoSorteo();
                                nuevoSorteo.Sorteo = sorteo;
                                nuevoSorteo.Juego = juego;
                                nuevoSorteo.PuedeParticipar = puedeParticipar;
                                nuevoSorteo.TieneJuego = tieneJuego;

                                if (sorteo.GrupoId == "40604285")
                                {
                                    if (nuevoSorteo.PuedeParticipar == true)
                                    {
                                        puedeParticipar = false;

                                        if (usuario != null)
                                        {
                                            if (string.IsNullOrEmpty(usuario.OfficialGroup) == false)
                                            {
                                                if (usuario.OfficialGroup2.ToLower() == "true")
                                                {
                                                    puedeParticipar = true;
                                                }
                                            }

                                            if (string.IsNullOrEmpty(usuario.SteamGames) == false)
                                            {
                                                List<string> juegosUsuario = Herramientas.Listados.Generar(usuario.SteamGames);

                                                if (juegosUsuario.Count < 50)
                                                {
                                                    puedeParticipar = false;
                                                }
                                            }
                                        }

                                        nuevoSorteo.PuedeParticipar = puedeParticipar;
                                    }

                                    sorteosGrupoPremium.Add(nuevoSorteo);
                                }
                                else if (sorteo.GrupoId == "33500256")
                                {
                                    if (nuevoSorteo.PuedeParticipar == true)
                                    {
                                        puedeParticipar = false;

                                        if (usuario != null)
                                        {
                                            if (string.IsNullOrEmpty(usuario.OfficialGroup) == false)
                                            {
                                                if (usuario.OfficialGroup2.ToLower() == "true")
                                                {
                                                    puedeParticipar = true;
                                                }
                                            }

                                            if (string.IsNullOrEmpty(usuario.SteamGames) == false)
                                            {
                                                List<string> juegosUsuario = Herramientas.Listados.Generar(usuario.SteamGames);

                                                if (juegosUsuario.Count < 50)
                                                {
                                                    puedeParticipar = false;
                                                }
                                            }
                                        }

                                        nuevoSorteo.PuedeParticipar = puedeParticipar;
                                    }                                  

                                    sorteosGrupoNormal.Add(nuevoSorteo);
                                }                             
                            }
                        }                      
                    }
                }
            }
        }
    }

    private string CalcularParticipantes(Sorteos2.Sorteo sorteo)
    {
        string mensaje = string.Empty;

        if (sorteo != null)
        {
            if (sorteo.Participantes != null)
            {
                if (sorteo.Participantes.Count == 1)
                {
                    mensaje = sorteo.Participantes.Count.ToString() + " " + Herramientas.Idiomas.CogerCadena(idioma, "Giveaways.String3");
                }
                else
                {
                    mensaje = sorteo.Participantes.Count.ToString() + " " + Herramientas.Idiomas.CogerCadena(idioma, "Giveaways.String4");
                }
            }
        }

        if (mensaje == string.Empty)
        {
            mensaje = "0 " + Herramientas.Idiomas.CogerCadena(idioma, "Giveaways.String4");
        }

        return mensaje;
    }

    private void Entrar(MouseEventArgs e, JuegoSorteo sorteo)
    {
        if (sorteo != null && usuario != null)
        {
            if (sorteo.PuedeParticipar == true && sorteo.TieneJuego == false)
            {
                SqlConnection conexion = Herramientas.BaseDatos.Conectar();

                using (conexion)
                {
                    Sorteos2.Sorteo sorteoEntrar = BaseDatos.Sorteos.Buscar.Uno(sorteo.Sorteo.Id.ToString());

                    bool añadirParticipante = true;

                    if (sorteoEntrar.Participantes != null)
                    {
                        if (sorteoEntrar.Participantes.Count > 0)
                        {
                            foreach (var participante in sorteoEntrar.Participantes)
                            {
                                if (participante == usuario.Id)
                                {
                                    añadirParticipante = false;
                                }
                            }
                        }
                    }

                    if (añadirParticipante == true)
                    {
                        if (sorteoEntrar.Participantes == null)
                        {
                            sorteoEntrar.Participantes = new List<string>();
                        }

                        sorteoEntrar.Participantes.Add(usuario.Id);
                    }
                    else
                    {
                        sorteoEntrar.Participantes.Remove(usuario.Id);
                    }

                    BaseDatos.Sorteos.Actualizar.Participante(sorteoEntrar, conexion);
                }
            }
        }
    }

    public class JuegoSorteo
    {
        public Sorteos2.Sorteo Sorteo;
        public Juegos.Juego Juego;
        public bool PuedeParticipar;
        public bool TieneJuego;
    }
}
