@using Microsoft.AspNetCore.Components.Web;

<div style="font-size: 23px;">
	@Herramientas.Idiomas.CogerCadena(idioma, "Subscriptions.String1")
</div>

@foreach (var suscripcion in Suscripciones2.SuscripcionesCargar.GenerarListado())
{
	@if (BaseDatos.Suscripciones.Buscar.UnTipo(suscripcion.Id.ToString(), Herramientas.Tiempo.Actual).Count > 0)
	{
		<hr>

		<div style="display: flex; align-items: start;">
			<div class="perfil" style="width: 20%;">
				<img src="@suscripcion.Imagen" />
			</div>

			<div class="perfil" style="width: 80%; display: grid; grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); gap: 15px;">
				@foreach (var juego in BaseDatos.Suscripciones.Buscar.UnTipo(suscripcion.Id.ToString(), Herramientas.Tiempo.Actual))
				{
					<div>
						<a href="@Herramientas.EnlaceAcortador.Generar(juego.Enlace, juego.Tipo)" class="boton-pequeño" style="padding: 10px;" target="_blank">
							<div>
								<img src="@juego.Imagen" style="max-width: 100%; max-height: 100%;" />
							</div>

							<div style="text-align: right; margin-top: 10px; height: 30px;">
								<img src="@Juegos.JuegoDRM2.SacarImagen(juego.DRM)" style="max-width: 30px; max-height: 30px;" />
							</div>
						</a>
					</div>
				}
			</div>
		</div>
	}	
}

<div style="font-size: 23px; margin-top: 60px">
	@Herramientas.Idiomas.CogerCadena(idioma, "Subscriptions.String2")
</div>

@foreach (var suscripcion in Suscripciones2.SuscripcionesCargar.GenerarListado())
{
	@if (BaseDatos.Suscripciones.Buscar.UnTipo(suscripcion.Id.ToString(), Herramientas.Tiempo.Pasado).Count > 0)
	{
		<hr>

		<div style="display: flex; align-items: start;">
			<div class="perfil" style="width: 20%;">
				<img src="@suscripcion.Imagen" />
			</div>

			<div class="perfil" style="width: 80%;">
				@foreach (var juego in BaseDatos.Suscripciones.Buscar.UnTipo(suscripcion.Id.ToString(), Herramientas.Tiempo.Pasado))
				{
					<div>
						<a href="/game/@juego.JuegoId">@LimpiarNombre(juego.Nombre)</a> (@Juegos.JuegoDRM2.DevolverDRM(juego.DRM)) @juego.FechaTermina.Month.ToString()/@juego.FechaTermina.Year.ToString()
					</div>
				}
			</div>
		</div>
	}
}

@code {

	#nullable disable

	[Parameter]
	public string idioma { get; set; }

	private string LimpiarNombre(string nombre)
	{
		nombre = nombre.Replace("???", null);
		nombre = nombre.Trim();

		return nombre;
	}
}
