@using BaseDatos.Errores
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.Data.SqlClient

<div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 40px;">
    <button @onclick="@(e => LimpiarErrores(e))" class="boton-pequeño" style="text-align: center; width: 200px;">Limpiar</button>

    @if (listaErrores != null)
    {
        if (listaErrores.Count > 0)
        {
            <hr />

            foreach (var error in listaErrores)
            {
                bool conEnlace = false;

                @if (string.IsNullOrEmpty(error.Enlace) == false)
                {
                    if (error.Enlace != "nada")
                    {
                        conEnlace = true;
                    }
                }

                if (conEnlace == true)
                {
                    <a href="@error.Enlace" target="_blank">
                        <div style="display: flex; align-items: start; margin-top: 10px; margin-bottom: 10px; gap: 20px;">
                            <div>
                                <div>
                                    @error.Seccion
                                </div>
                                <div style="margin-top: 15px;">
                                    @error.Fecha
                                </div>
                            </div>

                            <div style="width: 100%;">
                                @if (string.IsNullOrEmpty(error.Mensaje) == false)
                                {
                                    if (error.Mensaje != "nada")
                                    {
                                        <div style="margin-bottom: 10px;">
                                            @error.Mensaje
                                        </div>
                                    }
                                }

                                <div>
                                    @error.Stacktrace
                                </div>                             
                            </div>
                        </div>
                    </a>
                }
                else
                {
                    <div style="display: flex; align-items: start; margin-top: 10px; margin-bottom: 10px; gap: 20px;">
                        <div>
                            <div>
                                @error.Seccion
                            </div>
                            <div style="margin-top: 15px;">
                                @error.Fecha
                            </div>
                        </div>

                        <div style="width: 100%;">
                            @if (string.IsNullOrEmpty(error.Mensaje) == false)
                            {
                                if (error.Mensaje != "nada")
                                {
                                    <div style="margin-bottom: 10px;">
                                        @error.Mensaje
                                    </div>
                                }
                            }

                            <div>
                                @error.Stacktrace
                            </div>
                        </div>
                    </div>
                }

                <hr />
            }
        }
    }
</div>

@code {

    #nullable disable

    private SqlConnection conexion = new SqlConnection();

    List<Error> listaErrores = new List<Error>();

    protected override void OnInitialized()
    {
        if (conexion.State != System.Data.ConnectionState.Open)
        {
            conexion = Herramientas.BaseDatos.Conectar();
        }

        listaErrores = BaseDatos.Errores.Buscar.Todos(conexion);
    }

    private void LimpiarErrores(MouseEventArgs e)
    {
        if (conexion.State != System.Data.ConnectionState.Open)
        {
            conexion = Herramientas.BaseDatos.Conectar();
        }

        using (conexion)
        {
            BaseDatos.Errores.Limpiar.Ejecutar(conexion);

            listaErrores = new List<Error>();
        }
    }

}
