@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Identity
@using Microsoft.Data.SqlClient
@using pepeizqs_deals_web.Areas.Identity.Data

<style>
    .boton-pestañas {
        color: var(--colorTexto);
        background: transparent;
        text-align: center;
        border: 0;
        width: 100%;
        transition: transform .2s;
        font-size: 17px;
        padding: 10px;
    }

        .boton-pestañas:hover {
            color: var(--colorTextoHover);
            transform: scale(1.01);
        }
</style>

<div>
    <div style="display: flex; align-items: start; width: 100%; font-size: 17px; gap: 40px;">
        <div style="width: 15%;">
            <div>
                @if (nuevosErroresCantidad > 0)
                {
                    <button class="boton-pestañas" @onclick="(e => MostrarErrores(e))" style="@estiloErrores;">Errores @nuevosErroresMensaje</button>
                }

                @if (nuevosCorreosDeals > 0)
                {
                    string mensajeCorreosDeals = "(" + nuevosCorreosDeals.ToString() + ")";

                    <button class="boton-pestañas" @onclick="(e => MostrarEnlaces(e))">Correos Deals @mensajeCorreosDeals</button>
                }

                @if (nuevosCorreosApps > 0)
                {
                    string mensajeCorreosApps = "(" + nuevosCorreosApps.ToString() + ")";

                    <button class="boton-pestañas" @onclick="(e => MostrarEnlaces(e))">Correos Apps @mensajeCorreosApps</button>
                }

                @if (nuevosPendientesCantidad > 0)
                {
                    <button class="boton-pestañas" @onclick="(e => MostrarPendientes(e))" style="@estiloPendientes;">Pendientes @nuevosPendientesMensaje</button>
                }

                @if (nuevosDLCsCantidad > 0)
                {
                    <button class="boton-pestañas" @onclick="(e => MostrarDLCs(e))" style="@estiloDLCs;">DLCs @nuevosDLCsMensaje</button>
                }

                <button class="boton-pestañas" @onclick="(e => MostrarEnlaces(e))" style="@estiloEnlaces;">Enlaces</button>
                <button class="boton-pestañas" @onclick="(e => MostrarAvisos(e))" style="@estiloAvisos;">Avisos</button>
                <button class="boton-pestañas" @onclick="(e => MostrarTiendas(e))" style="@estiloTiendas;">Tiendas</button>
                <button class="boton-pestañas" @onclick="(e => MostrarDivisas(e))" style="@estiloDivisas;">Divisas</button>          
            </div>

            <hr/>

            <div>
                <button class="boton-pestañas" @onclick="(e => MostrarJuegos(e))" style="@estiloJuegos;">Juegos</button>
                <button class="boton-pestañas" @onclick="(e => MostrarNoticias(e))" style="@estiloNoticias;">Noticias</button>
                <button class="boton-pestañas" @onclick="(e => MostrarBundles(e))" style="@estiloBundles;">Bundles</button>
                <button class="boton-pestañas" @onclick="(e => MostrarGratis(e))" style="@estiloGratis;">Gratis</button>
                <button class="boton-pestañas" @onclick="(e => MostrarSuscripciones(e))" style="@estiloSuscripciones;">Suscripciones</button>
                <button class="boton-pestañas" @onclick="(e => MostrarRecompensas(e))" style="@estiloRecompensas;">Recompensas</button>
            </div>
        </div>

        <div style="width: 85%;">
            @if (mostrarEnlaces == true)
            {
                <Enlaces correosDeals="nuevosCorreosDeals" correosApps="nuevosCorreosApps" />
            }

            @if (mostrarErrores == true)
            {
                <Errores/>
            }

            @if (mostrarAvisos == true)
            {
                <Avisos/>
            }

            @if (mostrarTiendas == true)
            {
               <Tiendas/>
            }

            @if (mostrarDivisas == true)
            {
                <Divisas/>
            }

            @if (mostrarDLCs == true)
            {
                <DLCs/>
            }

            @if (mostrarPendientes == true)
            {
                <Pendientes />
            }

            @if (mostrarJuegos == true)
            {
                <Juegos />
            }

            @if (mostrarNoticias == true)
            {
                <Noticias />
            }

            @if (mostrarBundles == true)
            {
                <Bundles />
            }

            @if (mostrarGratis == true)
            {
                <Gratis/>
            }

            @if (mostrarSuscripciones == true)
            {
                <Suscripciones/>
            }

            @if (mostrarRecompensas == true)
            {
                <Recompensas/>
            }
        </div>
    </div>
</div>

@code {

    #nullable disable

    // private SqlConnection conexion = new SqlConnection();

    protected override void OnInitialized()
    {
        ActualizarMensajeCorreos(int.Parse(BaseDatos.Tiendas.Admin.LeerDato(null, "correos")), int.Parse(BaseDatos.Tiendas.Admin.LeerDato(null, "correos2")));
        ActualizarMensajePendientes(int.Parse(BaseDatos.Tiendas.Admin.LeerDato(null, "pendientes")));
        ActualizarMensajeErrores(int.Parse(BaseDatos.Tiendas.Admin.LeerDato(null, "errores")));
        ActualizarMensajeDLCs(global::BaseDatos.Juegos.Buscar.DLCs(null).Count);

        CerrarPestañas();
        mostrarEnlaces = true;
        estiloEnlaces = fondo;
    }

    private string fondo = "background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño)";

    private void CerrarPestañas()
    {
        mostrarEnlaces = false;
        mostrarAvisos = false;
        mostrarErrores = false;
        mostrarTiendas = false;
        mostrarDivisas = false;
        mostrarDLCs = false;
        mostrarPendientes = false;
        mostrarJuegos = false;
        mostrarNoticias = false;
        mostrarBundles = false;
        mostrarGratis = false;
        mostrarSuscripciones = false;
        mostrarRecompensas = false;

        estiloEnlaces = null;
        estiloAvisos = null;
        estiloErrores = null;
        estiloTiendas = null;
        estiloDivisas = null;
        estiloDLCs = null;
        estiloPendientes = null;
        estiloJuegos = null;
        estiloNoticias = null;
        estiloBundles = null;
        estiloGratis = null;
        estiloSuscripciones = null;
        estiloRecompensas = null;
    }

    #region Enlaces

    private bool mostrarEnlaces = false;
    private string estiloEnlaces = null;

    private void MostrarEnlaces(MouseEventArgs e)
    {
        CerrarPestañas();
        mostrarEnlaces = true;
        estiloEnlaces = fondo;
    }

    #endregion

    #region Errores

    private bool mostrarErrores = false;
    private string estiloErrores = null;

    private int nuevosErroresCantidad = 0;
    private string nuevosErroresMensaje = string.Empty;

    private void ActualizarMensajeErrores(int i)
    {
        nuevosErroresCantidad = i;

        if (nuevosErroresCantidad > 0)
        {
            nuevosErroresMensaje = "(" + nuevosErroresCantidad.ToString() + ")";
        }
    }

    private void MostrarErrores(MouseEventArgs e)
    {
        CerrarPestañas();
        mostrarErrores = true;
        estiloErrores = fondo;

        ActualizarMensajeErrores(BaseDatos.Errores.Buscar.Todos(null).Count);
    }

    #endregion

    #region Avisos

    private bool mostrarAvisos = false;
    private string estiloAvisos = null;

    private void MostrarAvisos(MouseEventArgs e)
    {
        CerrarPestañas();
        mostrarAvisos = true;
        estiloAvisos = fondo;
    }

    #endregion

    #region Correos

    private List<Herramientas.CorreoConId> correos = new List<Herramientas.CorreoConId>();
    private int nuevosCorreosDeals = 0;
    private int nuevosCorreosApps = 0;

    private void ActualizarMensajeCorreos(int correosDeals, int correosApps)
    {
        nuevosCorreosDeals = correosDeals;
        nuevosCorreosApps = correosApps;
    }

    #endregion

    #region Tiendas

    private bool mostrarTiendas = false;
    private string estiloTiendas = null;

    private void MostrarTiendas(MouseEventArgs e)
    {
        CerrarPestañas();
        mostrarTiendas = true;
        estiloTiendas = fondo;
    }

    #endregion

    #region Divisas

    private bool mostrarDivisas = false;
    private string estiloDivisas = null;

    private void MostrarDivisas(MouseEventArgs e)
    {
        CerrarPestañas();
        mostrarDivisas = true;
        estiloDivisas = fondo;
    }

    #endregion

    #region DLCs

    private bool mostrarDLCs = false;
    private string estiloDLCs = null;

    private int nuevosDLCsCantidad = 0;
    private string nuevosDLCsMensaje = string.Empty;

    private void ActualizarMensajeDLCs(int i)
    {
        nuevosDLCsCantidad = i;

        if (nuevosDLCsCantidad > 0)
        {
            nuevosDLCsMensaje = "(" + nuevosDLCsCantidad.ToString() + ")";
        }
    }

    private void MostrarDLCs(MouseEventArgs e)
    {
        CerrarPestañas();
        mostrarDLCs = true;
        estiloDLCs = fondo;
    }

    #endregion

    #region Pendientes

    private bool mostrarPendientes = false;
    private string estiloPendientes = null;

    private int nuevosPendientesCantidad = 0;
    private string nuevosPendientesMensaje = string.Empty;

    private void ActualizarMensajePendientes(int i)
    {
        nuevosPendientesCantidad = i;

        if (nuevosPendientesCantidad > 0)
        {
            nuevosPendientesMensaje = "(" + nuevosPendientesCantidad.ToString() + ")";
        }
    }

    private void MostrarPendientes(MouseEventArgs e)
    {
        CerrarPestañas();
        mostrarPendientes = true;
        estiloPendientes = fondo;

        ActualizarMensajePendientes(BaseDatos.Pendientes.Buscar.Todos(null).Count);
    }

    #endregion

    #region Juegos

    private bool mostrarJuegos = false;
    private string estiloJuegos = null;

    private void MostrarJuegos(MouseEventArgs e)
    {
        CerrarPestañas();
        mostrarJuegos = true;
        estiloJuegos = fondo;
    }

    #endregion

    #region Noticias

    private bool mostrarNoticias = false;
    private string estiloNoticias = null;

    private void MostrarNoticias(MouseEventArgs e)
    {
        CerrarPestañas();
        mostrarNoticias = true;
        estiloNoticias = fondo;
    }

    #endregion

    #region Bundles

    private bool mostrarBundles = false;
    private string estiloBundles = null;

    private void MostrarBundles(MouseEventArgs e)
    {
        CerrarPestañas();
        mostrarBundles = true;
        estiloBundles = fondo;
    }

    #endregion

    #region Gratis

    private bool mostrarGratis = false;
    private string estiloGratis = null;

    private void MostrarGratis(MouseEventArgs e)
    {
        CerrarPestañas();
        mostrarGratis = true;
        estiloGratis = fondo;
    }

    #endregion

    #region Suscripciones

    private bool mostrarSuscripciones = false;
    private string estiloSuscripciones = null;

    private void MostrarSuscripciones(MouseEventArgs e)
    {
        CerrarPestañas();
        mostrarSuscripciones = true;
        estiloSuscripciones = fondo;
    }

    #endregion

    #region Recompensas

    private bool mostrarRecompensas = false;
    private string estiloRecompensas = null;

    private void MostrarRecompensas(MouseEventArgs e)
    {
        CerrarPestañas();
        mostrarRecompensas = true;
        estiloRecompensas = fondo;
    }

    #endregion
}
