@using Bundles2
@using Gratis2
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Identity
@using Microsoft.Data.SqlClient
@using Microsoft.JSInterop
@using Microsoft.VisualBasic
@using Suscripciones2
@using global::Noticias
@using pepeizqs_deals_web.Areas.Identity.Data

@inject UserManager<Usuario> UserManager

<div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 40px;">
    <div class="opciones-combobox" style="width: 33%;">
        <select @onchange="@(e => CambiarNoticiaTipo(e))">
            @foreach (NoticiaMostrar mostrar in NoticiasCargar.CargarNoticiasMostrar())
            {
                if (mostrar.Mostrar == true)
                {
                    <option value="@mostrar.Tipo">@mostrar.Tipo</option>
                } 
            }
        </select>
    </div>
</div>

@if (noticiaTipoSeleccionada == NoticiaTipo.Bundles.ToString())
{
    <div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 40px; margin-top: 20px;">
        <div class="opciones-combobox" style="width: 33%;">
            <select @onchange="@(e => CambiarBundleNoticias(e))">
                @foreach (Bundles2.Bundle bundle in BundlesCargar.GenerarListado())
                {
                    <option value="@bundle.Tipo">@bundle.NombreTienda</option>
                }
            </select>
        </div>

        @if (bundleSeleccionadoNoticias != null)
        {
            <div style="margin-top: 20px;">
                @foreach (var bundle in BaseDatos.Bundles.Buscar.UnTipo(bundleSeleccionadoNoticias, Herramientas.Tiempo.Actual))
                {
                    <button @onclick="@(e => ClickearBundleNoticias(e, bundle.Id))" class="boton-pequeño" style="margin: 10px 0px;">
                        <div style="display: flex; align-items: center;">
                            <img src="@BundlesCargar.DevolverBundle(bundle.Tipo).ImagenTienda" style="width: 12%; margin: 10px;" />
                            <div style="margin-left: 20px;">@bundle.NombreBundle</div>
                        </div>
                    </button>
                }
            </div>
        }
    </div>

    @if (bundleSeleccionadoNoticias != null)
    {
        <div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 40px; margin-top: 20px;">
            <div>
                <label style="margin-left: 10px; margin-bottom: 10px;">Bundle Id:</label>
                <input type="text" class="entrada-texto" value="@noticia.BundleId" />
            </div>

            <div style="margin-top: 20px;">
                <label style="margin-left: 10px; margin-bottom: 10px;">Juegos:</label>
                <input type="text" class="entrada-texto" value="@noticia.Juegos" />
            </div>
        </div>
    }
}
else if (noticiaTipoSeleccionada == NoticiaTipo.Gratis.ToString())
{
    <div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 40px; margin-top: 20px;">
        <div class="opciones-combobox" style="margin-top: 10px; width: 33%;">
            <select @onchange="@(e => CambiarGratisNoticias(e))">
                @foreach (Gratis2.Gratis gratis in GratisCargar.GenerarListado())
                {
                    <option value="@gratis.Tipo">@gratis.Nombre</option>
                }
            </select>
        </div>

        @if (gratisSeleccionadoNoticias != null)
        {
            <div style="margin-top: 20px;">
                @foreach (var gratis in BaseDatos.Gratis.Buscar.UnTipo(gratisSeleccionadoNoticias, Herramientas.Tiempo.Actual).OrderBy(x => x.FechaEmpieza).Reverse().ToList())
                {
                    <button @onclick="@(e => ClickearGratisJuegoNoticias(e, gratis.JuegoId, gratis.Id))" class="boton-pequeño" style="margin: 10px 0px;">
                        <div style="display: flex; align-items: center;">
                            @if (noticia.Juegos != null)
                            {
                                @if (noticia.Juegos.Contains(gratis.JuegoId.ToString()) == true)
                                {
                                    <div style="margin-left: 10px; margin-right: 20px;">
                                        <div style="max-width: 20px; max-height: 20px;">
                                            <svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" />
                                            </svg>
                                        </div>
                                    </div>
                                }
                            }

                            <img src="@GratisCargar.DevolverGratis(gratis.Tipo).ImagenLogo" style="width: 12%; margin: 10px;" />
                            <div>@gratis.Nombre</div>
                        </div>
                    </button>
                }
            </div>
        }
    </div>

    @if (gratisSeleccionadoNoticias != null)
    {
        <div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 40px; margin-top: 20px;">
            <div>
                <label style="margin-left: 10px; margin-bottom: 10px;">Gratis Ids:</label>
                <input type="text" class="entrada-texto" value="@noticia.GratisIds" />
            </div>

            <div style="margin-top: 20px;">
                <label style="margin-left: 10px; margin-bottom: 10px;">Juegos:</label>
                <input type="text" class="entrada-texto" value="@noticia.Juegos" />
            </div>
        </div>
    }
}
else if (noticiaTipoSeleccionada == NoticiaTipo.Suscripciones.ToString())
{
    <div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 40px; margin-top: 20px;">
        <div class="opciones-combobox" style="margin-top: 10px; width: 33%;">
            <select @onchange="@(e => CambiarSuscripcion(e))">
                @foreach (Suscripcion suscripcion in SuscripcionesCargar.GenerarListado())
                {
                    if (suscripcion.AdminInteractuar == true)
                    {
                        <option value="@suscripcion.Id">@suscripcion.Nombre</option>
                    }
                }
            </select>
        </div>

        @if (suscripcionSeleccionadaNoticias != null)
        {
            <div style="margin-top: 20px;">
                @foreach (var suscripcion in BaseDatos.Suscripciones.Buscar.UnTipo(suscripcionSeleccionadaNoticias, Herramientas.Tiempo.Actual).OrderBy(x => x.FechaEmpieza).Reverse().ToList())
                {
                    <button @onclick="@(e => ClickearSuscripcionJuego(e, suscripcion.JuegoId, suscripcion.Id))" class="boton-pequeño" style="margin: 10px 0px;">
                        <div style="display: flex; align-items: center;">
                            @if (noticia.Juegos != null)
                            {
                                @if (noticia.Juegos.Contains(suscripcion.JuegoId.ToString()) == true)
                                {
                                    <div style="margin-left: 10px; margin-right: 20px;">
                                        <div style="max-width: 20px; max-height: 20px;">
                                            <svg class="svg-boton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" />
                                            </svg>
                                        </div>
                                    </div>
                                }
                            }

                            <img src="@SuscripcionesCargar.DevolverSuscripcion(suscripcion.Tipo).ImagenLogo" style="width: 12%; margin: 10px;" />
                            <div style="margin-left: 20px;">@suscripcion.Nombre</div>
                        </div>
                    </button>
                }
            </div>
        }
    </div>

    @if (suscripcionSeleccionadaNoticias != null)
    {
        <div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 40px; margin-top: 20px;">
            <div>
                <label style="margin-left: 10px; margin-bottom: 10px;">Suscripciones Ids:</label>
                <input type="text" class="entrada-texto" value="@noticia.SuscripcionesIds" />
            </div>

            <div style="margin-top: 20px;">
                <label style="margin-left: 10px; margin-bottom: 10px;">Juegos:</label>
                <input type="text" class="entrada-texto" value="@noticia.Juegos" />
            </div>
        </div>
    }
}

<div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 40px; margin-top: 20px;">
    <div>
        <label style="margin-left: 10px; margin-bottom: 10px;">Título EN:</label>
        <input type="text" @onchange="@(e => CambiarTituloEnNoticias(e))" class="entrada-texto" value="@noticia.TituloEn" />
    </div>

    <div style="margin-top: 20px;">
        <label style="margin-left: 10px; margin-bottom: 10px;">Título ES:</label>
        <input type="text" @onchange="@(e => CambiarTituloEsNoticias(e))" class="entrada-texto" value="@noticia.TituloEs" />
    </div>
</div>

<div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 40px; margin-top: 20px;">
    <div>
        <label style="margin-left: 10px; margin-bottom: 10px;">Imagen Noticia:</label>
        <input @onchange="@(e => CambiarImagenNoticia(e))" class="entrada-texto" value="@noticia.Imagen">

        @if (string.IsNullOrEmpty(noticia.Imagen) == false)
        {
            <div style="margin-top: 10px;">
                <img src="@noticia.Imagen" style="max-width: 300px; max-height: 300px;" />
            </div>
        }
    </div>
</div>

<div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 40px; margin-top: 20px;">
    <div>
        <label style="margin-left: 10px; margin-bottom: 10px;">Fecha Termina:</label>
        <input type="datetime-local" @onchange="@(e => CambiarFechaNoticias(e))" class="entrada-texto" style="width: 33%; min-width: 100px;" value="@noticia.Fecha.ToString("yyyy-MM-dd HH:mm:ss")">
    </div>

    <div style="margin-top: 20px;">
        <label style="margin-left: 10px; margin-bottom: 10px;">Enlace:</label>
        <input type="text" class="entrada-texto" value="@noticia.Enlace" />
    </div>
</div>

<div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 40px; margin-top: 20px; display: flex; flex-direction: column; gap: 20px;">
    <div style="display: flex; flex-direction: column; gap: 10px;">
        <label>Contenido EN:</label>

        <div style="display: flex; align-items: center; gap: 10px;">
            <button @onclick="@(e => EditorDiv(e, noticia, "en"))" class="boton-expandir" style="background-color: var(--fondoBotonPequeño); color: var(--colorTexto); text-decoration: none; border: 0px;">
                <div style="display: flex; align-items: center; gap: 10px; padding: 5px 10px;">
                    <div style="font-size: 14px;">div</div>
                </div>
            </button>

            <button @onclick="@(e => EditorUl(e, noticia, "en"))" class="boton-expandir" style="background-color: var(--fondoBotonPequeño); color: var(--colorTexto); text-decoration: none; border: 0px;">
                <div style="display: flex; align-items: center; gap: 10px; padding: 5px 10px;">
                    <div style="font-size: 14px;">ul</div>
                </div>
            </button>

            <button @onclick="@(e => EditorEnlace(e, noticia, "en"))" class="boton-expandir" style="background-color: var(--fondoBotonPequeño); color: var(--colorTexto); text-decoration: none; border: 0px;">
                <div style="display: flex; align-items: center; gap: 10px; padding: 5px 10px;">
                    <div style="font-size: 14px;">a href</div>
                </div>
            </button>
        </div>

        <textarea class="entrada-texto" rows="8" @bind="noticia.ContenidoEn" oninput="this.style.height = 'auto'; this.style.height = (this.scrollHeight) + 'px';" />
    </div>

    @if (string.IsNullOrEmpty(noticia.ContenidoEn) == false)
    {
        <div>
            @((MarkupString)noticia.ContenidoEn)
        </div>
    }
</div>

<div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 40px; margin-top: 20px; display: flex; flex-direction: column; gap: 20px;">
    <div style="display: flex; flex-direction: column; gap: 10px;">
        <label>Contenido ES:</label>

        <div style="display: flex; align-items: center; gap: 10px;">
            <button @onclick="@(e => EditorDiv(e, noticia, "es"))" class="boton-expandir" style="background-color: var(--fondoBotonPequeño); color: var(--colorTexto); text-decoration: none; border: 0px;">
                <div style="display: flex; align-items: center; gap: 10px; padding: 5px 10px;">
                    <div style="font-size: 14px;">div</div>
                </div>
            </button>

            <button @onclick="@(e => EditorUl(e, noticia, "es"))" class="boton-expandir" style="background-color: var(--fondoBotonPequeño); color: var(--colorTexto); text-decoration: none; border: 0px;">
                <div style="display: flex; align-items: center; gap: 10px; padding: 5px 10px;">
                    <div style="font-size: 14px;">ul</div>
                </div>
            </button>

            <button @onclick="@(e => EditorEnlace(e, noticia, "es"))" class="boton-expandir" style="background-color: var(--fondoBotonPequeño); color: var(--colorTexto); text-decoration: none; border: 0px;">
                <div style="display: flex; align-items: center; gap: 10px; padding: 5px 10px;">
                    <div style="font-size: 14px;">a href</div>
                </div>
            </button>
        </div>

        <textarea class="entrada-texto" rows="8" @bind="noticia.ContenidoEs" oninput="this.style.height = 'auto'; this.style.height = (this.scrollHeight) + 'px';" />
    </div>

    @if (string.IsNullOrEmpty(noticia.ContenidoEs) == false)
    {
        <div>
            @((MarkupString)noticia.ContenidoEs)
        </div>
    }
</div>

<div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 40px; margin-top: 20px;">
    <div style="display: flex; width: 33%;">
        <button @onclick="@(e => AñadirNoticia(e))" class="boton" style="text-align: center;">Añadir Noticia</button>
    </div>

    @if (string.IsNullOrEmpty(notificacionesEnviadas) == false)
    {
        <div style="margin-top: 20px;">
            @notificacionesEnviadas
        </div>
    }
</div>

@if (abrirEnlace == true)
{
    <div class="opciones-panel">
        <div style="width: 900px; background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 40px; overflow-y: scroll; display: flex; flex-direction: column; gap: 20px;">
            <div style="display: flex; align-items: start; gap: 40px;">
                <button @onclick="@(e => EnlaceCerrar(e))" class="boton-pequeño" style="padding: 10px 15px; width: fit-content;">
                    <div style="max-width: 24px; max-height: 24px;">
                        <svg class="svg-icono" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
                        </svg>
                    </div>
                </button>

                <div style="width: 100%;">
                    <label style="margin: 10px;">Juegos Buscador:</label>
                    <input type="text" @oninput="TextoCambiaBuscadorJuegoEnlace" class="entrada-texto" style="margin-bottom: 20px;" />

                    @if (juegosBuscadorEnlace != null)
                    {
                        @if (juegosBuscadorEnlace.Count > 0)
                        {
                            <div>
                                @foreach (var juego in juegosBuscadorEnlace)
                                {
                                    <div class="perfil-flexible-centrado perfil-espacio-top">
                                        <button @onclick="@(e => SeleccionarJuegoAñadirEnlace(e, juego.Id.ToString(), juego.Nombre))" class="boton-pequeño">
                                            <div class="perfil-flexible-centrado">
                                                <div style="width: 12%;">
                                                    <img src="@juego.Imagenes.Capsule_231x87" style="max-height:100%; max-width:100%;" />
                                                </div>

                                                <div style="width: 88%; padding-left: 15px; padding-right: 15px;">
                                                    @juego.Id - @juego.Nombre
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                }
                            </div>
                        }
                    }

                    <label style="margin: 10px;">Enlace:</label>

                    <input class="entrada-texto" @bind="contenidoEnlace">

                    <hr />

                    <button @onclick="@(e => EnlaceAñadir(e))" class="boton-pequeño" style="width: 120px; text-align: center; padding: 10px 20px;">
                        Añadir
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@code {

    #nullable disable

    private SqlConnection conexion = new SqlConnection();

    private string noticiaTipoSeleccionada = null;

    private string bundleSeleccionadoNoticias = null;
    private string gratisSeleccionadoNoticias = null;
    private string suscripcionSeleccionadaNoticias = null;

    private string notificacionesEnviadas = null;

    private Plantilla noticia = new Plantilla();

    protected override void OnInitialized()
    {
        noticiaTipoSeleccionada = NoticiaTipo.Bundles.ToString();
    }

    private void CambiarNoticiaTipo(ChangeEventArgs texto)
    {
        if (conexion.State != System.Data.ConnectionState.Open)
        {
            conexion = Herramientas.BaseDatos.Conectar();
        }

        using (conexion)
        {
            noticia = new Plantilla();
            noticia.Fecha = DateTime.Now;

            noticiaTipoSeleccionada = texto.Value.ToString();

            //-------------------------------------------------------

            if (noticiaTipoSeleccionada == NoticiaTipo.Bundles.ToString())
            {
                bundleSeleccionadoNoticias = BundlesCargar.GenerarListado()[1].Id.ToString();
            }
            else if (noticiaTipoSeleccionada == NoticiaTipo.Gratis.ToString())
            {
                gratisSeleccionadoNoticias = GratisCargar.GenerarListado()[0].Tipo.ToString();
            }
            else if (noticiaTipoSeleccionada == NoticiaTipo.Suscripciones.ToString())
            {
                suscripcionSeleccionadaNoticias = SuscripcionesCargar.GenerarListado()[0].Id.ToString();
            }
            else if (noticiaTipoSeleccionada == NoticiaTipo.Web.ToString())
            {
                noticia.Imagen = "https://pepeizqdeals.com/logo/logoentrada.webp";
            }
            else if (noticiaTipoSeleccionada == NoticiaTipo.Patreon.ToString())
            {
                noticia.Imagen = "https://pepeizqdeals.com/logo/logoentradapatreon.webp";
            }
        }
    }

    private void CambiarTituloEnNoticias(ChangeEventArgs texto)
    {
        noticia.TituloEn = texto.Value.ToString();
    }

    private void CambiarTituloEsNoticias(ChangeEventArgs texto)
    {
        noticia.TituloEs = texto.Value.ToString();
    }

    private void CambiarImagenNoticia(ChangeEventArgs texto)
    {
        noticia.Imagen = texto.Value.ToString();
    }

    private void CambiarFechaNoticias(ChangeEventArgs texto)
    {
        noticia.Fecha = Convert.ToDateTime(texto.Value.ToString());
    }

    private void AñadirNoticia(MouseEventArgs e)
    {
        if (conexion.State != System.Data.ConnectionState.Open)
        {
            conexion = Herramientas.BaseDatos.Conectar();
        }

        if (conexion.State == System.Data.ConnectionState.Open)
        {
            using (conexion)
            {
                global::Noticias.Noticia noticiaAñadir = new global::Noticias.Noticia();

                noticiaAñadir.TituloEn = noticia.TituloEn;
                noticiaAñadir.TituloEs = noticia.TituloEs;
                noticiaAñadir.Imagen = noticia.Imagen;
                noticiaAñadir.ContenidoEn = noticia.ContenidoEn;
                noticiaAñadir.ContenidoEs = noticia.ContenidoEs;
                noticiaAñadir.Juegos = noticia.Juegos;
                noticiaAñadir.FechaEmpieza = DateTime.Now;
                noticiaAñadir.FechaTermina = noticia.Fecha;
                noticiaAñadir.Enlace = noticia.Enlace;

                if (noticiaTipoSeleccionada == NoticiaTipo.Bundles.ToString())
                {
                    noticiaAñadir.Tipo = NoticiaTipo.Bundles;
                    noticiaAñadir.BundleTipo = BundlesCargar.DevolverBundle(bundleSeleccionadoNoticias).Tipo;
                    noticiaAñadir.BundleId = int.Parse(noticia.BundleId);
                }
                else if (noticiaTipoSeleccionada == NoticiaTipo.Gratis.ToString())
                {
                    noticiaAñadir.Tipo = NoticiaTipo.Gratis;
                    noticiaAñadir.GratisTipo = GratisCargar.DevolverGratis(gratisSeleccionadoNoticias).Tipo;
                    noticiaAñadir.GratisIds = noticia.GratisIds;

                }
                else if (noticiaTipoSeleccionada == NoticiaTipo.Suscripciones.ToString())
                {
                    noticiaAñadir.Tipo = NoticiaTipo.Suscripciones;
                    noticiaAñadir.SuscripcionTipo = SuscripcionesCargar.DevolverSuscripcion(suscripcionSeleccionadaNoticias).Id;
                    noticiaAñadir.SuscripcionesIds = noticia.SuscripcionesIds;
                }
                else if (noticiaTipoSeleccionada == NoticiaTipo.Rumores.ToString())
                {
                    noticiaAñadir.Tipo = NoticiaTipo.Rumores;
                }
                else if (noticiaTipoSeleccionada == NoticiaTipo.Web.ToString())
                {
                    noticiaAñadir.Tipo = NoticiaTipo.Web;
                }
                else if (noticiaTipoSeleccionada == NoticiaTipo.Patreon.ToString())
                {
                    noticiaAñadir.Tipo = NoticiaTipo.Patreon;
                }

                int id = BaseDatos.Noticias.Insertar.Ejecutar(noticiaAñadir);
                noticiaAñadir.Id = id;

                try
                {
                    foreach (var usuario in UserManager.Users)
                    {
                        if (usuario.NotificationBundles == true && noticiaAñadir.Tipo == NoticiaTipo.Bundles)
                        {
                            Herramientas.Correos.EnviarNuevaNoticia(noticiaAñadir, usuario.Email, conexion, usuario.Language);
                        }

                        if (usuario.NotificationFree == true && noticiaAñadir.Tipo == NoticiaTipo.Gratis)
                        {
                            Herramientas.Correos.EnviarNuevaNoticia(noticiaAñadir, usuario.Email, conexion, usuario.Language);
                        }

                        if (usuario.NotificationSubscriptions == true && noticiaAñadir.Tipo == NoticiaTipo.Suscripciones)
                        {
                            Herramientas.Correos.EnviarNuevaNoticia(noticiaAñadir, usuario.Email, conexion, usuario.Language);
                        }

                        if (usuario.NotificationOthers == true && noticiaAñadir.Tipo != NoticiaTipo.Bundles && noticiaAñadir.Tipo != NoticiaTipo.Gratis && noticiaAñadir.Tipo != NoticiaTipo.Suscripciones)
                        {
                            Herramientas.Correos.EnviarNuevaNoticia(noticiaAñadir, usuario.Email, conexion, usuario.Language);
                        }
                    }
                }
                catch (Exception ex)
                {
                    BaseDatos.Errores.Insertar.Mensaje("Enviar Correo Noticia", ex);
                }
                
                try
                {
                    Herramientas.Twitter.Twitear(noticiaAñadir);
                }
                catch (Exception ex)
                {
                    BaseDatos.Errores.Insertar.Mensaje("Enviar Twitter Noticia", ex);
                }
                
                try
                {
                    Herramientas.Bluesky.Postear(noticiaAñadir);
                }
                catch (Exception ex)
                {
                    BaseDatos.Errores.Insertar.Mensaje("Enviar BlueSky Noticia", ex);
                }

                try
                {
                    foreach (var usuario in UserManager.Users)
                    {
                        if (usuario.NotificationPushBundles == true && noticiaAñadir.Tipo == NoticiaTipo.Bundles)
                        {
                            Herramientas.NotificacionesPush.EnviarNoticia(usuario.Id, noticiaAñadir, usuario.Language);
                        }

                        if (usuario.NotificationPushFree == true && noticiaAñadir.Tipo == NoticiaTipo.Gratis)
                        {
                            Herramientas.NotificacionesPush.EnviarNoticia(usuario.Id, noticiaAñadir, usuario.Language);
                        }

                        if (usuario.NotificationPushSubscriptions == true && noticiaAñadir.Tipo == NoticiaTipo.Suscripciones)
                        {
                            Herramientas.NotificacionesPush.EnviarNoticia(usuario.Id, noticiaAñadir, usuario.Language);
                        }

                        if (usuario.NotificationPushOthers == true && noticiaAñadir.Tipo != NoticiaTipo.Bundles && noticiaAñadir.Tipo != NoticiaTipo.Gratis && noticiaAñadir.Tipo != NoticiaTipo.Suscripciones)
                        {
                            Herramientas.NotificacionesPush.EnviarNoticia(usuario.Id, noticiaAñadir, usuario.Language);
                        }
                    }
                }
                catch (Exception ex)
                {
                    BaseDatos.Errores.Insertar.Mensaje("Enviar Notificaciones Push Noticia", ex);
                }
               
                noticia = new Plantilla();

                bundleSeleccionadoNoticias = null;
                gratisSeleccionadoNoticias = null;
                suscripcionSeleccionadaNoticias = null;
            }
        }
    }

    private void CambiarBundleNoticias(ChangeEventArgs texto)
    {
        bundleSeleccionadoNoticias = texto.Value.ToString();
    }

    private void ClickearBundleNoticias(MouseEventArgs e, int bundleId)
    {
        noticia = Plantillas.Bundles(bundleId);
    }

    private void CambiarGratisNoticias(ChangeEventArgs texto)
    {
        gratisSeleccionadoNoticias = texto.Value.ToString();
    }

    private void ClickearGratisJuegoNoticias(MouseEventArgs e, int juegoId, int id)
    {
        noticia = Plantillas.Gratis(noticia, juegoId, id, gratisSeleccionadoNoticias);
    }

    private void CambiarSuscripcion(ChangeEventArgs texto)
    {
        suscripcionSeleccionadaNoticias = texto.Value.ToString();
    }

    private void ClickearSuscripcionJuego(MouseEventArgs e, int juegoId, int id)
    {
        noticia = Plantillas.Suscripciones(noticia, juegoId, id, suscripcionSeleccionadaNoticias);
    }

    #region Editor

    private void EditorDiv(MouseEventArgs e, Plantilla textoDondeAñadir, string idioma)
    {
        if (idioma == "en")
        {
            bool yaExiste = false;

            if (string.IsNullOrEmpty(textoDondeAñadir.ContenidoEn) == false)
            {
                if (textoDondeAñadir.ContenidoEn.Contains("<div>") == true)
                {
                    yaExiste = true;
                }
            }

            if (yaExiste == false)
            {
                textoDondeAñadir.ContenidoEn = textoDondeAñadir.ContenidoEn + "<div>" + Environment.NewLine + Environment.NewLine + "</div>";
            }
            else
            {
                textoDondeAñadir.ContenidoEn = textoDondeAñadir.ContenidoEn + @"<div style=""margin-top: 10px;"">" + Environment.NewLine + Environment.NewLine + "</div>";
            }
        }

        if (idioma == "es")
        {
            bool yaExiste = false;

            if (string.IsNullOrEmpty(textoDondeAñadir.ContenidoEs) == false)
            {
                if (textoDondeAñadir.ContenidoEs.Contains("<div>") == true)
                {
                    yaExiste = true;
                }
            }

            if (yaExiste == false)
            {
                textoDondeAñadir.ContenidoEs = textoDondeAñadir.ContenidoEs + @"<div>" + Environment.NewLine + Environment.NewLine + "</div>";
            }
            else
            {
                textoDondeAñadir.ContenidoEs = textoDondeAñadir.ContenidoEs + @"<div style=""margin-top: 10px;"">" + Environment.NewLine + Environment.NewLine + "</div>";
            }
        }       
    }

    private void EditorUl(MouseEventArgs e, Plantilla textoDondeAñadir, string idioma)
    {
        if (idioma == "en")
        {
            textoDondeAñadir.ContenidoEn = textoDondeAñadir.ContenidoEn + "<ul>" + Environment.NewLine + "<li>" + Environment.NewLine + Environment.NewLine + "</li>" + Environment.NewLine + "</ul>";
        }

        if (idioma == "es")
        {
            textoDondeAñadir.ContenidoEs = textoDondeAñadir.ContenidoEs + "<ul>" + Environment.NewLine + "<li>" + Environment.NewLine + Environment.NewLine + "</li>" + Environment.NewLine + "</ul>";
        }
    }

    private bool abrirEnlace = false;
    private string contenidoEnlace = string.Empty;
    private string tituloEnlace = string.Empty;
    private Plantilla plantillaEnlace = null;
    private string idiomaEnlace = null;

    private void EditorEnlace(MouseEventArgs e, Plantilla textoDondeAñadir, string idioma)
    {
        abrirEnlace = true;

        plantillaEnlace = textoDondeAñadir;
        idiomaEnlace = idioma;
    }

    private void EnlaceCerrar(MouseEventArgs e)
    {
        abrirEnlace = false;
    }


    private List<global::Juegos.Juego> juegosBuscadorEnlace = new List<global::Juegos.Juego>();

    private void TextoCambiaBuscadorJuegoEnlace(ChangeEventArgs texto)
    {
        if (texto.Value.ToString().Trim().Length > 1)
        {
            juegosBuscadorEnlace = BaseDatos.Juegos.Buscar.Nombre(texto.Value.ToString().Trim());
        }
        else
        {
            juegosBuscadorEnlace = new List<global::Juegos.Juego>();
        }
    }

    private void SeleccionarJuegoAñadirEnlace(MouseEventArgs e, string id, string nombre)
    {
        contenidoEnlace = "https://pepeizqdeals.com/game/" + id + "/" + Herramientas.EnlaceAdaptador.Nombre(nombre) + "/";
        tituloEnlace = nombre;
        juegosBuscadorEnlace = new List<global::Juegos.Juego>();
    }

    private void EnlaceAñadir(MouseEventArgs e)
    {
        if (plantillaEnlace != null && string.IsNullOrEmpty(idiomaEnlace) == false)
        {
            if (idiomaEnlace == "en")
            {
                plantillaEnlace.ContenidoEn = plantillaEnlace.ContenidoEn + "<a href=" + Strings.ChrW(34) + contenidoEnlace + Strings.ChrW(34) + " target=" + Strings.ChrW(34) + "_blank" + Strings.ChrW(34) + ">" + tituloEnlace + "</a>";
            }

            if (idiomaEnlace == "es")
            {
                plantillaEnlace.ContenidoEs = plantillaEnlace.ContenidoEs + "<a href=" + Strings.ChrW(34) + contenidoEnlace + Strings.ChrW(34) + " target=" + Strings.ChrW(34) + "_blank" + Strings.ChrW(34) + ">" + tituloEnlace + "</a>";
            }
        }

        abrirEnlace = false;
    }

    #endregion
}
