@using BaseDatos.Avisos
@using Microsoft.AspNetCore.Components.Web;
@using Microsoft.Data.SqlClient

<style>
    .admin-boton-hover {
        margin: 0px;
        border: 0px;
        color: var(--colorTextoVisitado);
        background-color: transparent;
        line-height: 20px;
        text-decoration: none;
        vertical-align: middle;
        transition-duration: 0.4s;
    }

        .admin-boton-hover:hover {
            background-color: var(--fondoBotonPequeño);
            color: var(--colorTextoVisitado);
        }

    .admin-panel {
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        overflow-x: auto;
        position: fixed;
        z-index: 1000;
        padding: 10px;
        background-color: var(--fondoOscuroTransparente);
    }
</style>

<li class="nav-item" style="margin-right: 30px;">
    <button class="admin-boton-hover" @onmouseenter="(e => MostrarPestaña(e))" @onclick="(e => MostrarPestaña(e))">Admin @nuevosCorreosMensaje</button>
</li>

@if (mostrarPestaña == true)
{
    <div class="admin-panel">
        <button style="color: var(--colorTextoVisitado); background-color: transparent; border: 0px;" @onclick="(e => CerrarPestaña(e))">
            <i class="fa-solid fa-xmark" style="font-size: 40px;"></i>
        </button>

        <div style="display: flex; align-items: start; margin-top: 40px; width: 100%; font-size: 18px;">
            <div style="width: 30%;">
                <div class="perfil" style="padding: 20px 30px; border: 1px solid var(--fondoBoton);">
                    <a href="https://win6052.site4now.net/stats/awstats.pl?config=1112749300&h=8d43503475c9993340908170c2f4b9da" style="text-decoration: none;">Visitas</a>
                    <a href="https://beta.pepeizqdeals.com/Admin/Tiendas" style="text-decoration: none; margin-top: 10px;">Tiendas</a>
                    <a href="https://beta.pepeizqdeals.com/Admin/Pendientes" style="text-decoration: none; margin-top: 10px;">Pendientes @nuevosPendientesMensaje</a>
                    <a href="https://beta.pepeizqdeals.com/Admin/Errores" style="text-decoration: none; margin-top: 10px;">Errores @nuevosErroresMensaje</a>
                </div>

                <label style="margin-top: 40px; padding-left: 30px; padding-bottom: 15px;">Añadir</label>
                <div class="perfil" style="padding: 20px 30px; border: 1px solid var(--fondoBoton);">
                    <a href="https://beta.pepeizqdeals.com/Admin/Anadir" style="text-decoration: none;">Juego / DLC / Banda Sonora / Software</a>
                    <a href="https://beta.pepeizqdeals.com/Admin/Noticias" style="text-decoration: none; margin-top: 10px;">Noticias</a>
                    <a href="https://beta.pepeizqdeals.com/Admin/Bundles" style="text-decoration: none; margin-top: 10px;">Bundles</a>
                    <a href="https://beta.pepeizqdeals.com/Admin/Gratis" style="text-decoration: none; margin-top: 10px;">Gratis</a>
                    <a href="https://beta.pepeizqdeals.com/Admin/Suscripciones" style="text-decoration: none; margin-top: 10px;">Suscripciones</a>
                    <a href="https://beta.pepeizqdeals.com/Admin/Sorteos" style="text-decoration: none; margin-top: 10px;">Sorteos</a>
                </div>
            </div>

            <div style="width: 70%; padding-left: 40px; padding-right: 20px;">
                <button style="color: var(--colorTextoVisitado); background-color: transparent; border: 0px; padding-bottom: 15px; display: flex; align-items: center;" @onclick="(e => MostrarCerrarAvisos(e))">
                    @if (mostrarAvisos == true)
                    {
                        <i class="fa-solid fa-arrow-up" style="font-size: 20px;"></i>
                    }
                    else
                    {
                        <i class="fa-solid fa-arrow-down" style="font-size: 20px;"></i>
                    }

                    <div style="padding-left: 20px;">Avisos</div>
                </button>
                
                @if (mostrarAvisos == true)
                {
                    <div class="perfil" style="padding: 20px; border: 1px solid var(--fondoBoton);">
                        <div style="display: flex; align-items: center;">
                            <textarea @oninput="@(e => ActualizarAviso(e, "en"))" class="entrada-texto" style="height: 35px;" placeholder="EN">@avisoEn</textarea>
                        </div>

                        <div style="display: flex; align-items: center; margin-top: 20px;">
                            <textarea @oninput="@(e => ActualizarAviso(e, "es"))" class="entrada-texto" style="height: 35px;" placeholder="ES">@avisoEs</textarea>
                        </div>

                        <button class="boton-pequeño" style="padding: 10px 15px; max-width: 250px; margin-top: 30px;" @onclick="@(e => BorrarAviso(e))">
                            Borrar Aviso
                        </button>
                    </div>
                }              
            </div>
        </div>
    </div>
}

@code {

    #nullable disable

    private int nuevosCorreos = 0;
    private string nuevosCorreosMensaje = string.Empty;
    private int nuevosPendientes = 0;
    private string nuevosPendientesMensaje = string.Empty;
    private int nuevosErrores = 0;
    private string nuevosErroresMensaje = string.Empty;

    private bool mostrarPestaña = false;

    protected override void OnInitialized()
    {
        nuevosCorreos = Herramientas.Correos.ComprobarNuevosCorreos();

        if (nuevosCorreos > 0)
        {
            if (nuevosCorreos == 1)
            {
                nuevosCorreosMensaje = "• 1 Nuevo Correo";
            }
            else if (nuevosCorreos > 1)
            {
                nuevosCorreosMensaje = "• " + nuevosCorreos.ToString() + " Nuevos Correos";
            }
        }

        SqlConnection conexion = Herramientas.BaseDatos.Conectar();

        using (conexion)
        {
            nuevosPendientes = BaseDatos.Pendientes.Buscar.Todos(conexion).Count;

            if (nuevosPendientes > 0)
            {
                nuevosPendientesMensaje = "(" + nuevosPendientes.ToString() + ")";
            }

            //----------------------------------

            nuevosErrores = BaseDatos.Errores.Buscar.Todos(conexion).Count;

            if (nuevosErrores > 0)
            {
                nuevosErroresMensaje = "(" + nuevosErrores.ToString() + ")";
            }

            //----------------------------------

            Aviso aviso1 = BaseDatos.Avisos.Buscar.Ejecutar("en", conexion);

            if (aviso1 != null)
            {
                avisoEn = aviso1.Mensaje;
            }

            Aviso aviso2 = BaseDatos.Avisos.Buscar.Ejecutar("es", conexion);

            if (aviso2 != null)
            {
                avisoEs = aviso2.Mensaje;
            }
        }

    }

    private void MostrarPestaña(MouseEventArgs e)
    {
        mostrarPestaña = true;
    }

    private void CerrarPestaña(MouseEventArgs e)
    {
        mostrarPestaña = false;
    }

    #region Avisos

    private bool mostrarAvisos = false;
    private string avisoEn = string.Empty;
    private string avisoEs = string.Empty;

    private void MostrarCerrarAvisos(MouseEventArgs e)
    {
        if (mostrarAvisos == true)
        {
            mostrarAvisos = false;
        }
        else
        {
            mostrarAvisos = true;
        }
    }

    private void ActualizarAviso(ChangeEventArgs texto, string idioma)
    {
        SqlConnection conexion = Herramientas.BaseDatos.Conectar();

        using (conexion)
        {
            BaseDatos.Avisos.Actualizar.Ejecutar(texto.Value.ToString().Trim(), idioma, conexion);
        }       
    }

    private void BorrarAviso(MouseEventArgs e)
    {
        SqlConnection conexion = Herramientas.BaseDatos.Conectar();

        using (conexion)
        {
            BaseDatos.Avisos.Actualizar.Ejecutar("", "en", conexion);
            BaseDatos.Avisos.Actualizar.Ejecutar("", "es", conexion);
        }
    }

    #endregion
}
