@using Microsoft.AspNetCore.Components.Web;

<div class="perfil">
	@if (idSeleccionada == null)
	{
		<div>
			<label style="margin-bottom: 10px;">Juego:</label>
			<input type="text" @oninput="TextoCambiaBuscador" class="entrada-texto" />

			@if (juegosBuscador != null)
			{
				@if (juegosBuscador.Count > 0)
				{
					<div>
						@foreach (var juego in juegosBuscador)
						{
							<div class="perfil-flexible-centrado perfil-espacio-top">
								<button @onclick="@(e => ClickearJuego(e, juego.Id.ToString(), juego.Nombre, juego.Imagenes.Library_600x900, juego.Imagenes.Header_460x215))" class="boton-pequeño" style="text-align:center;">
									<div class="perfil-flexible-centrado">
										<div style="width: 12%;">
											<img src="@juego.Imagenes.Capsule_231x87" style="max-height:100%; max-width:100%;" />
										</div>

										<div style="width: 88%; padding-left: 15px; padding-right: 15px; text-align: left;">
											@juego.Nombre<br/>
											<span style="font-size: 13px;">@juego.Id.ToString()</span>
										</div>
									</div>
								</button>
							</div>
						}
					</div>
				}
			}
		</div>
	}
	else
	{
		<div style="display: flex;">
			<div style="width: 15%;">
				<img src="@imagenSeleccionada" style="max-height: 100%; max-width: 100%;" />
			</div>

			<div style="width: 85%; padding-left: 20px; padding-right: 20px;">
				<div>
					@nombreSeleccionado
				</div>

				<div class="opciones-combobox" style="width: 33%; margin-top: 20px;">
					<select @onchange="@(e => CambiarGrupo(e))">
						@foreach (var grupo in grupos)
						{
							<option value="@grupo.Id">@grupo.Nombre</option>
						}
					</select>
				</div>

				<div style="width: 33%; margin-top: 20px;">
					<div style="margin-bottom: 10px;">Clave:</div>

					<input type="text" @oninput="TextoCambiaClave" class="entrada-texto" />
				</div>
			</div>
		</div>
	}
</div>

@code {

	#nullable disable

	List<Juegos.Juego> juegosBuscador = new List<Juegos.Juego>();

	List<GrupoSorteo> grupos = new List<GrupoSorteo>();	

	private string idSeleccionada = null;
	private string nombreSeleccionado = null;
	private string imagenSeleccionada = null;
	private string grupoSeleccionado = null;
	private string clave = null;

	protected override void OnInitialized()
	{
		GrupoSorteo grupoPremium = new GrupoSorteo();
		grupoPremium.Nombre = "Premium";
		grupoPremium.Id = "40604285";
		grupos.Add(grupoPremium);

		GrupoSorteo grupoNormal = new GrupoSorteo();
		grupoNormal.Nombre = "Normal";
		grupoNormal.Id = "33500256";
		grupos.Add(grupoNormal);


	}

	private void TextoCambiaBuscador(ChangeEventArgs texto)
	{
		if (texto.Value.ToString().Trim().Length > 1)
		{
			juegosBuscador = BaseDatos.Juegos.Buscar.Nombre(texto.Value.ToString().Trim());
		}
		else
		{
			juegosBuscador = new List<Juegos.Juego>();
		}
	}

	private void ClickearJuego(MouseEventArgs e, string id, string nombre, string imagenVertical, string imagenNoticia2)
	{
		juegosBuscador = new List<Juegos.Juego>();

		idSeleccionada = id;
		nombreSeleccionado = nombre;
		imagenSeleccionada = imagenVertical;
	}

	private void CambiarGrupo(ChangeEventArgs texto)
	{
		grupoSeleccionado = texto.Value.ToString();
	}

	private void TextoCambiaClave(ChangeEventArgs texto)
	{
		clave = texto.Value.ToString();
	}

	public class GrupoSorteo
	{
		public string Nombre;
		public string Id;
	}
}
