@using Microsoft.AspNetCore.Components.Web;
@using Suscripciones2;

<div class="perfil">
	<input type="text" @oninput="TextoCambiaBuscador" class="entrada-texto" />

	@if (juegosBuscador.Count > 0)
	{
		<div>
			@foreach (var juego in juegosBuscador)
			{
				<div class="perfil-flexible-centrado perfil-espacio-top">
					<button @onclick="@(e => SeleccionarJuego(e, @juego.Id.ToString(), juego.Imagenes.Library_600x900, @juego.Nombre))" class="boton-pequeño">
						<div class="perfil-flexible-centrado">
							<div style="width: 12%;">
								<img src="@juego.Imagenes.Capsule_231x87" style="max-height:100%; max-width:100%;" />
							</div>

							<div style="width: 88%; padding-left: 15px; padding-right: 15px;">
								@juego.Id - @juego.Nombre
							</div>
						</div>
					</button>
				</div>
			}
		</div>
	}

	@if (idSeleccionada != null)
	{
		<div style="margin-top: 40px;">
			<div style="display: flex;">
				<div style="width: 15%;">
					<img src="@imagenSeleccionada" style="max-height: 100%; max-width: 100%;" />
				</div>

				<div style="width: 85%; padding-left: 20px; padding-right: 20px;">
					@nombreSeleccionado <br/>
					@idSeleccionada

					<div style="display: flex; margin-top: 20px;">
						<div class="opciones-combobox" style="width: 33%;">
							<select @onchange="@(e => CambiarSuscripcion(e))">
								@foreach (Suscripcion suscripcion in SuscripcionesCargar.GenerarListado())
								{
									<option value="@suscripcion.Id">@suscripcion.Nombre</option>
								}
							</select>
						</div>

						<div class="opciones-combobox" style="width: 33%;">
							<select @onchange="@(e => CambiarDRM(e))">
								@foreach (Juegos.DRM drm in Juegos.JuegoDRM2.GenerarListado())
								{
									@if (drm.Id != Juegos.JuegoDRM.NoEspecificado)
									{
										<option value="@drm.Id">@drm.Nombre</option>
									}
								}
							</select>
						</div>

						<input type="datetime-local" @onchange="@(e => CambiarFecha(e))" class="entrada-texto" style="width: 33%; min-width: 100px;" value="@fechaSeleccionada">
					</div>

					<div style="display: flex; margin-top: 20px;">
						<input @onchange="@(e => CambiarEnlace(e))" class="entrada-texto" value="@enlaceSeleccionado">
					</div>

					<div style="display: flex; margin-top: 20px;">
						<div style="margin: 10px;">
							@suscripcionSeleccionada
						</div>

						<div style="margin: 10px;">
							@drmSeleccionado
						</div>

						<div style="margin: 10px;">
							@fechaSeleccionada
						</div>
					</div>

					<div style="display: flex; margin-top: 20px; width: 20%;">
						<button @onclick="@(e => AñadirJuego(e))" class="boton-pequeño" style="text-align: center;">Añadir Juego</button>
					</div>					
				</div>
			</div>

		</div>
		
	}
</div>

@code {

	#nullable disable

	private string cadenaBusqueda = null;

	private string idSeleccionada = null;
	private string imagenSeleccionada = null;
	private string nombreSeleccionado = null;

	private string suscripcionSeleccionada = null;
	private string drmSeleccionado = null;
	private string fechaSeleccionada = null;
	private string enlaceSeleccionado = null;

	List<Juegos.Juego> juegosBuscador = new List<Juegos.Juego>();

	private void TextoCambiaBuscador(ChangeEventArgs texto)
	{
		if (texto.Value.ToString().Trim().Length > 1)
		{
			cadenaBusqueda = texto.Value.ToString().Trim();
			juegosBuscador = BaseDatos.Juegos.Buscar.Nombre(cadenaBusqueda);
		}
		else
		{
			juegosBuscador = new List<Juegos.Juego>();
		}
	}

	private void SeleccionarJuego(MouseEventArgs e, string id, string imagen, string nombre)
	{
		cadenaBusqueda = null;
		juegosBuscador = new List<Juegos.Juego>();

		idSeleccionada = id;
		imagenSeleccionada = imagen;
		nombreSeleccionado = nombre;

		// ----------------------------------

		if (suscripcionSeleccionada == null)
		{
			suscripcionSeleccionada = SuscripcionesCargar.GenerarListado()[0].Id.ToString();
		}

		if (suscripcionSeleccionada == SuscripcionesCargar.GenerarListado()[0].Id.ToString())
		{
			fechaSeleccionada = SuscripcionesCargar.GenerarListado()[0].FechaSugerencia.ToString("yyyy-MM-ddTHH:mm:ss");
		}

		if (drmSeleccionado == null)
		{
			drmSeleccionado = Juegos.JuegoDRM2.GenerarListado()[0].Id.ToString();
		}

		if (enlaceSeleccionado == null)
		{
			enlaceSeleccionado = SuscripcionesCargar.GenerarListado()[0].Enlace;
		}
	}

	private void CambiarSuscripcion(ChangeEventArgs texto)
	{
		suscripcionSeleccionada = texto.Value.ToString();

		fechaSeleccionada = SuscripcionesCargar.DevolverSuscripcion(suscripcionSeleccionada).FechaSugerencia.ToString("yyyy-MM-ddTHH:mm:ss");
		drmSeleccionado = SuscripcionesCargar.DevolverSuscripcion(suscripcionSeleccionada).DRMDefecto.ToString();
		enlaceSeleccionado = SuscripcionesCargar.DevolverSuscripcion(suscripcionSeleccionada).Enlace;
	}

	private void CambiarDRM(ChangeEventArgs texto)
	{
		drmSeleccionado = texto.Value.ToString();
	}

	private void CambiarFecha(ChangeEventArgs texto)
	{
		fechaSeleccionada = texto.Value.ToString();
	}

	private void CambiarEnlace(ChangeEventArgs texto)
	{
		enlaceSeleccionado = texto.Value.ToString();
	}

	private void AñadirJuego(MouseEventArgs e)
	{
		Juegos.Juego juego = BaseDatos.Juegos.Buscar.UnJuego(idSeleccionada);

		if (juego != null)
		{
			Juegos.JuegoSuscripcion suscripcion = new Juegos.JuegoSuscripcion();
			suscripcion.Suscripcion = SuscripcionesCargar.DevolverSuscripcion(suscripcionSeleccionada).Id;
			suscripcion.JuegoId = int.Parse(idSeleccionada);
			suscripcion.Nombre = nombreSeleccionado;
			suscripcion.Imagen = imagenSeleccionada;
			suscripcion.DRM = Juegos.JuegoDRM2.DevolverDRM(drmSeleccionado);
			suscripcion.Enlace = enlaceSeleccionado;
			suscripcion.FechaEmpieza = DateTime.Now;
			suscripcion.FechaTermina = Convert.ToDateTime(fechaSeleccionada);

			if (juego.Suscripciones == null)
			{
				juego.Suscripciones = new List<Juegos.JuegoSuscripcion>();
			}

			juego.Suscripciones.Add(suscripcion);

			BaseDatos.Suscripciones.Insertar.Ejecutar(int.Parse(idSeleccionada), juego.Suscripciones, suscripcion);
		}
	}
}
