@using BaseDatos.Admin
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.Data.SqlClient
@using Tiendas2

<div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 40px;">
    <label>@TareasUso()</label>
    <hr />
    <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 20px;">
        @foreach (Tienda tienda in TiendasCargar.GenerarListado())
        {
            if (tienda.AdminEnseñar == true)
            {
                AdminTarea tarea = BaseDatos.Admin.Buscar.Tarea(tienda.Id);

                if (tarea != null)
                {
                    string tiempo = Herramientas.Calculadora.DiferenciaTiempo(tarea.Fecha, "es-ES");

                    <button @onclick="(e => ClickearTienda(e, tienda.Id))" class="boton-pequeño" style="height: fit-content; padding: 15px;">
                        <div style="display: flex; align-items: center; gap: 20px; justify-content: space-between;">
                            <div style="display: flex; flex-direction: column; gap: 10px;">
                                <div style="display: flex; align-items: center; gap: 10px;">
                                    <img src="@tienda.ImagenIcono" style="height: 22px;" />
                                    <div>@tienda.Nombre</div>
                                </div>

                                <div>@tiempo</div>
                            </div>

                            <div style="display: flex; flex-direction: column; gap: 10px;">
                                <div style="text-align: right;">@tarea.Cantidad</div>

                                @if (tarea.Valor1 > 0)
                                {
                                    <div style="display: flex; align-items: center; gap: 10px; justify-content: right;">
                                        @if (tarea.Valor1 > 0)
                                        {
                                            <div style="font-size: 14px;">@tarea.Valor1</div>
                                        }

                                        @if (tarea.Valor2 > 0)
                                        {
                                            <div style="font-size: 14px;">@tarea.Valor2</div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </button>
                }
            }
        }
    </div>
    <hr/>
    <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 20px;">
        @foreach (var suscripcion in Suscripciones2.SuscripcionesCargar.GenerarListado())
        {
            AdminTarea tarea = BaseDatos.Admin.Buscar.Tarea(suscripcion.Id.ToString());

            if (tarea != null)
            {
                string tiempo = Herramientas.Calculadora.DiferenciaTiempo(tarea.Fecha, "es-ES");

                <button @onclick="(e => ClickearSuscripcionStreaming(e, suscripcion.Id.ToString()))" class="boton-pequeño" style="height: fit-content; padding: 15px;">
                    <div style="display: flex; align-items: center; gap: 20px; justify-content: space-between;">
                        <div style="display: flex; flex-direction: column; gap: 10px;">
                            <div style="display: flex; align-items: center; gap: 10px;">
                                <img src="@suscripcion.ImagenIcono" style="height: 22px;" />
                                <div>@suscripcion.Nombre</div>
                            </div>

                            <div>@tiempo</div>
                        </div>

                        <div style="display: flex; flex-direction: column; gap: 10px;">
                            <div style="text-align: right;">@tarea.Cantidad</div>

                            @if (tarea.Valor1 > 0)
                            {
                                <div style="display: flex; align-items: center; gap: 10px; justify-content: right;">
                                    @if (tarea.Valor1 > 0)
                                    {
                                        <div style="font-size: 14px;">@tarea.Valor1</div>
                                    }

                                    @if (tarea.Valor2 > 0)
                                    {
                                        <div style="font-size: 14px;">@tarea.Valor2</div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </button>
            }
        }
    </div>
    <hr/>
    <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 20px;">
        @foreach (var streaming in Streaming2.StreamingCargar.GenerarListado())
        {
            AdminTarea tarea = BaseDatos.Admin.Buscar.Tarea(streaming.Id.ToString());

            if (tarea != null)
            {
                string tiempo = Herramientas.Calculadora.DiferenciaTiempo(tarea.Fecha, "es-ES");

                <button @onclick="(e => ClickearSuscripcionStreaming(e, streaming.Id.ToString()))" class="boton-pequeño" style="height: fit-content; padding: 15px;">
                    <div style="display: flex; align-items: center; gap: 20px; justify-content: space-between;">
                        <div style="display: flex; flex-direction: column; gap: 10px;">
                            <div style="display: flex; align-items: center; gap: 10px;">
                                <img src="@streaming.ImagenIcono" style="height: 22px;" />
                                <div>@streaming.Nombre</div>
                            </div>

                            <div>@tiempo</div>
                        </div>

                        <div style="display: flex; flex-direction: column; gap: 10px;">
                            <div style="text-align: right;">@tarea.Cantidad</div>

                            @if (tarea.Valor1 > 0)
                            {
                                <div style="display: flex; align-items: center; gap: 10px; justify-content: right;">
                                    @if (tarea.Valor1 > 0)
                                    {
                                        <div style="font-size: 14px;">@tarea.Valor1</div>
                                    }

                                    @if (tarea.Valor2 > 0)
                                    {
                                        <div style="font-size: 14px;">@tarea.Valor2</div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </button>
            }
        }
    </div>
</div>

@code {

    #nullable disable

    [Inject]
    protected Herramientas.IDecompiladores decompilador { get; set; }

    private SqlConnection conexion = new SqlConnection();

    private PeriodicTimer cronometro = null;

    protected override void OnInitialized()
    {
        Cronometro();
    }

    private async void Cronometro()
    {
        cronometro = new PeriodicTimer(TimeSpan.FromSeconds(1));

        while (await cronometro.WaitForNextTickAsync())
        {
            await InvokeAsync(StateHasChanged);
        }
    }

    private async Task ClickearTienda(MouseEventArgs e, string id)
    {
        if (string.IsNullOrEmpty(id) == false)
        {
            await TiendasCargar.AdminTiendas(id, decompilador);
        }
    }

    private void ClickearSuscripcionStreaming(MouseEventArgs e, string id)
    {
        if (string.IsNullOrEmpty(id) == false)
        {
            if (conexion.State != System.Data.ConnectionState.Open)
            {
                conexion = Herramientas.BaseDatos.Conectar();
            }

            using (conexion)
            {
                BaseDatos.Admin.AdminTarea tarea = BaseDatos.Admin.Buscar.Tarea(id, conexion);

                if (tarea != null)
                {
                    DateTime fecha = DateTime.Now;
                    fecha = fecha - TimeSpan.FromDays(1);

                    BaseDatos.Admin.Actualizar.Tiendas(tarea.Id, fecha, tarea.Cantidad, conexion);
                }
            }
        }
    }

    private string TareasUso()
    {
        string info = String.Empty;

        BaseDatos.Admin.AdminTarea enUso = new BaseDatos.Admin.AdminTarea();

        if (conexion.State != System.Data.ConnectionState.Open)
        {
            conexion = Herramientas.BaseDatos.Conectar();
        }

        using (conexion)
        {
            enUso = BaseDatos.Admin.Buscar.TiendasEnUso(TimeSpan.FromSeconds(60), conexion);
        }

        if (enUso != null)
        {
            info = "Comprobando: " + enUso.Id;
        }

        return info;
    }
}
