@using Microsoft.AspNetCore.Components.Web;
@using Microsoft.AspNetCore.Identity
@using pepeizqs_deals_web.Areas.Identity.Data
@using Tiendas2

@inject UserManager<Usuario> UserManager
@inject IHttpContextAccessor HttpContextAccessor

@if (BaseDatos.Usuarios.Buscar.RolDios(UserManager.GetUserName(HttpContextAccessor.HttpContext!.User)) == true)
{
	<div style="display: flex; align-items: start;">
		<div class="perfil" style="padding: 25px 40px; width: 66%;">
			@foreach (Tienda tienda in TiendasCargar.GenerarListado())
			{
				@if (tienda.AdminEnseñar == true)
				{
					<div style="margin-top: 15px; margin-bottom: 15px;">
						@if (tienda.AdminInteractuar == true)
						{
							<button @onclick="(e => ClickearTienda(e, tienda.Id))" class="boton-pequeño" style="height: fit-content; padding: 20px 40px;">
								<div style="display: flex; align-items: center;">
									<div style="width: 40%;">
										<img src="@tienda.Imagen300x80" style="height: 40px;" />
									</div>

									<div class="admin-tiempohace" style="width: 60%; padding-left: 30px; text-align: right;">@BaseDatos.Tiendas.Admin.ComprobacionMensaje(tienda.Id)</div>
								</div>
							</button>
						}
						else
						{
							<div style="display: flex; align-items: center; height: fit-content; padding: 20px 40px;">
								<div style="width: 40%;">
									<img src="@tienda.Imagen300x80" style="height: 40px;" />
								</div>

								<div class="admin-tiempohace" style="width: 60%; padding-left: 30px; text-align: right;">@BaseDatos.Tiendas.Admin.ComprobacionMensaje(tienda.Id)</div>
							</div>
						}
					</div>
				}
			}
		</div>

		<div style="width: 33%; padding-left: 40px;">
			<div class="perfil">
				<div class="perfil-flexible-centrado">
					<div style="width: 25%;">
						<button @onclick="@(e => ClickearTienda(e, "divisas"))" class="boton-pequeño" style="text-align: center;">Actualizar</button>
					</div>
					<div style="width: 75%; padding-left: 20px;">
						<div class="admin-tiempohace">@Herramientas.Divisas.Mensaje()</div>
					</div>
				</div>

				<div style="margin-top: 20px;">
					Turno: @LeerUltimaTienda()
				</div>

				<div class="perfil-flexible-centrado" style="margin-top: 20px;">
					<div style="width: 25%;">
						<button @onclick="@(e => ClickearPortada(e))" class="boton-pequeño" style="text-align: center;">Actualizar Portada</button>
					</div>
				</div>
			</div>
		</div>		
	</div>
}

@code {

	#nullable disable

	private string tiendaElegida = null;

	private void ClickearTienda(MouseEventArgs e, string id)
	{
		tiendaElegida = id;

		if (id != null)
		{
			TiendasCargar.AdminTiendas(id);

			if (id == "divisas")
			{
				Herramientas.Divisas.CogerDatos();
			}
		}
    }

    private string LeerUltimaTienda()
    {
		BaseDatos.Tiendas.AdminTiendas tienda = BaseDatos.Tiendas.Admin.TiendaComprobar();

        return tienda.tienda + " " + Herramientas.Calculadora.HaceTiempo(tienda.fecha, "es-ES");
    }

    private async Task ClickearPortada(MouseEventArgs e)
    {
		await Herramientas.Tareas.Portada();
	}
}
