@using Microsoft.AspNetCore.Components.Web;
@using Microsoft.AspNetCore.Identity;
@using pepeizqs_deals_web.Areas.Identity.Data;

@inject UserManager<Usuario> UserManager
@inject IHttpContextAccessor HttpContextAccessor

@if (usuario != null)
{
    <div class="row" style="margin-top: 10px;">
        <div style="margin-bottom: 20px;">
            <label class="texto-info-entrada">@Herramientas.Idiomas.CogerCadena(idioma, "Settings.String18")</label>
            <input value="@contraseñaActual" @onchange="@(e => CambiarActualContraseña(e))" type="password" class="entrada-texto" autocomplete="current-password" aria-required="true" placeholder="@Herramientas.Idiomas.CogerCadena(idioma, "Settings.String21")" />         
        </div>

        <div style="margin-bottom: 20px;">
            <label class="texto-info-entrada">@Herramientas.Idiomas.CogerCadena(idioma, "Settings.String19")</label>
            <input value="@contraseñaActual" @onchange="@(e => CambiarNuevaContraseña1(e))" type="password" class="entrada-texto" autocomplete="new-password" aria-required="true" placeholder="@Herramientas.Idiomas.CogerCadena(idioma, "Settings.String22")" />
        </div>

        <div style="margin-bottom: 20px;">
            <label class="texto-info-entrada">@Herramientas.Idiomas.CogerCadena(idioma, "Settings.String20")</label>
            <input value="@contraseñaActual" @onchange="@(e => CambiarNuevaContraseña2(e))" type="password" class="entrada-texto" autocomplete="new-password" aria-required="true" placeholder="@Herramientas.Idiomas.CogerCadena(idioma, "Settings.String23")" />
        </div>
    </div>
}

@code {

    #nullable disable

    [Parameter]
    public string idioma { get; set; }

    private Usuario usuario = new Usuario();

    private string contraseñaActual = string.Empty;
    private string contraseñaNueva1 = string.Empty;
    private string contraseñaNueva2 = string.Empty;

    protected override void OnInitialized()
    {
        usuario = UserManager.GetUserAsync(HttpContextAccessor.HttpContext.User).Result;

        if (usuario != null)
        {
           
        }
    }

    private void CambiarActualContraseña(ChangeEventArgs texto)
    {
        contraseñaActual = texto.Value.ToString();
    }

    private void CambiarNuevaContraseña1(ChangeEventArgs texto)
    {
        contraseñaNueva1 = texto.Value.ToString();
    }

    private void CambiarNuevaContraseña2(ChangeEventArgs texto)
    {
        contraseñaNueva2 = texto.Value.ToString();
    }
}
