@using APIs.Steam;
@using Microsoft.AspNetCore.Components.Web;
@using Microsoft.AspNetCore.Identity;
@using pepeizqs_deals_web.Areas.Identity.Data;

@inject UserManager<Usuario> UserManager
@inject IHttpContextAccessor HttpContextAccessor

@if (usuario != null)
{
	if (usuario.EmailConfirmed == true)
	{
		<div style="margin-top: 10px;">
			<input class="entrada-texto" placeholder="@Herramientas.Idiomas.CogerCadena(idioma, "Settings.String45")" value="@usuario.SteamAccount" @oninput="TextoCambiaSteamCuenta" disabled="@desactivar" />

			<div style="display: flex; margin-top: 15px; margin-left: 10px;">
				<div style="width: 6%; padding: 10px;">
					<i class="fa-solid fa-circle-info" style="font-size: 30px;"></i>
				</div>

				<div style="width: 94%;">
					<label class="texto-info-entrada">@Herramientas.Idiomas.CogerCadena(idioma, "Settings.String46")</label>

					<button @onclick="ClickearEnseñarImagen" class="btn btn-link" style="outline: none; border: 0; padding-left: 10px; color: var(--colorTextoOscuro);">
						@Herramientas.Idiomas.CogerCadena(idioma, "Settings.String47")
					</button>

					@if (enseñarImagen == true)
					{
						<img src="/imagenes/otros/permisos.jpg" style="margin: 10px;" />
					}
				</div>
			</div>
		</div>

		@if (errorCuentaUsada == true)
		{
			<div class="alert alert-danger alert-dismissible" style="margin-bottom: 0px; margin-top: 20px;" role="alert">
				@Herramientas.Idiomas.CogerCadena(idioma, "Settings.String61")
			</div>
		}

		@if (string.IsNullOrEmpty(enlaceCuenta) == false)
		{
			<hr style="margin-top: 20px; margin-bottom: 20px;" />

			<button class="boton-pequeño" style="padding: 10px 15px; max-width: 250px;" @onclick="@(e => ActualizarDatos(e))" disabled="@desactivar">
				@Herramientas.Idiomas.CogerCadena(idioma, "Settings.String63")
			</button>
		}

		@if (usuario.SteamId != null || usuario.Nickname != null || usuario.SteamGames != null || usuario.SteamWishlist != null || usuario.OfficialGroup != null)
		{
			<hr style="margin-top: 20px; margin-bottom: 20px;" />

			<div class="perfil-flexible-centrado" style="align-items: start;">
				@if (string.IsNullOrEmpty(usuario.Avatar) == false)
				{
					<div style="width: 10%; padding: 3px 10px;">
						<img src="@usuario.Avatar" style="max-width: 70px; max-height: 70px;" />
					</div>
				}

				<div style="width: 90%; padding-left: 10px;">
					@if (string.IsNullOrEmpty(usuario.SteamId) == false)
					{
						<div>
							<label>@Herramientas.Idiomas.CogerCadena(idioma, "Settings.String62") @usuario.SteamId</label>
						</div>
					}

					@if (string.IsNullOrEmpty(usuario.Nickname) == false)
					{
						<div style="margin-top: 5px;">
							<label>@Herramientas.Idiomas.CogerCadena(idioma, "Settings.String48") @usuario.Nickname</label>
						</div>
					}

					@if (string.IsNullOrEmpty(usuario.SteamGames) == false)
					{
						<div style="margin-top: 5px;">
							<label>@Herramientas.Idiomas.CogerCadena(idioma, "Settings.String49") @MensajeCantidad(usuario.SteamGames)</label>
						</div>
					}

					@if (string.IsNullOrEmpty(usuario.SteamWishlist) == false)
					{
						<div style="margin-top: 5px;">
							<label>@Herramientas.Idiomas.CogerCadena(idioma, "Settings.String50") @MensajeCantidad(usuario.SteamWishlist)</label>
						</div>
					}

					@if (string.IsNullOrEmpty(usuario.OfficialGroup) == false)
					{
						if (usuario.OfficialGroup == "True")
						{
							<div style="margin-top: 15px;">
								<i class="fa-solid fa-check texto-info-entrada"></i> <label style="margin-left: 10px;">@Herramientas.Idiomas.CogerCadena(idioma, "Settings.String51")</label>
							</div>
						}
						else
						{
							<div style="margin-top: 15px;">
								<i class="fa-solid fa-xmark texto-info-entrada"></i> <label style="margin-left: 10px;">@Herramientas.Idiomas.CogerCadena(idioma, "Settings.String52")</label>
							</div>
						}
					}

					@if (string.IsNullOrEmpty(usuario.OfficialGroup2) == false)
					{
						if (usuario.OfficialGroup2 == "True")
						{
							<div style="margin-top: 5px;">
								<i class="fa-solid fa-check texto-info-entrada"></i> <label style="margin-left: 10px;">@Herramientas.Idiomas.CogerCadena(idioma, "Settings.String57")</label>
							</div>
						}
						else
						{
							<div style="margin-top: 5px;">
								<i class="fa-solid fa-xmark texto-info-entrada"></i> <label style="margin-left: 10px;">@Herramientas.Idiomas.CogerCadena(idioma, "Settings.String58")</label>
							</div>
						}
					}

					@if (usuario.SteamAccountLastCheck != null)
					{
						<div style="margin-top: 15px;">
							<label>@Herramientas.Idiomas.CogerCadena(idioma, "Settings.String60"): @Herramientas.Calculadora.DiferenciaTiempo(Convert.ToDateTime(usuario.SteamAccountLastCheck), idioma)</label>
						</div>
					}
				</div>
			</div>
		}
	}
	else
	{
		<div style="margin-top: 10px;">
			<div class="alert alert-danger alert-dismissible" style="margin-bottom: 0px; margin-top: 20px;" role="alert">
				@Herramientas.Idiomas.CogerCadena(idioma, "Settings.String44")
			</div>
		</div>
	}
}

@code {

	#nullable disable

	[Parameter]
	public string idioma { get; set; }

	private Usuario usuario = new Usuario();

	private bool desactivar = false;

	private string enlaceCuenta = string.Empty;

	private bool enseñarImagen = false;

	private bool errorCuentaUsada = false;

	protected override async Task OnInitializedAsync()
	{
		usuario = await UserManager.GetUserAsync(HttpContextAccessor.HttpContext.User);

		if (usuario != null)
		{
			if (string.IsNullOrEmpty(usuario.SteamAccount) == false)
			{
				enlaceCuenta = usuario.SteamAccount;
			}			
		}
	}

	private async void TextoCambiaSteamCuenta(ChangeEventArgs texto)
	{
		errorCuentaUsada = false;

		bool tiempo = true;

		if (string.IsNullOrEmpty(usuario.SteamAccountLastCheck) == false)
		{
			if (Convert.ToDateTime(usuario.SteamAccountLastCheck) + TimeSpan.FromDays(7) > DateTime.Now)
			{
				tiempo = false;
			}
		}

		if (tiempo == true)
		{
			if (texto.Value.ToString().Trim().Length > 1)
			{
				enlaceCuenta = texto.Value.ToString().Trim();

				await ActualizarDatosCuenta();
			}
		}
	}

	private string MensajeCantidad(string datos)
	{
		if (datos != null)
		{
			string juegos = datos;

			int i = 0;
			int j = 100000;

			while (i < j)
			{
				if (juegos.Contains(",") == true)
				{
					int int1 = juegos.IndexOf(",");
					juegos = juegos.Remove(0, int1 + 1);
				}
				else
				{
					break;
				}

				i += 1;
			}

			if (i > 0)
			{
				return i.ToString();
			}
		}

		return null;
	}

	private void ClickearEnseñarImagen()
	{
		if (enseñarImagen == true)
		{
			enseñarImagen = false;
		}
		else
		{
			enseñarImagen = true;
		}
	}

	private async Task ActualizarDatos(MouseEventArgs e)
	{
		await ActualizarDatosCuenta();
	}

	private async Task ActualizarDatosCuenta()
	{
		desactivar = true;

		if (enlaceCuenta.Contains("https://steamcommunity.com/id/") == true || enlaceCuenta.Contains("https://steamcommunity.com/profiles/") == true)
		{
			SteamUsuario datos = await Cuenta.CargarDatos(enlaceCuenta);

			if (datos != null)
			{
				bool cuentaUsada = BaseDatos.Usuarios.Buscar.CuentaSteamUsada(enlaceCuenta, datos.SteamId, usuario.Id);

				if (cuentaUsada == false)
				{
					usuario.SteamAccount = enlaceCuenta;
					usuario.SteamGames = datos.Juegos;
					usuario.SteamWishlist = datos.Deseados;
					usuario.Avatar = datos.Avatar;
					usuario.Nickname = datos.Nombre;
					usuario.SteamAccountLastCheck = DateTime.Now.ToString();
					usuario.OfficialGroup = datos.GrupoPremium;
					usuario.OfficialGroup2 = datos.GrupoNormal;
					usuario.SteamId = datos.SteamId;

					await UserManager.UpdateAsync(usuario);
				}
				else
				{
					errorCuentaUsada = true;
				}
			}
		}

		desactivar = false;
	}
}
