@page
@model pepeizqs_deals_web.Pages.GameModel

@using Herramientas
@using Juegos
@using Microsoft.AspNetCore.Identity
@using pepeizqs_deals_web.Areas.Identity.Data
@using System.Net;

@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager

@{
	ViewData["Title"] = Model.juego.Nombre;
	Layout = "/Pages/Shared/_Layout.cshtml";
}

@if (SignInManager.IsSignedIn(User))
{
	@if (await UsuarioCoger.RolDios(UserManager, User) == true)
	{
		<div style="margin-bottom: 80px; margin-left: -10px; width: 100%; display: flex; align-items: center;">
			<a class="juego-boton-pequeño" href="/Admin/Juegos/Editar?id=@Model.juego.Id">Editar Juego</a>

			@if (Model.juego.IdSteam > 0)
			{
				<div style="margin-left: 20px; font-size: 14px;">Steam ID: @Model.juego.IdSteam</div>
			}

			@if (Model.juego.IdGog > 0)
			{
				<div style="margin-left: 20px; font-size: 14px;">GOG ID: @Model.juego.IdGog</div>
			}
		</div>	
	}
}

<div class="juego-wrap">
	<img class="juego-fondo" src="@Model.juego.Imagenes.Library_1920x620" onerror="this.parentNode.removeChild(this)" />

    <div class="juego-contenido">
        <div class="perfil-espacio-bottom juego-cabecera">      
			<div class="perfil-flexible-centrado">
				<div class="juego-flexible-izquierda">
					<img src="@Herramientas.JuegoFicha.LimpiarImagenJuego(Model.juego.Imagenes.Header_460x215)" class="juego-imagen" />
				</div>
				<div class="juego-titulo">
					@Model.juego.Nombre <br/>

					<div class="juego-sistemas-espacio">
						@if (@Model.juego.Caracteristicas.Windows == true)
						{
							<img src="/imagenes/sistemas/windows.webp"/>
						}

						@if (@Model.juego.Caracteristicas.Mac == true)
						{
							<img src="/imagenes/sistemas/mac.webp" />
						}

						@if (@Model.juego.Caracteristicas.Linux == true)
						{
							<img src="/imagenes/sistemas/linux.webp" />
						}

						@if (Model.juego.IdSteam > 0)
						{
							<input type="button" value="@Herramientas.Idiomas.CogerCadena(Model.idioma, "Game.String1")" class="juego-boton-pequeño" style="margin-left: 10px;" onclick="window.open('@Herramientas.EnlaceAcortador.Generar("https://store.steampowered.com/app/" + Model.juego.IdSteam.ToString(), "steam")', '_blank')" target="_blank" />
						}	
					</div>
				</div>

				@if (Model.juego.Analisis != null)
				{
					<div class="juego-analisis">
						<div class="juego-analisis-texto2">@Herramientas.Idiomas.CogerCadena(Model.idioma, "Game.String2")</div>

						<div class="juego-analisis-display">
							@if (int.Parse(Model.juego.Analisis.Porcentaje) > 74)
							{
								<img src="/imagenes/analisis/positive2.webp" class="juego-analisis-imagen" />
							}

							@if (int.Parse(Model.juego.Analisis.Porcentaje) > 49 && int.Parse(Model.juego.Analisis.Porcentaje) < 75)
							{
								<img src="/imagenes/analisis/mixed2.webp" class="juego-analisis-imagen" />
							}

							@if (int.Parse(Model.juego.Analisis.Porcentaje) < 50)
							{
								<img src="/imagenes/analisis/negative2.webp" class="juego-analisis-imagen" />
							}

							<div class="juego-analisis-texto">@Model.juego.Analisis.Porcentaje% • @Calculadora.RedondearAnalisis(Model.idioma, Model.juego.Analisis.Cantidad)</div>
						</div>
					</div>				
				}
			</div>
        </div>   

		<div style="display: flex; flex-flow: column wrap; position: fixed; z-index: 0; margin-top: -40px; width: 100%; left: 0; top: 45%;">
			@foreach (JuegoDRM drm in JuegoDRM2.CargarDRMs())
			{
				@if (drm != JuegoDRM.NoEspecificado)
				{
					@if (Herramientas.JuegoFicha.VerificarMostrarDRM(Model.idioma, drm, Model.juego) == true)
					{
						@if (drm == JuegoDRM.DRMFree)
						{
							<button onclick="moverScroll('@drm')" class="boton-pequeño" style="width: 40px; height: 40px; text-align: center; margin: 10px 20px;"><div style="font-weight: bold; font-size: 16px;">DRM Free</div></button>
						}
						else
						{
							<button onclick="moverScroll('@drm')" class="boton-pequeño" style="width: 40px; height: 40px; text-align: center; margin: 10px 20px;"><img src="@JuegoDRM2.SacarImagen(drm)" style="max-width: 100%; max-height: 100%;"/></button>
						}					
					}
				}
			}			
		</div>
		
		@foreach (JuegoDRM drm in JuegoDRM2.CargarDRMs())
		{
			@if (drm != JuegoDRM.NoEspecificado)
			{
				@if (Herramientas.JuegoFicha.VerificarMostrarDRM(Model.idioma, drm, Model.juego) == true)
				{
					<div id="@drm">	
						@if (SignInManager.IsSignedIn(User))
						{
							@(await Html.RenderComponentAsync<Componentes.Secciones.JuegoFichaDeseado>(RenderMode.ServerPrerendered, new { idioma = Model.idioma, juego = Model.juego, drm = drm }))
						}

						<div class="juego-drm-centrado perfil-espacio-bottom">
							<div class="perfil juego-drm-imagen">
								@if (drm == JuegoDRM.DRMFree)
								{
									<div style="font-weight: bold; font-size: 18px;">DRM Free</div>
								}
								else
								{
									<img src="@JuegoDRM2.SacarImagen(drm)" />
								}
							</div>

							<div class="perfil" style="width: 90%;">
								@Html.Raw(Herramientas.JuegoFicha.CogerMinimoDRM(Model.idioma, drm, Model.juego.PrecioMinimosHistoricos, Model.juego.PrecioActualesTiendas, true))

								@Html.Raw(Herramientas.JuegoFicha.PrepararBundles(Model.idioma, Model.juego.Bundles, drm))

								@Html.Raw(Herramientas.JuegoFicha.PrepararGratis(Model.idioma, Model.juego.Gratis, drm))

								@Html.Raw(Herramientas.JuegoFicha.PrepararSuscripcion(Model.idioma, Model.juego.Suscripciones, drm))
								
								@if (Herramientas.JuegoFicha.OrdenarPrecios(Model.juego.PrecioActualesTiendas, drm, false).Count > 0)
								{
									@foreach (JuegoPrecio precio in Herramientas.JuegoFicha.OrdenarPrecios(Model.juego.PrecioActualesTiendas, drm, true))
									{
										<a class="juego-boton-pequeño juego-imagen-boton-espacio" href="@Herramientas.EnlaceAcortador.Generar(precio.Enlace, precio.Tienda)" target="_blank">
											<div class="perfil-flexible-centrado">
												<img src="@Herramientas.JuegoFicha.SacarImagenTienda(precio.Tienda)" class="juego-imagen-boton" />

												<div class="juego-descuento-precio">
													<div style="font-size: 14px; margin: 20px;">
														@Calculadora.HaceTiempo(precio.FechaDetectado, Model.idioma)
													</div>

													<div style="width: 75px; text-align: center;" class="juego-descuento">
														@precio.Descuento.ToString()%
													</div>

													<div class="juego-precio">
														@Herramientas.JuegoFicha.PrepararPrecio(precio.Precio, precio.Moneda)
													</div>
												</div>
											</div>
										</a>
									}
								}
								else
								{
									<div>@Herramientas.Idiomas.CogerCadena(Model.idioma, "Game.String12")</div>
								}
							</div>
						</div>
					</div>
				}
			}
		}

		@if (Model.juego.Caracteristicas.Descripcion != null)
		{
			<div class="perfil perfil-flexible-centrado perfil-espacio-bottom">
				<div style="width: 100%; padding: 10px;">
					@WebUtility.HtmlDecode(Model.juego.Caracteristicas.Descripcion)
				</div>
			</div>
		}

		@if (Model.juego.Media != null)
		{
			@if (Model.juego.Media.Capturas != null)
			{
				@if (Model.juego.Media.Capturas.Count > 0)
				{
					<div class="perfil">
						<div class="juego-galeria-contenedor">
							@for (int i = 0; i < Model.juego.Media.Capturas.Count; i++)
							{
								<div class="juego-galeria-imagenes">
									<div class="juego-galeria-numero">@(i + 1) / @Model.juego.Media.Capturas.Count</div>
									<img src="@Model.juego.Media.Capturas[i]" style="width:100%;">
								</div>
							}

							<a class="juego-galeria-atras" onclick="siguienteAtras(-1)">&#10094;</a>
							<a class="juego-galeria-siguiente" onclick="siguienteAtras(1)">&#10095;</a>

							<div class="juego-galeria-contenedor-texto">
								<p id="juego-galeria-texto"></p>
							</div>

							@if (Model.juego.Media.Miniaturas != null)
							{
								<div class="juego-galeria-fila">
									@for (int i = 0; i < Model.juego.Media.Miniaturas.Count; i++)
									{
										<div class="juego-galeria-columna">
											<img class="juego-galeria-capturas juego-galeria-cursor" src="@Model.juego.Media.Miniaturas[i]" style="width: 100%;" onclick="cambiarImagen(@i + 1)">
										</div>
									}
								</div>
							}						
						</div>
					</div>
				}
			}
		}
    </div>
</div>

<script>
	let imagenPosicion = 1;
	cargarImagen(imagenPosicion);

	function siguienteAtras(n) {
		cargarImagen(imagenPosicion += n);
	}

	function cambiarImagen(n) {
		cargarImagen(imagenPosicion = n);
	}

	function cargarImagen(n) {
		let i;
		let imagenes = document.getElementsByClassName("juego-galeria-imagenes");
		let capturas = document.getElementsByClassName("juego-galeria-capturas");
		let texto = document.getElementById("juego-galeria-texto");

		if (n > imagenes.length) 
		{ 
			imagenPosicion = 1 
		}

		if (n < 1) 
		{ 
			imagenPosicion = imagenes.length 
		}

		for (i = 0; i < imagenes.length; i++) 
		{
			imagenes[i].style.display = "none";
		}

		for (i = 0; i < capturas.length; i++) 
		{
			capturas[i].className = capturas[i].className.replace(" juego-galeria-activo", "");
		}

		imagenes[imagenPosicion - 1].style.display = "block";
		capturas[imagenPosicion - 1].className += " juego-galeria-activo";
		texto.innerHTML = capturas[imagenPosicion - 1].alt;
	}

	function moverScroll(id) {
		document.getElementById(id).scrollIntoView({ behavior: "smooth", block: "center" });
	}
</script>