@page
@model pepeizqs_deals_web.Pages.GameModel

@using Herramientas
@using Juegos

@{
	ViewData["Title"] = Model.juego.Nombre;
	Layout = "/Pages/Shared/_Layout.cshtml";
}

<div class="juego-wrap">
    <img class="juego-fondo" src="@Model.juego.Imagenes.Library_1920x620"/>

    <div class="juego-contenido">
        <div class="perfil-espacio-bottom juego-cabecera">      
			<div class="perfil-flexible-centrado">
				<div class="juego-flexible-izquierda">
					<img src="@JuegoFicha.LimpiarImagenJuego(Model.juego.Imagenes.Header_460x215)" class="juego-imagen" />
				</div>
				<div class="juego-titulo">
					@Model.juego.Nombre <br/>

					@if (Model.juego.IdSteam > 0)
					{
						<div class="juego-versteam-espacio"><a class="juego-boton-pequeño" href="https://store.steampowered.com/app/@Model.juego.IdSteam" target="_blank">View on Steam</a></div>
					}		
				</div>

				@if (Model.juego.Analisis != null)
				{
					<div class="juego-analisis">
						<div class="juego-analisis-texto2">Rating on Steam</div>

						<div class="juego-analisis-display">
							@if (int.Parse(Model.juego.Analisis.Porcentaje) > 74)
							{
								<img src="/imagenes/analisis/positive2.png" class="juego-analisis-imagen" />
							}

							@if (int.Parse(Model.juego.Analisis.Porcentaje) > 49 && int.Parse(Model.juego.Analisis.Porcentaje) < 75)
							{
								<img src="/imagenes/analisis/mixed2.png" class="juego-analisis-imagen" />
							}

							@if (int.Parse(Model.juego.Analisis.Porcentaje) < 50)
							{
								<img src="/imagenes/analisis/negative2.png" class="juego-analisis-imagen" />
							}

							<div class="juego-analisis-texto">@Model.juego.Analisis.Porcentaje% • @Calculadora.RedondearAnalisis(Model.juego.Analisis.Cantidad)</div>
						</div>
					</div>				
				}
			</div>
        </div>   
		
		@foreach (JuegoDRM drm in JuegoDRM2.CargarDRMs())
		{
			@if (drm != JuegoDRM.NoEspecificado)
			{
				@if (JuegoFicha.PrepararMinimo(drm, Model.juego.PrecioMinimosHistoricos, Model.juego.PrecioActualesTiendas).Length > 0)
				{
					<div class="juego-drm-centrado perfil-espacio-bottom">
						<div class="perfil juego-drm-imagen">
							@if (drm == JuegoDRM.DRMFree)
							{
								<div style="font-weight: bold;font-size: 18px;">DRM Free</div>
							}
							else
							{
								<img src="@JuegoDRM2.SacarImagen(drm)" />
							}
						</div>

						<div class="perfil" style="width: 90%;">
							<div class="juego-minimo">@JuegoFicha.PrepararMinimo(drm, Model.juego.PrecioMinimosHistoricos, Model.juego.PrecioActualesTiendas)</div>

							@if (JuegoFicha.OrdenarPrecios(Model.juego.PrecioActualesTiendas, drm).Count > 0)
							{
								@foreach (JuegoPrecio precio in JuegoFicha.OrdenarPrecios(Model.juego.PrecioActualesTiendas, drm))
								{
									<a class="juego-boton-pequeño juego-imagen-boton-espacio" href="@precio.Enlace" target="_blank">
										<div class="perfil-flexible-centrado">
											<img src="@JuegoFicha.SacarImagenTienda(precio.Tienda)" class="juego-imagen-boton" />

											<div class="juego-descuento-precio">
												<div class="juego-descuento">
													@precio.Descuento.ToString()%
												</div>

												<div class="juego-precio">
													@JuegoFicha.PrepararPrecio(precio.Precio, precio.Moneda)
												</div>
											</div>
										</div>
									</a>
								}
							}
							else
							{
								<div>There are currently no deals for this platform</div>
							}
						</div>
					</div>
				}
			}
		}
		
		
    </div>
</div>