@page
@model pepeizqs_deals_web.Pages.NewsModel

@{
	#nullable disable

	string titulo = null;

	if (Model.idioma != null)
	{
		if (Model.idioma == "es" || Model.idioma == "es-ES")
		{
			titulo = Model.noticia.TituloEs;
		}
		else
		{
			titulo = Model.noticia.TituloEn;
		}
	}
	else
	{
		titulo = Model.noticia.TituloEn;
	}

	ViewData["Title"] = titulo;
	Layout = "/Pages/Shared/_Layout.cshtml";
}

<div class="juego-wrap">
	@if (@Model.fondo != null)
	{
		<img class="juego-fondo" src="@Model.fondo" onerror="this.parentNode.removeChild(this)" />
	}
	
    <div class="juego-contenido">
		<div class="juego-cabecera" style="padding: 40px; flex-direction: row;">
			<div style="width: 12%;">
				<img src="@Model.imagenLogo" style="max-width: 100%;"/>
			</div>	

			<div style="width: 76%; font-size: 22px; padding-left: 40px; padding-right: 40px;">
				@Model.titulo
			</div>

			<div style="width: 12%; font-size: 22px;">
				@Model.fechaEmpieza
			</div>
		</div>

		<div class="perfil" style="margin-top: 40px;">
			@Html.Raw(Model.noticia.ContenidoEn)
		</div>

		@if (Model.fechaTermina != null)
		{
			<div class="perfil" style="flex-direction: row; margin-top: 40px;">
				<i class="fa-solid fa-exclamation" style="font-size: 20px; margin-right: 20px;"></i> @Model.fechaTermina
			</div>
		}

		@if (Model.juegos.Count > 0)
		{
			<div class="perfil" style="margin-top: 40px;">
				<div style="margin-bottom: 20px;">
					Games in the database:
				</div>

				<div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); gap: 20px;">
					@foreach (var juego in Model.juegos)
					{
						<div style="max-width: 200px;">
							<a href="game/@juego.Id" class="boton-pequeño" style="padding: 10px;" target="_blank">
								<div>
									<img src="@juego.Imagenes.Library_600x900" style="max-width: 100%; max-height: 100%;" />
								</div>
							</a>
						</div>
					}
				</div>
			</div>	
		}
	</div>
</div>