@inject SignInManager<Usuario> SignInManager

@{
    #nullable disable

    string idioma = Context.Request.Headers["Accept-Language"].ToString().Split(";").FirstOrDefault()?.Split(",").FirstOrDefault();
}

<ul class="nav nav-pills flex-column" style="margin-top: 0px;">
    <li class="nav-item">
        <a class="perfil-lateral @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">@Herramientas.Idiomas.CogerCadena(idioma, "Layout.Email")</a>
    </li>

    <li class="nav-item">
        <a class="perfil-lateral @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">@Herramientas.Idiomas.CogerCadena(idioma, "Layout.Password")</a>
    </li>

    <li class="nav-item">
        <a class="perfil-lateral @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">@Herramientas.Idiomas.CogerCadena(idioma, "Layout.PersonalData")</a>
    </li>
</ul>

<hr />

<ul class="nav nav-pills flex-column" style="margin-top: 0px;">
    <li class="nav-item">
        <a class="perfil-lateral @ManageNavPages.NotificationsNavClass(ViewContext)" id="notifications" asp-page="./Notifications">@Herramientas.Idiomas.CogerCadena(idioma, "Layout.Notifications")</a>
    </li>

    <li class="nav-item">
        <a class="perfil-lateral @ManageNavPages.SteamAccountNavClass(ViewContext)" id="steamaccount" asp-page="./SteamAccount">@Herramientas.Idiomas.CogerCadena(idioma, "Layout.Steam")</a>
    </li>

    <li class="nav-item">
        <a class="perfil-lateral @ManageNavPages.KeysNavClass(ViewContext)" id="keys" asp-page="./Keys">@Herramientas.Idiomas.CogerCadena(idioma, "Layout.Keys")</a>
    </li>
</ul>