@page
@model PersonalDataModel
@{
    ViewData["Title"] = Herramientas.Idiomas.CogerCadena(Model.idioma, "Settings.String33");
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
    Layout = "~/Areas/Identity/Pages/Account/Manage/_PerfilLayout.cshtml";
}

<div style="font-size: 20px; margin-bottom: 20px;">@ViewData["Title"]</div>

<div>
    <p>@Herramientas.Idiomas.CogerCadena(Model.idioma, "Settings.String34")</p>
    <p>
        <strong>@Herramientas.Idiomas.CogerCadena(Model.idioma, "Settings.String35")</strong>
    </p>

    <div class="perfil-flexible">
        <div class="perfil-flexible-izquierda">
            <form id="download-data" asp-page="DownloadPersonalData" method="post">
                <button class="boton" type="submit">@Herramientas.Idiomas.CogerCadena(Model.idioma, "Settings.String36")</button>
            </form>
        </div>
        <div class="perfil-flexible-derecha">
            <p>
                <a id="delete" asp-page="DeletePersonalData" class="boton-peligro">@Herramientas.Idiomas.CogerCadena(Model.idioma, "Settings.String37")</a>
            </p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
