@page
@model pepeizqs_deals_web.Pages.Admin.Tiendas.IndexModel

@using Microsoft.AspNetCore.Identity
@using pepeizqs_deals_web.Areas.Identity.Data
@using Tiendas2

@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager

@{
	ViewData["Title"] = "Tiendas";
	Layout = "/Pages/Shared/_Layout.cshtml";
}

@if (SignInManager.IsSignedIn(User))
{
	@if (await UsuarioCoger.RolDios(UserManager, User) == true)
	{
		<div class="perfil perfil-espacio-bottom">
			<form method="post">
				<div class="admin-grid">
					@foreach (Tienda tienda in TiendasCargar.GenerarListado())
					{
						@if (tienda.EnseñarAdmin == true)
						{
							<div>
								<button class="boton admin-boton-imagen-300x80" style="background-image: url(@tienda.Imagen300x80);" id="@tienda.Id" asp-route-id="@tienda.Id" type="submit"></button><br />

								<div class="admin-tiempohace">@TiendasBaseDatos.SacarTiempo(tienda.Id)</div>
							</div>
						}					
					}
				</div>
			</form>
		</div>

		<div class="perfil">
			@ViewData["Mensaje"]
		</div>		
	}
}

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
