@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using Microsoft.AspNetCore.Identity
@using Microsoft.Data.SqlClient
@using pepeizqs_deals_web.Areas.Identity.Data

@inherits Juegos.Juego

@inject UserManager<Usuario> UserManager
@inject SignInManager<Usuario> SignInManager
@inject NavigationManager NavManager

<style>
    .buscador-panel {
    height: calc(100% - var(--alturaCabecera));
    width: 100%;
    left: 0;
    top: 0;
    overflow-x: auto;
    position: fixed;
    z-index: 1000;
    margin-top: var(--alturaCabecera);
    padding: 10px;
    background-color: var(--fondoOscuroTransparente);
    }

    .boton-superior {
    display: block;
    padding: 6px 12px;
    margin: 0px;
    transition: transform .2s;
    }

    .boton-superior:hover {
    transform: scale(1.01);
    }

    @@media (max-width: 800px) {
    .boton-superior {
    float: none;
    }
    }

    .botones-superiores {
    display: flex;
    }

    @@media (max-width: 1000px) {
    .botones-superiores {
    display: none;
    }
    }

    .botones-superiores2 {
    display: none;
    }

    @@media (max-width: 1000px) {
    .botones-superiores2 {
    display: flex;
    }
    }
</style>

<a href="/" class="texto-logo" style="background-color: transparent; border: 0; flex: 1 auto 1;">
    pepeizq's deals
</a>

<div style="display: flex; align-items: center; gap: 10px; flex: 1 1 auto;">

    @if (BaseDatos.Usuarios.Buscar.RolDios(usuario?.Id) == true && ubicacionEnlace.Contains("/admin") == false)
    {
        <a class="texto-cabecera boton-superior" href="/admin" style="font-size: 15px;">
            @adminMensaje
        </a>
    }

    @if (enseñarBuscador == false)
    {
        <button class="texto-cabecera boton-superior" @onclick="@(e => MostrarBuscador(e))" style="cursor: pointer; border: 0px;">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>

        <div class="botones-superiores">
            @if (usuarioLogeado == true)
            {
                if (ubicacionEnlace.Contains("/wishlist") == false)
                {
                    <a class="texto-cabecera boton-superior" href="/wishlist" style="font-size: 15px;">
                        @Herramientas.Idiomas.BuscarTexto(idioma, "Wishlist", "Header")
                    </a>
                }
            }

            @if (ubicacionEnlace.Contains("/historical-lows") == false)
            {
                <a class="texto-cabecera boton-superior" href="/historical-lows" style="font-size: 15px;">
                    @Herramientas.Idiomas.BuscarTexto(idioma, "HistoricalLows", "Header")
                </a>
            }

            @if (ubicacionEnlace.Contains("/bundles") == false)
            {
                <a class="texto-cabecera boton-superior" href="/bundles" style="font-size: 15px;">
                    @Herramientas.Idiomas.BuscarTexto(idioma, "Bundles", "Header")
                </a>
            }

            @if (ubicacionEnlace.Contains("/free") == false)
            {
                <a class="texto-cabecera boton-superior" href="/free" style="font-size: 15px;">
                    @Herramientas.Idiomas.BuscarTexto(idioma, "Free", "Header")
                </a>
            }

            @if (ubicacionEnlace.Contains("/subscriptions") == false)
            {
                <a class="texto-cabecera boton-superior" href="/subscriptions" style="font-size: 15px;">
                    @Herramientas.Idiomas.BuscarTexto(idioma, "Subscriptions", "Header")
                </a>
            }
        </div>

        <div class="botones-superiores2" style="cursor: pointer;">
            <div class="menu-dropdown">
                <i class="fa-solid fa-bars"></i>

                <div class="menu-dropdown-contenido">
                    @if (usuario != null)
                    {
                        if (ubicacionEnlace.Contains("/wishlist") == false)
                        {
                            <a class="texto-cabecera boton-superior" href="/wishlist" style="font-size: 15px;">
                                @Herramientas.Idiomas.BuscarTexto(idioma, "Wishlist", "Header")
                            </a>
                        }
                    }

                    @if (ubicacionEnlace.Contains("/historical-lows") == false)
                    {
                        <a class="texto-cabecera boton-superior" href="/historical-lows" style="font-size: 15px;">
                            @Herramientas.Idiomas.BuscarTexto(idioma, "HistoricalLows", "Header")
                        </a>
                    }

                    @if (ubicacionEnlace.Contains("/bundles") == false)
                    {
                        <a class="texto-cabecera boton-superior" href="/bundles" style="font-size: 15px;">
                            @Herramientas.Idiomas.BuscarTexto(idioma, "Bundles", "Header")
                        </a>
                    }

                    @if (ubicacionEnlace.Contains("/free") == false)
                    {
                        <a class="texto-cabecera boton-superior" href="/free" style="font-size: 15px;">
                            @Herramientas.Idiomas.BuscarTexto(idioma, "Free", "Header")
                        </a>
                    }

                    @if (ubicacionEnlace.Contains("/subscriptions") == false)
                    {
                        <a class="texto-cabecera boton-superior" href="/subscriptions" style="font-size: 15px;">
                            @Herramientas.Idiomas.BuscarTexto(idioma, "Subscriptions", "Header")
                        </a>
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <button class="texto-cabecera boton-superior" @onclick="@(e => MostrarBuscador(e))" style="cursor: pointer; border: 0px; background-color: transparent;">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>

        <input type="text" @oninput="TextoCambiaBuscador" @onblur="AdiosFocusBuscador" class="entrada-texto" style="min-width: 50px; max-width: 400px;" placeholder="@Herramientas.Idiomas.BuscarTexto(idioma, "SearchPlaceholder", "Header")" />

        @if (encontroAlgo == true)
        {
            <div class="buscador-panel" style="display: flex; align-items: start; gap: 20px;">
                <div style="width: 20%; display: flex; flex-direction: column; gap: 10px; padding: 10px;">
                    @{
                        int contador = 0;

                        if (resultadosJuegos.Count > 0)
                        {
                            contador += 1;

                            int id = 0;
                            string fondo = "background-color: var(--fondoBotonPequeñoTransparente);";

                            if (pestañaSeleccionada == id)
                            {
                                fondo = "background-color: var(--fondoBotonPequeño);";
                            }

                            <button @onclick="@(e => CambiarPestaña(e, id, resultadosJuegos))" class="boton-pequeño" style="@fondo padding: 12px 15px; font-size: 16px; text-align: right;">
                                @Herramientas.Idiomas.BuscarTexto(idioma, "SearchFilter1", "Header") (@resultadosJuegos.Count)
                            </button>
                        }

                        if (resultadosDLCs.Count > 0)
                        {
                            contador += 1;

                            int id = 1;
                            string fondo = "background-color: var(--fondoBotonPequeñoTransparente);";

                            if (pestañaSeleccionada == id)
                            {
                                fondo = "background-color: var(--fondoBotonPequeño);";
                            }

                            <button @onclick="@(e => CambiarPestaña(e, id, resultadosDLCs))" class="boton-pequeño" style="@fondo padding: 12px 15px; font-size: 16px; text-align: right;">
                                @Herramientas.Idiomas.BuscarTexto(idioma, "SearchFilter2", "Header") (@resultadosDLCs.Count)
                            </button>
                        }

                        if (resultadosBandasSonoras.Count > 0)
                        {
                            contador += 1;

                            int id = 2;
                            string fondo = "background-color: var(--fondoBotonPequeñoTransparente);";

                            if (pestañaSeleccionada == id)
                            {
                                fondo = "background-color: var(--fondoBotonPequeño);";
                            }

                            <button @onclick="@(e => CambiarPestaña(e, id, resultadosBandasSonoras))" class="boton-pequeño" style="@fondo padding: 12px 15px; font-size: 16px; text-align: right;">
                                @Herramientas.Idiomas.BuscarTexto(idioma, "SearchFilter3", "Header") (@resultadosBandasSonoras.Count)
                            </button>
                        }

                        if (resultadosSoftware.Count > 0)
                        {
                            contador += 1;

                            int id = 3;
                            string fondo = "background-color: var(--fondoBotonPequeñoTransparente);";

                            if (pestañaSeleccionada == id)
                            {
                                fondo = "background-color: var(--fondoBotonPequeño);";
                            }

                            <button @onclick="@(e => CambiarPestaña(e, id, resultadosSoftware))" class="boton-pequeño" style="@fondo padding: 12px 15px; font-size: 16px; text-align: right;">
                                @Herramientas.Idiomas.BuscarTexto(idioma, "SearchFilter4", "Header") (@resultadosSoftware.Count)
                            </button>
                        }

                        if (resultadosBundles.Count > 0 || resultadosGratis.Count > 0 || resultadosSuscripciones.Count > 0)
                        {
                            if (contador > 0)
                            {
                                <hr />
                            }

                            if (resultadosBundles.Count > 0)
                            {
                                int id = 4;
                                string fondo = "background-color: var(--fondoBotonPequeñoTransparente);";

                                if (pestañaSeleccionada == id)
                                {
                                    fondo = "background-color: var(--fondoBotonPequeño);";
                                }

                                <button @onclick="@(e => CambiarPestaña(e, id, resultadosBundles))" class="boton-pequeño" style="@fondo padding: 12px 15px; font-size: 16px; text-align: right;">
                                    @Herramientas.Idiomas.BuscarTexto(idioma, "SearchFilter5", "Header") (@resultadosBundles.Count)
                                </button>
                            }

                            if (resultadosGratis.Count > 0)
                            {
                                int id = 5;
                                string fondo = "background-color: var(--fondoBotonPequeñoTransparente);";

                                if (pestañaSeleccionada == id)
                                {
                                    fondo = "background-color: var(--fondoBotonPequeño);";
                                }

                                <button @onclick="@(e => CambiarPestaña(e, id, resultadosGratis))" class="boton-pequeño" style="@fondo padding: 12px 15px; font-size: 16px; text-align: right;">
                                    @Herramientas.Idiomas.BuscarTexto(idioma, "SearchFilter6", "Header") (@resultadosGratis.Count)
                                </button>
                            }

                            if (resultadosSuscripciones.Count > 0)
                            {
                                int id = 6;
                                string fondo = "background-color: var(--fondoBotonPequeñoTransparente);";

                                if (pestañaSeleccionada == id)
                                {
                                    fondo = "background-color: var(--fondoBotonPequeño);";
                                }

                                <button @onclick="@(e => CambiarPestaña(e, id, resultadosSuscripciones))" class="boton-pequeño" style="@fondo padding: 12px 15px; font-size: 16px; text-align: right;">
                                    @Herramientas.Idiomas.BuscarTexto(idioma, "SearchFilter7", "Header") (@resultadosSuscripciones.Count)
                                </button>
                            }
                        }

                        if (resultadosCurators.Count > 0)
                        {
                            contador += 1;

                            int id = 7;
                            string fondo = "background-color: var(--fondoBotonPequeñoTransparente);";

                            if (pestañaSeleccionada == id)
                            {
                                fondo = "background-color: var(--fondoBotonPequeño);";
                            }

                            <button @onclick="@(e => CambiarPestaña(e, id, resultadosCurators))" class="boton-pequeño" style="@fondo padding: 12px 15px; font-size: 16px; text-align: right;">
                                @Herramientas.Idiomas.BuscarTexto(idioma, "SearchFilter8", "Header") (@resultadosCurators.Count)
                            </button>
                        }
                    }
                </div>

                <div style="width: 100%; padding-right: 10px;">
                    @if (resultadosMostrar.Count > 0)
                    {
                        <Virtualize Context="juego" Items="resultadosMostrar" ItemSize="107">
                            <ItemContent>
                                @{
                                    bool usuarioTieneJuego = Herramientas.UsuarioJuegos.ComprobarSiTiene(juegosUsuario, juego);
                                    bool usuarioTieneDeseado = false;

                                    string fondoColor = string.Empty;

                                    if (usuarioTieneJuego == true)
                                    {
                                        fondoColor = "background-color: var(--fondoBien);";
                                    }
                                    else
                                    {
                                        usuarioTieneDeseado = Herramientas.Deseados.ComprobarSiEsta(usuario?.SteamWishlist, usuario?.Wishlist, usuario?.GogWishlist, juego, Juegos.JuegoDRM.NoEspecificado);

                                        if (usuarioTieneDeseado == true)
                                        {
                                            fondoColor = "background-color: var(--fondoAlerta);";
                                        }
                                    }
                                }

                                <div class="perfil-flexible-centrado" style="padding-top: 10px;">
                                    @{
                                        string imagen = "width: 230px; height: 107px;";
                                        string enlace = "/game/" + juego.Id.ToString() + "/" + Herramientas.EnlaceAdaptador.Nombre(juego.Nombre) + "/";

                                        if (pestañaSeleccionada == 7)
                                        {
                                            imagen = "width: 107px; height: 107px;";
                                            enlace = "/curator/" + juego.NombreCodigo.ToLower() + "/";
                                        }
                                    }
                                 
                                    <a class="boton-pequeño" href="@enlace" style="padding: 0px; @fondoColor">
                                        <div class="perfil-flexible-centrado">
                                            <div>
                                                <img src="@juego.Imagenes.Header_460x215" style="@imagen" />
                                            </div>

                                            <div style="width: 100%; padding-left: 20px; padding-right: 20px;">
                                                <div>
                                                    @juego.Nombre
                                                </div>

                                                @if (pestañaSeleccionada != 7)
                                                {
                                                    <div style="margin-top: 5px; font-size: 15px;">
                                                        @Herramientas.Buscador.GenerarMensaje(idioma, juego, true, true, true)
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </ItemContent>
                        </Virtualize>
                    }
                </div>
            </div>
        }
    }
</div>

@if (usuarioLogeado == true)
{
    <div style="display: flex; align-items: center; flex: 1 auto 1;">
        <div class="menu-dropdown">
            <div style="display: flex; align-items: center; font-size: 14px; cursor: pointer; gap: 15px;">
                @if (string.IsNullOrEmpty(usuario?.Avatar) == true)
                {
                    <div>@usuario?.Email</div>
                }
                else
                {
                    @if (usuario?.Avatar.ToLower().Contains(".jpg") == true || usuario?.Avatar.ToLower().Contains(".jpeg") == true || usuario?.Avatar.ToLower().Contains(".png") == true || usuario?.Avatar.ToLower().Contains(".webp") == true)
                    {
                        <img src="@usuario?.Avatar" style="max-height: 32px; max-width: 32px;" title="@usuario?.Nickname"/>
                    }
                    else
                    {
                        <div>@usuario?.Email</div>
                    }
                }

                @if (usuarioPatreon == true)
                {
                    <div style="background-color: var(--fondoMinimo); border: 1px solid var(--fondoBotonPequeño); padding: 0px 10px; height: 32px;">
                        @usuario?.PatreonCoins.ToString()
                    </div>
                }

                <i class="fa-solid fa-caret-down"></i>
            </div>

            <div class="menu-dropdown-contenido" style="right: -10px;">
                <button @onclick="@(e => AbrirCuenta(e))" class="texto-cabecera menu-dropdown-item" style="text-align: left; border: 0; width: 100%; font-size: 14px;">
                    @Herramientas.Idiomas.BuscarTexto(idioma, "Account", "Header")
                </button>

                @if (usuarioPatreon == false)
                {
                    WebApplicationBuilder builder = WebApplication.CreateBuilder();
                    string? patreonEnlace = builder.Configuration.GetValue<string>("RedesSociales:Patreon");

                    <a href="@patreonEnlace" target="_blank" style="text-decoration: none; text-align: left; border: 0; width: 100%; font-size: 14px;" class="texto-cabecera menu-dropdown-item">
                        @Herramientas.Idiomas.BuscarTexto(idioma, "Patreon", "Header")
                    </a>
                }

                <button @onclick="@(e => AbrirTiendaPatreon(e))" class="texto-cabecera menu-dropdown-item" style="text-align: left; border: 0; width: 100%; font-size: 14px;">
                    @Herramientas.Idiomas.BuscarTexto(idioma, "PatreonStore", "Header")
                </button>

                <button @onclick="@(e => Desconectar(e))" class="texto-cabecera menu-dropdown-item" style="text-align: left; border: 0; width: 100%; font-size: 14px;">
                    @Herramientas.Idiomas.BuscarTexto(idioma, "Logout", "Header")
                </button>
            </div>
        </div>
    </div>
}
else
{
    <div style="display: flex; align-items: center; flex: 1 auto 1;">
        <button class="texto-cabecera" @onclick="@(e => AbrirLogin(e))" style="text-align: left; border: 0; padding: 8px 15px; margin: 0px; font-size: 14px;">
            @Herramientas.Idiomas.BuscarTexto(idioma, "Login", "Header")
        </button>

        <button class="texto-cabecera" @onclick="@(e => AbrirRegistro(e))" style="text-align: left; border: 0; padding: 8px 15px; margin: 0px; font-size: 14px;">
            @Herramientas.Idiomas.BuscarTexto(idioma, "Register", "Header")
        </button>
    </div>
}

@code {

    #nullable disable

    [Parameter]
    public string idioma { get; set; }

    [Parameter]
    public Usuario usuario { get; set; }

    [Parameter]
    public bool usuarioLogeado { get; set; }

    private bool usuarioPatreon = false;
    private Herramientas.UsuarioListadosJuegos juegosUsuario = new Herramientas.UsuarioListadosJuegos();

    [Parameter]
    public string ubicacionEnlace { get; set; }

    private SqlConnection conexion = new SqlConnection();

    private string adminMensaje = string.Empty;

    protected override void OnInitialized()
    {
        if (usuarioLogeado == true)
        {
            usuarioPatreon = Herramientas.Patreon.VerificarActivo(usuario.PatreonLastCheck);
            juegosUsuario = Herramientas.UsuarioJuegos.Cargar(usuario);

            if (BaseDatos.Usuarios.Buscar.RolDios(usuario.Id) == true)
            {
                adminMensaje = "Admin";

                if (conexion == null)
                {
                    conexion = Herramientas.BaseDatos.Conectar();
                }
                else
                {
                    if (conexion.State != System.Data.ConnectionState.Open)
                    {
                        conexion = Herramientas.BaseDatos.Conectar();
                    }
                }

                using (conexion)
                {
                    int nuevosCorreosDeals = int.Parse(BaseDatos.Admin.Buscar.Dato("correos", conexion));
                    int nuevosCorreosApps = int.Parse(BaseDatos.Admin.Buscar.Dato("correos2", conexion));

                    if (nuevosCorreosDeals > 0 || nuevosCorreosApps > 0)
                    {
                        adminMensaje = adminMensaje + " - Correo Nuevo";
                    }
                }
            }
        }
    }

    private void Inicio(MouseEventArgs e)
    {
        NavManager.NavigateTo("/", true);
    }

    private void Desconectar(MouseEventArgs e)
    {
        NavManager.NavigateTo("/account/logout", true, false);
    }

    #region Buscador

    private bool encontroAlgo = false;
    private List<Juegos.Juego> resultadosMostrar = new List<Juegos.Juego>();
    private List<Juegos.Juego> resultadosJuegos = new List<Juegos.Juego>();
    private List<Juegos.Juego> resultadosDLCs = new List<Juegos.Juego>();
    private List<Juegos.Juego> resultadosBandasSonoras = new List<Juegos.Juego>();
    private List<Juegos.Juego> resultadosSoftware = new List<Juegos.Juego>();
    private List<Juegos.Juego> resultadosBundles = new List<Juegos.Juego>();
    private List<Juegos.Juego> resultadosGratis = new List<Juegos.Juego>();
    private List<Juegos.Juego> resultadosSuscripciones = new List<Juegos.Juego>();
    private List<Juegos.Juego> resultadosCurators = new List<Juegos.Juego>();

    private bool enseñarBuscador = false;

    private void MostrarBuscador(MouseEventArgs e)
    {
        if (enseñarBuscador == false)
        {
            enseñarBuscador = true;
        }
        else
        {
            enseñarBuscador = false;
        }
    }

    private void AdiosFocusBuscador()
    {
        if (string.IsNullOrEmpty(cadenaBusqueda) == true)
        {
            enseñarBuscador = false;
        }
    }

    private string cadenaBusqueda = string.Empty;

    private void TextoCambiaBuscador(ChangeEventArgs e)
    {
        cadenaBusqueda = e.Value.ToString();
        cadenaBusqueda = cadenaBusqueda.Replace("'", null);

        if (cadenaBusqueda.Trim().Length > 3)
        {
            if (conexion == null)
            {
                conexion = Herramientas.BaseDatos.Conectar();
            }
            else
            {
                if (conexion.State != System.Data.ConnectionState.Open)
                {
                    conexion = Herramientas.BaseDatos.Conectar();
                }
            }

            using (conexion)
            {
                pestañaSeleccionada = -1;

                List<Juegos.Juego> resultadosGestor = BaseDatos.Juegos.Buscar.Nombre(cadenaBusqueda, conexion, 50, false);

                resultadosJuegos.Clear();
                resultadosDLCs.Clear();
                resultadosBandasSonoras.Clear();
                resultadosSoftware.Clear();

                resultadosBundles.Clear();
                resultadosGratis.Clear();
                resultadosSuscripciones.Clear();
                resultadosCurators.Clear();

                if (resultadosGestor != null)
                {
                    if (resultadosGestor.Count > 0)
                    {
                        foreach (var resultado in resultadosGestor)
                        {
                            if (resultado.Tipo == Juegos.JuegoTipo.Game)
                            {
                                resultadosJuegos.Add(resultado);
                            }
                            else if (resultado.Tipo == Juegos.JuegoTipo.DLC)
                            {
                                resultadosDLCs.Add(resultado);
                            }
                            else if (resultado.Tipo == Juegos.JuegoTipo.Music)
                            {
                                resultadosBandasSonoras.Add(resultado);
                            }
                            else if (resultado.Tipo == Juegos.JuegoTipo.Software)
                            {
                                resultadosSoftware.Add(resultado);
                            }

                            if (Herramientas.Buscador.ComprobarBundles(resultado) == true)
                            {
                                resultadosBundles.Add(resultado);
                            }

                            if (Herramientas.Buscador.ComprobarGratis(resultado) == true)
                            {
                                resultadosGratis.Add(resultado);
                            }

                            if (Herramientas.Buscador.ComprobarSuscripcion(resultado) == true)
                            {
                                resultadosSuscripciones.Add(resultado);
                            }
                        }
                    }
                }

                if (resultadosJuegos != null)
                {
                    if (resultadosJuegos.Count > 0)
                    {
                        encontroAlgo = true;

                        resultadosJuegos = resultadosJuegos.Where(x => x.Analisis != null).Where(x => x.Analisis.Cantidad != null).OrderByDescending(x => int.Parse(x.Analisis.Cantidad.Replace(",", null))).
                        ThenBy(x => x.NombreCodigo.IndexOf(Herramientas.Buscador.LimpiarNombre(cadenaBusqueda)) > 0).Concat(resultadosJuegos.Where(x => x.Analisis != null && x.Analisis.Porcentaje == null && x.Analisis.Cantidad == null)).Concat(resultadosJuegos.Where(x => x.Analisis == null)).ToList();

                        if (pestañaSeleccionada == -1)
                        {
                            pestañaSeleccionada = 0;
                            resultadosMostrar = resultadosJuegos;
                        }
                    }
                }

                if (resultadosDLCs != null)
                {
                    if (resultadosDLCs.Count > 0)
                    {
                        encontroAlgo = true;

                        resultadosDLCs = resultadosDLCs.Where(x => x.Analisis != null).Where(x => x.Analisis.Cantidad != null).OrderByDescending(x => int.Parse(x.Analisis.Cantidad.Replace(",", null))).
                        ThenBy(x => x.NombreCodigo.IndexOf(Herramientas.Buscador.LimpiarNombre(cadenaBusqueda)) > 0).Concat(resultadosDLCs.Where(x => x.Analisis != null && x.Analisis.Porcentaje == null && x.Analisis.Cantidad == null)).Concat(resultadosDLCs.Where(x => x.Analisis == null)).ToList();

                        if (pestañaSeleccionada == -1)
                        {
                            pestañaSeleccionada = 1;
                            resultadosMostrar = resultadosDLCs;
                        }
                    }
                }

                if (resultadosBandasSonoras != null)
                {
                    if (resultadosBandasSonoras.Count > 0)
                    {
                        encontroAlgo = true;

                        resultadosBandasSonoras = resultadosBandasSonoras.Where(x => x.Analisis != null).Where(x => x.Analisis.Cantidad != null).OrderByDescending(x => int.Parse(x.Analisis.Cantidad.Replace(",", null))).
                        ThenBy(x => x.NombreCodigo.IndexOf(Herramientas.Buscador.LimpiarNombre(cadenaBusqueda)) > 0).Concat(resultadosBandasSonoras.Where(x => x.Analisis != null && x.Analisis.Porcentaje == null && x.Analisis.Cantidad == null)).Concat(resultadosBandasSonoras.Where(x => x.Analisis == null)).ToList();

                        if (pestañaSeleccionada == -1)
                        {
                            pestañaSeleccionada = 2;
                            resultadosMostrar = resultadosBandasSonoras;
                        }
                    }
                }

                if (resultadosSoftware != null)
                {
                    if (resultadosSoftware.Count > 0)
                    {
                        encontroAlgo = true;

                        resultadosSoftware = resultadosSoftware.Where(x => x.Analisis != null).Where(x => x.Analisis.Cantidad != null).OrderByDescending(x => int.Parse(x.Analisis.Cantidad.Replace(",", null))).
                        ThenBy(x => x.NombreCodigo.IndexOf(Herramientas.Buscador.LimpiarNombre(cadenaBusqueda)) > 0).Concat(resultadosSoftware.Where(x => x.Analisis != null && x.Analisis.Porcentaje == null && x.Analisis.Cantidad == null)).Concat(resultadosSoftware.Where(x => x.Analisis == null)).ToList();

                        if (pestañaSeleccionada == -1)
                        {
                            pestañaSeleccionada = 3;
                            resultadosMostrar = resultadosSoftware;
                        }
                    }
                }

                if (resultadosBundles.Count > 0)
                {
                    resultadosBundles = resultadosBundles.Where(x => x.Analisis != null).Where(x => x.Analisis.Cantidad != null).OrderByDescending(x => int.Parse(x.Analisis.Cantidad.Replace(",", null))).
                    ThenBy(x => x.NombreCodigo.IndexOf(Herramientas.Buscador.LimpiarNombre(cadenaBusqueda)) > 0).Concat(resultadosSoftware.Where(x => x.Analisis != null && x.Analisis.Porcentaje == null && x.Analisis.Cantidad == null)).Concat(resultadosSoftware.Where(x => x.Analisis == null)).ToList();
                }

                if (resultadosGratis.Count > 0)
                {
                    resultadosGratis = resultadosGratis.Where(x => x.Analisis != null).Where(x => x.Analisis.Cantidad != null).OrderByDescending(x => int.Parse(x.Analisis.Cantidad.Replace(",", null))).
                    ThenBy(x => x.NombreCodigo.IndexOf(Herramientas.Buscador.LimpiarNombre(cadenaBusqueda)) > 0).Concat(resultadosSoftware.Where(x => x.Analisis != null && x.Analisis.Porcentaje == null && x.Analisis.Cantidad == null)).Concat(resultadosSoftware.Where(x => x.Analisis == null)).ToList();
                }

                if (resultadosSuscripciones.Count > 0)
                {
                    resultadosSuscripciones = resultadosSuscripciones.Where(x => x.Analisis != null).Where(x => x.Analisis.Cantidad != null).OrderByDescending(x => int.Parse(x.Analisis.Cantidad.Replace(",", null))).
                    ThenBy(x => x.NombreCodigo.IndexOf(Herramientas.Buscador.LimpiarNombre(cadenaBusqueda)) > 0).Concat(resultadosSoftware.Where(x => x.Analisis != null && x.Analisis.Porcentaje == null && x.Analisis.Cantidad == null)).Concat(resultadosSoftware.Where(x => x.Analisis == null)).ToList();
                }

                List<BaseDatos.Curators.Curator> resultadosCurators2 = BaseDatos.Curators.Buscar.Nombre(cadenaBusqueda, conexion);

                if (resultadosCurators2.Count > 0)
                {
                    encontroAlgo = true;

                    foreach (var curator in resultadosCurators2)
                    {
                        Juegos.Juego juego = new Juegos.Juego();
                        juego = Juegos.JuegoCrear.Generar();

                        juego.Nombre = curator.Nombre;
                        juego.Imagenes.Header_460x215 = curator.Imagen;
                        juego.NombreCodigo = curator.Slug;

                        resultadosCurators.Add(juego);
                    }

                    resultadosCurators = resultadosCurators.OrderBy(x => x.Nombre).ToList();

                    if (pestañaSeleccionada == -1)
                    {
                        pestañaSeleccionada = 7;
                        resultadosMostrar = resultadosCurators;
                    }
                }
            }
        }
        else
        {
            encontroAlgo = false;
        }
    }

    private int pestañaSeleccionada = 0;

    private void CambiarPestaña(MouseEventArgs e, int pestaña, List<Juegos.Juego> resultadosElegidos)
    {
        pestañaSeleccionada = pestaña;
        resultadosMostrar = resultadosElegidos;
    }

    #endregion

    private void AbrirLogin(MouseEventArgs e)
    {
        NavManager.NavigateTo("/account/login", true);
    }

    private void AbrirRegistro(MouseEventArgs e)
    {
        NavManager.NavigateTo("/account/register", true);
    }

    private void AbrirCuenta(MouseEventArgs e)
    {
        NavManager.NavigateTo("/account/", true);
    }

    private void AbrirTiendaPatreon(MouseEventArgs e)
    {
        NavManager.NavigateTo("/account/patreonstore/", true);
    }
}

